{% load pagination_tags %} {% autoescape off %} {% if most_viewed_news_category %}
<ul class="list-unstyled">

    {% if request %}{% autopaginate most_viewed_news_category 20 %}{% endif %} {% for new in most_viewed_news_category %}
    <li>

        <!-- mini news-->
        <article class="home-news secundary">
            <div class="article--date">
                <span>{{ new.pub_date|date:"d" }}</span>
                <span>{{ new.pub_date|date:"M" }}</span>
            </div>
            <h1 class="title article--title">
								<a href="{{ new.get_absolute_url }}">{{ new.title|truncatewords:20 }}</a>
							</h1>
            <div class="article--content">
                {{ new.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}
            </div>
            {% if new.category.all %}
            <footer class="article--footer">
                <div class="box-categories">
                    <i class="fa fa-tags pull-right"></i>
                    <ul class="box-categories--list list-unstyled list-inline  text-right">
                        {% for category in new.macrocategory.all %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                        </li>
                        {% endfor %} {% for category in new.category.all %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </footer>
            {% endif %}
         </article>

    </li>
    {% endfor %} {% if request %}{% paginate %}{% endif %}
</ul>
{% endif %} {% endautoescape %}


