{% extends 'news/news_basic.html' %}
{% load news_tags %}
{% load i18n %}

{% block title %} {{ news.title }} | {{ block.super }} {% endblock %}
{% block meta_description %} {{ news.body|striptags|truncatewords:"30" }} | {{ block.super }} {% endblock %}
{% block meta_keywords %} {{ news.body|striptags|truncatewords:"30" }} | {{ block.super }} {% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ news.title }} - Confesercenti" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ request.get_host }}{{ news.get_absolute_url }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ news.image.url }}" />
{% endblock %}

{% block content %}
<div class="col-sm-8">
    <div class="article-page content">
        <article class="article">
            <span class="article--back">
                <a href="/"><i class="fa fa-angle-double-left"></i> </a>
            </span>
            <!-- HEADER -->
            <header class="article--header">
                <!-- TITLE-->
                <h2 class="article--title">{{ news.title }}</h2>
                <!-- DATE-->
                <div class="article--date">
                    <span class="date day">{{ news.pub_date|date:"d" }}</span>
                    <span class="date month">{{ news.pub_date|date:"M" }}</span>
                    <span class="date year">{{ news.pub_date|date:"Y" }}</span>
                </div>
                <!-- IMG-->
                <picture class="article--img-wrap">

                    <img class="article--img" src="{{ news.image.url }}" alt="{{ news.title }}" />

                </picture>
                <!-- SOCIALS -->
                <section class="socials">
                  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54bd479b063c897a" async="async"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
                    
                  

                </section>
            </header>
            <!-- CONTENT -->
            <div class="article--content">
                {{ news.body|safe|urlizetrunc:20 }}
            </div>
            <!-- DOCUMENTS -->
            {% if news.documents.all %}
            <section class="article--attachement">
                <header>
                    <h2><i class="fa fa-cloud-download"></i> Allegati</h2>
                </header>
                <ul class="article--attachement-list unstyled-list pdf_PI pvt">
                    {% for document in news.documents.all %}
                    <li>
                        <h3><a target="_blank" href="{{ document.get_absolute_url }}"><i class="fa fa-paperclip"></i> &nbsp; {{ document }}</a></h3>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}

            <!-- CATEGORIE -->
           
                {% if news.category.all or news.macrocategory.all %}
             <section class="categories">
                 
                <h2 class="section--title">Categorie</h2>
                 <i class="fa fa-tags pull-right"></i>
                 <ul class="box-categories--list  list-unstyled list-inline text-right">
                    {% for category in news.macrocategory.all %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                    </li>
                    {% endfor %} {% for category in news.category.all %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                 </section>
                {% endif %}
            
        </article>
        <div style="clear:both"></div>
        <section class="comments">
            {% block disqus %} {% include "includes/disqus.html" %} {% endblock %}
        </section>
    </div>
</div>


<!-- COLONNA BANNERS   -->
<div class="col-sm-4 sidebar-dx">
    
    {% block right-col %} {% include "includes/right-col.html" %} {% endblock %}
    {% block services %} {% include "includes/services.html" %} {% endblock %} 
</div>


{% endblock %}