{% extends 'news/news_basic.html' %}
{% load i18n %}
{% load news_tags %}

{% block links %}
	<ul>
		<li><a href="feeds/rss/" title="rss"><img src="{{ MEDIA_URL }}icons/rss_feed.png" alt="" /></a></li>
		<li><a href="feeds/atom/" title="atom"><img src="{{ MEDIA_URL }}icons/atom_feed.png" alt="" /></a></li>
	</ul>
{% endblock %}

 {% block news %}
 	{% for new in news %}
		{{ new }}
	{% endfor %}
  
 
                        <div class="box_news_home">
                           
                           
                            <div class="date_news radius_6">
                                <a href="#"><span style="font-size:2.4em" class="date">02</span><br/>
                                <span style="font-size:1.3em" class="date">MAR</span></a>                                
                            </div>
                            <h2 class="title_news"><a href="#"> In uscita la guida Mille Sapori di Bergamo</a></h2>  
                            <div class="box_image_news">
                                
                                <a class="fancybox" href="#"><img src="{{ MEDIA_URL }}images/news/1.jpg" alt="" /></a>
                                <div id="socials">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a><br/><br/><br/><br/>
                                      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                      <a class="addthis_button_tweet"></a>
                                    </div>
                                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4dbbeae24213cda8"></script>
                                    <!-- AddThis Button END -->
                                    
                                </div>
                            </div>
                            <div class="news_content_home">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                <p>Sed commodo fermentum felis quis aliquet. Aenean ornare, metus vel faucibus posuere, tortor elit vulputate est, non laoreet ipsum lacus non arcu. 
                                    Fusce dignissim, ante vitae pulvinar iaculis, ipsum purus dictum erat, sed pulvinar urna leo sit amet magna. Nulla sed imperdiet metus. Vivamus viverra 
                                    vestibulum fringilla. Curabitur ut elementum dui. Vestibulum ac ipsum ipsum, eget rutrum eros. Vivamus fermentum tortor id urna euismod blandit.
                                     Nulla pharetra molestie molestie. Vestibulum a mattis orci. Quisque auctor pretium orci. </p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                <p>Sed commodo fermentum felis quis aliquet. Aenean ornare, metus vel faucibus posuere, tortor elit vulputate est, non laoreet ipsum lacus non arcu. 
                                    Fusce dignissim, ante vitae pulvinar iaculis, ipsum purus dictum erat, sed pulvinar urna leo sit amet magna. Nulla sed imperdiet metus. Vivamus viverra 
                                    vestibulum fringilla. Curabitur ut elementum dui. Vestibulum ac ipsum ipsum, eget rutrum eros. Vivamus fermentum tortor id urna euismod blandit.
                                     Nulla pharetra molestie molestie. Vestibulum a mattis orci. Quisque auctor pretium orci. </p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                <p>Sed commodo fermentum felis quis aliquet. Aenean ornare, metus vel faucibus posuere, tortor elit vulputate est, non laoreet ipsum lacus non arcu. 
                                    Fusce dignissim, ante vitae pulvinar iaculis, ipsum purus dictum erat, sed pulvinar urna leo sit amet magna. Nulla sed imperdiet metus. Vivamus viverra 
                                    vestibulum fringilla. Curabitur ut elementum dui. Vestibulum ac ipsum ipsum, eget rutrum eros. Vivamus fermentum tortor id urna euismod blandit.
                                     Nulla pharetra molestie molestie. Vestibulum a mattis orci. Quisque auctor pretium orci. </p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                <p>Sed commodo fermentum felis quis aliquet. Aenean ornare, metus vel faucibus posuere, tortor elit vulputate est, non laoreet ipsum lacus non arcu. 
                                    Fusce dignissim, ante vitae pulvinar iaculis, ipsum purus dictum erat, sed pulvinar urna leo sit amet magna. Nulla sed imperdiet metus. Vivamus viverra 
                                    vestibulum fringilla. Curabitur ut elementum dui. Vestibulum ac ipsum ipsum, eget rutrum eros. Vivamus fermentum tortor id urna euismod blandit.
                                     Nulla pharetra molestie molestie. Vestibulum a mattis orci. Quisque auctor pretium orci. </p>
                            </div>
                                <div class="categories">
                                    <ul class="categories">
                                        <li><a href="#">asso</a></li>
                                        <li><a href="#">ass fidancken</a></li>
                                        <li><a href="#">alain ass</a></li>
                                        <li><a href="#">ass lombarda</a></li>
                                        <li><a href="#">ca den ass</a></li>                                    
                                    </ul>
                                </div>
                            <div style="clear:both"></div>                       
                        </div>
                       
                       <div class="box_news_home_sec ">
                           
                           <!-- mini news-->
                            <div class="secundary ">
                                <div style="text-align:center;float:left;width:45px;height:45px;background-color:#3f3f3f;padding:6px 10px 10px;color:white;margin:10px;
                                            -moz-border-radius: 10px 10px 10px 10px;">
                                    <a href="#"><span class="date" style="font-size:2.4em">02</span><br>
                                    <span class="date" style="font-size:1.3em">MAR</span></a>                                
                                </div>
                                <h2 class="title_news_sec" style="color:#84a3a6;font-size:1.3em;padding-top:10px"><a href="#"> " In uscita la guida Mille Sapori di Bergamo</a></h2>  
                                <div class="news_content_home_secundary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                   
                                </div>
                                <div style="clear:both"></div> 
                            </div> 
                            <!-- mini news-->
                            <div class="secundary ">
                                <div style="text-align:center;float:left;width:45px;height:45px;background-color:#3f3f3f;padding:6px 10px 10px;color:white;margin:10px;
                                            -moz-border-radius: 10px 10px 10px 10px;">
                                    <a href="#"><span class="date" style="font-size:2.4em">02</span><br>
                                    <span class="date" style="font-size:1.3em">MAR</span></a>                                
                                </div>
                                <h2 class="title_news_sec" style="color:#84a3a6;font-size:1.3em;padding-top:10px"><a href="#">In uscita la guida Mille Sapori di Bergamo</a></h2>  
                                <div class="news_content_home_secundary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                   
                                </div>
                                <div style="clear:both"></div> 
                            </div>
                            <!-- mini news-->
                            <div class="secundary ">
                                <div style="text-align:center;float:left;width:45px;height:45px;background-color:#3f3f3f;padding:6px 10px 10px;color:white;margin:10px;
                                            -moz-border-radius: 10px 10px 10px 10px;">
                                    <a href="#"><span class="date" style="font-size:2.4em">02</span><br>
                                    <span class="date" style="font-size:1.3em">MAR</span></a>                                
                                </div>
                                <h2 class="title_news_sec" style="color:#84a3a6;font-size:1.3em;padding-top:10px"><a href="#">In uscita la guida Mille Sapori di Bergamo</a></h2>  
                                <div class="news_content_home_secundary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus leo, vestibulum ac congue lobortis, tempus quis nisl. </p>
                                   
                                </div>
                                <div style="clear:both"></div> 
                            </div>                     
                        </div>
                       
 {% endblock %}
 
{% block disqus %}
    {% include "includes/disqus.html" %}
{% endblock %}