{% extends 'news/news_basic.html' %}
{% load news_tags %}
{% load i18n %}

{% block title %}
   {% trans 'Admin Notizie' %} | {{ block.super }}
{% endblock %}

{% block extra_js %}
	{% comment %}
	<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
	{% endcomment %}
	<script type="text/javascript">
		$(document).ready(function() {
			{% for new in news_list %}
				$("#news_list_{{new.id}}").draggable();
			    $("#news_list_{{new.id}}").droppable({
			      drop: function() { alert('dropped'); }
			    });
			{% endfor %}
		  });
		
		
		$('.add').live('click', function () {
			$(this).parents('li').clone().prependTo('#page_news');
		});
		
		function add_to_form(value) {
			alert('add value : ' + value);
		}
		
		function remove_from_form(value) {
			alert('remove value : ' + value);
		}

		
		$('.delete').live('click', function () {
			$(this).parents('li').remove();
		});

		$('.down_button').live('click', function () {
		    var rowToMove = $(this).parents('li.MoveableRow:first');
		    var next = rowToMove.next('li.MoveableRow')
		    if (next.length == 1) { next.after(rowToMove); }
		});
		 
		$('.up_button').live('click', function () {
			var rowToMove = $(this).parents('li.MoveableRow:first');
		    var prev = rowToMove.prev('li.MoveableRow')
		    if (prev.length == 1) { prev.before(rowToMove); }	
		});
		
		/*
		$(document).ready(function() {  
			$("#submit_button").click(function() {
				
				alert('pippo');
			
				var dataString = 'news='+ $('#id_news').val();
 				//alert (dataString);return false;  
				 $.ajax({  
					type: "POST",  
					url: "/news/news_admin/",  
					data: dataString,  
					success: function() {  
						$('#message').html("<h2>Pagina aggiornata.</h2>")  
				   }  
				 });  
				return false; 
      		});
    	});
    	*/
		
	</script>
{% endblock %}

{% block body %}
	<div class="content">
		<h1>News Inserite</h1>
			<div id="news_list" style="width:400px; height:600px; float:left; margin-right: 20px;">
				<ul id="news_list" >
					{% for new in news_list %}
						<li id="news_list_{{new.id}}" value="{{ new.id }}" {% if new in page.get_page_news %}class="disabled"{% endif %}>
							{% include 'includes/news_on_line_admin.html' %}
							<div>
								Opzioni: 
								<ul><li id="news_list_{{new.id}}_add" class="add">Aggiungi</li></ul>
							</div>
							
							<script type="text/javascript">
								$('#news_list_{{new.id}}_add').live('click', function () {
									//rimuove il tasto add per impedire la sua duplicazione
									$('#news_list_{{new.id}}_add').remove();
									
									$('#news_list_{{new.id}}').clone().find("*[id]").andSelf().each(function(){ 
										$(this).attr("id", "page_news_{{new.id}}"); 
									}).attr("class", "MoveableRow").prependTo('#page_news');
									
									//clona la parte utile del div
									/*
									$(this).parents('li').clone().find("*[id]").andSelf().each(function(){ 
										$(this).parents('li').attr("id", "page_news_{{new.id}}"); 
									}).attr("class", "MoveableRow").prependTo('#page_news');
									*/
									
									//aggiunge i comandi necessari all'admin
									$('#page_news_{{new.id}}').append('<div><ul> <li class="delete">Rimuovi</li> <li class="up_button">Alza</li> <li class="down_button">Abbassa</li> </ul> </div>');
									
									$('#page_news_{{new.id}} .delete').live('click', function () {
										$(this).parents('li').remove();
									});
							
									$('#page_news_{{new.id}} .down_button').live('click', function () {
									    var rowToMove = $(this).parents('li.MoveableRow:first');
									    var next = rowToMove.next('li.MoveableRow');
										//alert('next : ' + next);
									    //if (next.length == 1) { next.after(rowToMove); }
									});
									 
									$('#page_news_{{new.id}} .up_button').live('click', function () {
										var rowToMove = $(this).parents('li.MoveableRow:first');
									    var prev = rowToMove.prev('li.MoveableRow');
									    //if (prev.length == 1) { prev.before(rowToMove); }	
									});
									
									//nasconde la notizia dall'elenco delle notizie possibili 
									$('#news_list_{{new.id}}').hide();
										
								});
							</script>
						</li>
					{% endfor %}
				</ul>
			</div>
			<h1>News In pagina</h1>
			<div id="message"></div>
			<div id="news_in_pagelist" style="width:400px; height:600px; float:left; margin-left: 20px;">
				<ul id="page_news">
					{% for new in page.get_page_news %}
						<li id="page_news_{{new.id}}" value="{{ new.id }}" class="MoveableRow">
							{% include 'includes/news_on_line_admin.html' %}
							<div>
								Opzioni: 
								<ul>
									<li id="delete_{{new.id}}" class="delete">Rimuovi</li>
									<li id="up_{{new.id}}" class="up_button">Alza</li> 
									<li id="down_{{new.id}}" class="down_button">Abbassa</li>
								</ul>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		
		<form id="news_form" action="/news/news_admin/" method="POST">
			{% csrf_token %}
			<div id="news_select_id" style="display:none;">
				{{ news_form }}
			</div>
			<input id="submit_button" type="submit" value="Salva">
		</form>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}