{% extends 'news/news_basic.html' %}

{% load i18n %}
{% load news_tags %}

{% block links %}
	<ul>
		<li><a href="feeds/rss/" title="rss"><img src="{{ MEDIA_URL }}icons/rss_feed.png" alt="" /></a></li>
		<li><a href="feeds/atom/" title="atom"><img src="{{ MEDIA_URL }}icons/atom_feed.png" alt="" /></a></li>
	</ul>
{% endblock %}

{% block news %}
	{% if most_viewed_news_category %}  
		{% include "news/most_viewed_news.html" %}
	{% else %}
	<div class="content" style="padding:20px">
		<h2>{% trans 'Siamo spiacenti ma la ricerca non ha prodotto nessun risultato' %}</h2>
    </div>
	{% endif %}                      
{% endblock %}
