{% extends 'courses/base_courses.html' %}
{% load i18n %}

{% block title %}
   {{ course.title }} | {{ block.super }}
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="{{ news.title }} - Confesercenti"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ news.get_absolute_url }}"/>
    <meta property="og:image" content="{{ news.image.url }}"/>
{% endblock %}

{% block content %}
<div id="two-cols">  
    <div class="content">
   
        	<span class="news-back radius_6" style="margin: 5px 20px 5px 10px;">
                <a href="../../">&laquo; </a>
            </span>
	
	
	 <!--div class="date_news">
        <a href="#"><span style="font-size:2.5em" class="date">{{ course.created_at|date:"d" }}</span><br/>
                                <span style="font-size:1.3em" class="date">{{ course.created_at|date:"M" }}</span></a>                                
     </div-->
     <h2 class="title_news detail" style="clear:none !important">{{ course.title }}</h2> 
	
	  <div class="box_image_news">
                                
                                <img src="{{ course.image.url_500x220 }}" alt="{{ course.title }}" />
                                <div id="socials">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a><br/><br/><br/><br/>
                                      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                      <a class="addthis_button_tweet"></a>
                                    </div>
                                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4dbbeae24213cda8"></script>
                                    <!-- AddThis Button END -->
                                    
                                </div>
    </div>
	<div class="news_content_home">
		{{ course.body|safe|urlizetrunc:20 }}
	</div>
{% comment %}
	<div class="categories" style="clear:both;">
                        {% if course.category.all %}
                            <ul class="categories">
                                {% for category in course.category.all %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
     </div>
{% endcomment %}
<div class="categories" style="clear:both;">
	{% if course.category.all or course.macrocategory.all %}
		<ul class="categories">
			{% for category in course.macrocategory.all %}
                <li>
                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                </li>
			{% endfor %}
            {% for category in course.category.all %}
                <li>
                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                </li>
            {% endfor %}
		</ul>
	{% endif %}
</div>
 <div style="clear:both"></div> 
 <!--div style="padding:20px">
 {% block disqus %}
    {% include "includes/disqus.html" %}
{% endblock %}
</div-->
</div>
</div>
                <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
               
</div>
{% endblock %}




