{% extends 'courses/base_courses.html' %}
{% load i18n %}


 {% block content %}

<div id="two-cols">
<div class="content left">
    
    <div style="position: relative;left: 560px;top: 30px;   ">
          <a class="btn_black" href="http://www.confesercenti.bergamo.it/contact_form/corsi/">
          <span>Richiesta informazioni corsi »</span></a></div>
          
     <h2>{% trans "I Corsi Cescot" %}</h2>
     <h2 class="titleflat">Premessa </h2>
     <p>Tutti i corsi sono a numero chiuso e possono usufruire di <a href="http://www.confesercenti.bergamo.it/cescot/finanziamento/" title="finanziamenti pubblici" >finanziamenti pubblici</a> destinati alla formazione.</p>
     <p>L'avvio delle singole attività formative è subordinato al raggiungimento del numero minimo di iscritti stabilito dalla Direzione.</p>
     <p>Corsi realizzati con il contributo della Camera di Commercio e con la collaborazione di Bergamo Sviluppo.</p>	
<br/>
<hr>
<br/>
<p><i>In tempi di crisi stiamo percependo la necessità di un nuovo impulso innovativo che possa segnare una svolta nelle organizzazioni e nel singolo. Dobbiamo rinnovarci e ri-formarci in ogni ambito e ad ogni livello, primo fra tutti quello dell'e-commerce e delle nuove tecnologie che occuperanno presto una grande fetta di mercato.</i> 
</p>

<p><i>In quest'ottica Confesercenti ha chiesto ad ASSONET, con la collaborazione di Cescot e Patronato San Vincenzo, di proporre iniziative nel campo della formazione permettendo alle aziende e ai privati di trovare valide risposte alle problemativhe ed oppportunità che le nuove tecnologie possono offrire.</i>
    </p>
    
<p>Di seguito l'elenco dei corsi di formazione proposti:</p>

        <div class="cescot_courses_listing">	
        {% regroup courses by type as courses_list %}
                 <ul class="category_list_outer">	
                    {% for course_grouped in courses_list %}	
                   
                    <li>
                        <h2 class="title_flat clear">{{ course_grouped.grouper }}</h2>
                		
                		<ul class="courses_list">
                			{% for course in course_grouped.list %}
                			<li>		    
                			    <div class="course_box">
                			       <div class="course_box_img">
                			            <a  title="{{ course.title }}" href="{{ course.get_absolute_url }}"><img alt="{{ course }}" src="{{ course.image.url }}" />						
        								</a>
                			        </div>  
                			         <div class="course_box_title">
                			             <span>
                                            <h2><a title="{{ course.title }}" href="{{ course.get_absolute_url }}">
                                            {{ course.title }}
                                            </a></h2>
                                        </span>
                                    </div>  
                			     </div> 
                			</li> 
                			{% endfor %}			
                		</ul>
                	</li>
                    {% endfor %}
                  </ul>	                      
        </div>						  
</div>						  
</div>	
 <!-- COLONNA BANNERS   --> 
<div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
<div style="clear:both"></div>      					  
 {% endblock %}
 