/*LINK GENERALI*/
body					{font-family: 'Lucida Grande',Verdana,Arial,Tahoma; font-size: 11px; color: #0060ae; margin: 0px 0px 0px 0px;}

A						{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;letter-spacing:0px;color:#0060ae;text-decoration:underline;}
A:link					{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;letter-spacing:0px;color:#0060ae;text-decoration:underline;}
A:visited				{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;letter-spacing:0px;color:#0060ae;text-decoration:underline;}
A:active				{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;letter-spacing:0px;color:#0060ae;text-decoration:underline;}
A:hover					{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;letter-spacing:0px;color:#0060ae;text-decoration:underline;}

H1						{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;color:#0060ae;font-weight:bold;text-decoration:none;margin:0px;display:inline;}
H2						{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:18px;color:#cc0000;font-weight:normal;text-decoration:none;margin:0px;display:inline;}
H3						{font-family: 'Lucida Grande',Verdana,Arial,Tahoma; font-size: 14px; color: #990000; margin:0px;display:inline;}

A.appuntamenti_lnk			{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;color:#0060ae;text-decoration:none;}
A.appuntamenti_lnk:link		{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;color:#0060ae;text-decoration:none;}
A.appuntamenti_lnk:visited	{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;color:#0060ae;text-decoration:none;}
A.appuntamenti_lnk:active	{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;color:#0060ae;text-decoration:none;}
A.appuntamenti_lnk:hover	{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;color:#9ccb3b;text-decoration:none;}

.aziende_righe			{height:30px;color:#9ccb3b;}
.aziende_nomi			{color:#0060ae;}
.aziende_tel			{color:#757575;}
.righe					{height:30px;color:#9ccb3b;text-align:right;}
.righe_textarea			{color:#9ccb3b;text-align:right;padding-top:3px;padding-right:5px;}
.uscite_tit				{color:#9ccb3b;height:30px;background-color:#eeeeee;padding-left:2px;font-weight:bold;}
.uscite_elenco			{color:#0060ae;height:30px;background-color:#eeeeee;padding-left:2px;}
.errore					{height:60px;color:#FF0000;}

/*Form*/
form					{margin:0px;display:inline;}
.inse					{color: #0060ae;height: 17px;padding: 4px 0px 0px 4px;background: url("../img/bgInput.gif") no-repeat;font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;border:1px solid #7cadd5;}
.inse_textarea			{color: #0060ae;height: 100px;padding: 4px 0px 0px 4px;background: url("../img/bgInput_txt.gif") no-repeat;font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;border:1px solid #7cadd5;}
.INVALIDINPUT			{color: #0060ae;height: 17px;padding: 4px 0px 0px 4px;background: url("../img/bgInput.gif") no-repeat;font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:11px;border:1px solid #ff0000;}
.INVALIDINPUT_SEL		{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:12px;height: 23px;background: url("../img/bgInput.gif") no-repeat;padding: 3px 0px 0px 0px;letter-spacing:0px;color:#000000;text-decoration:none;border:1px solid #cc0000;}
.insehd					{font-family:'Lucida Grande',Verdana,Arial,Tahoma;background-color: #FFFFFF;font-size:12px;border:1px solid #7f9db9;letter-spacing:0px;color:#000000;height:15px;;text-decoration:none;}
.paginazione_ric		{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:12px;height:18px;border:1px solid #cc0000;font-weight:bold;letter-spacing:0px;color:#000000;text-decoration:none;background-color:#eeeeee;}
.inse_foto				{font-family:'Lucida Grande',Verdana,Arial,Tahoma;background-color: #FFFFFF;font-size:12px;border:1px solid #7f9db9;letter-spacing:0px;color:#000000;text-decoration:none;}
.select_pr				{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:12px;height: 23px;background: url("../img/bgInput.gif") no-repeat;padding: 3px 0px 0px 0px;letter-spacing:0px;color:#000000;text-decoration:none;border:1px solid #B8B8B8;}
select					{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:12px;height: 19px;letter-spacing:0px;color:#000000;text-decoration:none;}
.select_ric				{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:12px;height: 19px;letter-spacing:0px;color:#990000;text-decoration:none;}
.select_schede			{font-family:'Lucida Grande',Verdana,Arial,Tahoma;font-size:26px;height: 37px;letter-spacing:0px;color:#cc0000;text-decoration:none;}
.inse_commento			{font-family:'Lucida Grande',Verdana,Arial,Tahoma;background-color: #f2f2f2;font-size:12px;border:1px solid #cccccc;letter-spacing:0px;color:#000000;text-decoration:none;}
.inse_commento2			{font-family:'Lucida Grande',Verdana,Arial,Tahoma;background-color: #f2f2f2;background: url("../img/bgComm.gif") no-repeat;font-size:12px;border:1px solid #cccccc;letter-spacing:0px;color:#000000;text-decoration:none;}
