<div class="footer_container">
    <div class="footer_box"><h2>LINK</h2>
        <ul class="list">
            <li><a href="/entieistituzioni/">ENTI E ISTITUZIONI</a></li>
            <li><a href="/organidiinformazione/">ORGANI DI INFORMAZIONE</a></li>
            <!--<li><a href="/motoridiricerca/">MOTORI DI RICERCA</a></li>-->
            <li><a href="/distrettidelcommercio/">DISTRETTI DEL COMMERCIO</a></li>
            <li><a href="/sitiutili/">SITI UTILI</a></li>
                
            
        </ul>    
    </div>
     <!--
     <div class="footer_box">
                <h2>NEWSLETTER CONFESERCENTI</h2>
                <p>Resta aggiornato con le ultime news di Confesercenti. Iscriviti alla Newsletter o agli Rss</p>
                <div class="newsletter_box ">
                     <form  method="GET" action="#">            
                     <input type="newsletter_text" value="Iscriviti alla newsletter..." onfocus="this.value=''" name="newsletter_text" id="newsletter_input">
                     <input type="image" id="search_nav_butt" src="{{ MEDIA_URL }}images/newsletter.png"> 
                     </form>
                </div>
     </div>
     -->
     <div class="footer_box" style="margin-left:70px;padding-top:0px">
<div  style="padding-top:10px"><img style=" margin: 5px 0 10px 85px;" src="{{ MEDIA_URL }}images/numero_verde.jpg" alt="Numero verde Confesercenti: 800 - 018040" /></div>                
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <fb:like></fb:like>

     </div>
     <div class="clear"></div>
     
    
    
</div>
<div class="footer_last_container">
 <div class="footer_last">
         
              <ul class="categories">
                 <li style="border:none;padding-left:10px;"><a class="radius_4" href="/privacy/">PRIVACY E COOKIE POLICY</a></li>
<!--                 <li><a class="radius_4" href="http://www.40cm.it" target="_blank">CREDITS</a></li>-->
                 <li><a class="radius_4" href="/admin">AREA RISERVATA</a></li>
                 <li><a class="radius_4" href="/pubblicazioni/privati/">AREA INTRANET</a></li>
                 <li><a class="radius_4" href="/accounts/logout/">ESCI</a></li>
                     
                 
                 <li style="float:right;margin:0;padding:0;border:none;"> &copy; 2013 - Confesercenti Bergamo - C.F 80023690169</li>                                
              </ul>
        
     </div>
  </div>