{% load banner_template %}	 	

<div style="float:left">
    <div id="logo">
        <a href="{% url home %}"><img src="{{ MEDIA_URL }}images/logo.jpg" alt="Confesercenti Bergamo" /></a>
    </div><!-- BANNERS -->
    <div id="banners">
		<!-- recupero i banner swf testata-flash -->
		{% get_banners 3 site %}
	 	{% for banner in banner_list %}	   
	   		{% if forloop.first %}
				{% if banner.swf %}
	               <div style="float:left;">
	                   <object width="240" height="150" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
	                       <param value="{{ banner.swf.url }}" name="movie"><param value="high" name="quality">
	                       <embed src="{{ banner.swf.url }}" width="240" height="150" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high">
	                   </object>
	               </div>
				 {% endif %}					
			{% endif %}
	   {% endfor %}

		<!-- recupero i banner immagini -->
		{% get_banners 1 site %}
	 	{% for banner in banner_list %}	   
	   		{% if forloop.first %}
				{% if banner.logo %}
	               <div class="banner_logo">
	                   <a target="_blank" href="{{ banner.link }}" {% if banner.href_active %}target="_blank"{% endif %}>
	                   		<img src="{{ banner.logo.url }}" alt="{{ banner }}"  border="0"  />
					   </a>					   
	               </div>
				 {% endif %} 
			{% endif %}
	   {% endfor %}				

    </div>
</div>