{% autoescape off %}

	{% load i18n %}
	{% load news_tags %}
	
	
	<!-- COLONNA  PRICIPALE -->
	<div id="two-cols-left" style="width:500px">
		{% for new in news_list %}
			{% ifequal forloop.counter 1 %}
			    <div class="box_home radius_bottom">
			        <div class="img_news">
    			        <h2 class="title_news"><a href="{{ new.get_absolute_url }}">{{ new.title }}</a></h2>    
			        </div>
			        <!--div class="date_news">
			            <a href="{{ new.get_absolute_url }}"><span style="font-size:2.9em" class="date">{{ new.pub_date|date:"d" }}</span>
			                <br/>
			                <span style="font-size:1.5em;text-transform:uppercase" class="date">{{ new.pub_date|date:"M" }}</span>
			            </a>
			        </div-->
			        
			        <div class="news_content_home">
			        	<div class="img_home_small" >
			        	    <a href="{{ new.get_absolute_url }}"><img src="{{ new.image.url }}" alt="{{ new.title }}" /></a>
			        	</div>
			        	
			        	<p>{{ new.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"75" }}</p>
			            <div class="read_more radius_4">
			                <a href="{{ new.get_absolute_url }}">{% trans "Continua" %}</a>
			            </div>
						{% if new.category.all or new.macrocategory.all %}
			            <div class="categories">
			            	
				                <ul class="categories">
				                	{% for category in new.macrocategory.all %}
					                    <li>
					                        <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
					                    </li>
									{% endfor %}				                	
									
									
				                	{% for category in new.category.all %}
					                    <li>
					                        <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
					                    </li>
									{% endfor %}
				                </ul>
							
			            </div>
						{% endif %}
			        </div>
			        <div style="clear:both">
			        </div>
			    </div>
			{% else %}
			    <!-- NEwS SECunDary -->
			    <div class="box_news_home_sec radius_bottom ">
			        <!-- mini news-->
			        <div class="secundary ">
			           <!--div class="date_news" style="margin: 0 10px 10px 0 !important;">
	                        <a href="{{ new.get_absolute_url }}"><span style="font-size:2.9em" class="date">{{ new.pub_date|date:"d" }}</span>
	                            <br/>
	                            <span style="font-size:1.5em;text-transform:uppercase" class="date">{{ new.pub_date|date:"M" }}</span>
	                        </a>
	                     </div-->
			            <h2 style="color:#84a3a6;font-size:1.2em;" class="title_news_sec">
							<a href="{{ new.get_absolute_url }}">{{ new.title|truncatewords:20 }}</a>
						</h2>
			            <div class="news_content_home_secundary">
			                {{ new.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}
			            </div>
						{% if new.category.all %}
				            <div class="categories" style="clear:both">
				                <ul class="categories">
				                	{% for category in new.macrocategory.all %}
					                    <li>
					                        <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
					                    </li>
									{% endfor %}                	
									
				                	{% for category in new.category.all %}
					                    <li>
					                        <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
					                    </li>
									{% endfor %}
				                </ul>
				            </div>
						{% endif %}
			        </div>
				</div>
			{% endifequal %}
		{% endfor %}
	   <div class="read_more radius_4"><a href="/news/search/" title="Archivio News" >Archivio News</a></div>
	</div>
	
	<!-- COLONNA TOP NEWS  -->
	 <div id="two-cols-right">
	   {% comment %} <div class="box_home radius_6">
	        <h2 class="title radius_top"><a href="{% url  news_search %}" >{% trans "Le News Più Lette" %}</a></h2>
			
			{% get_most_viewed_news %}
			
			{% if most_viewed_news %}
				<ul class="list news_link">
				{% for new in most_viewed_news %}
		            <li>
		                <a href="{{ new.get_absolute_url }}">{{ new.title }}</a>
		            </li>
				{% endfor %}
	        	</ul>
			{% endif %}
	    </div>
	    {%endcomment%}
	 <div class="" style="margin-top:10px">
            <a href="/bandi/finanza-agevolata/">
            <h2 class="title radius_top btn-bandi">Bandi e Finanza Agevolata</h2>
            </a>
     </div>
	   <div class="box_home radius_6">
            <h2 class="title radius_top"><a href="{% url  promozioni_search %}" >Iniziative</a></h2>
            {% get_latest_promo %}
            
            {% if latest_promo %}
                <ul class="list promo_link">
                {% for promo in latest_promo %}
                    <li>
                        <a href="{{ promo.get_absolute_url }}">{{ promo.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
	    <div class="box_home radius_6">
	        <h2 class="title radius_top"><a href="/corsi_confe/" >I Corsi</a></h2>{% comment %}{% url  corsi_search %} {% endcomment %}
			{% get_latest_courses %}
			
			{% if latest_courses %}
				<ul class="list courses_link">
				{% for course in latest_courses %}
		            <li>
		                <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
		            </li>
				{% endfor %}
	        	</ul>
			{% endif %}
	    </div>
		
		<div class="box_home radius_6">
	        <h2 class="title radius_top"><a href="/convenzioni_confe/" >Convenzioni locali</a></h2>
			{% get_latest_conv %}
			
			{% if latest_conv %}
				<ul class="list init_link">
				{% for conv in latest_conv %}
		            <li>
		                <a href="{{ conv.get_absolute_url }}">{{ conv.title }}</a>
		            </li>
				{% endfor %}
	        	</ul>
			{% endif %}
	    </div>
		
	    <div style="clear:both">
	    </div>
	</div>

{% endautoescape %}