{% autoescape off %}

	<div class="box_news_home_sec" >
	    <!-- mini news-->
	    <div class="secundary ">
	       <div class="date_news" style="margin: 10px 10px 10px 0 !important;">
	            <a href="{{ new.get_absolute_url }}"><span style="font-size:2.9em" class="date">{{ new.pub_date|date:"d" }}</span>
	                <br/>
	                <span style="font-size:1.7em" class="date">{{ new.pub_date|date:"M" }}</span>
	            </a>
	         </div>
	        <h2 style="color:#84a3a6;font-size:1.3em;padding-top:10px" class="title_news_sec">
				<a href="{{ new.get_absolute_url }}">{{ new.title|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}</a>
			</h2>
	    </div>
	</div>
{% endautoescape %}