{% autoescape off %}

	<div class="box_news_home_sec" >
	    <!-- mini news-->
	    <div class="secundary ">
	        <h2 style="color:#84a3a6;font-size:1.3em;padding-top:10px" class="title_news_sec">
				<a href="{{ new.get_absolute_url }}" target="_blank">{{ new.title|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}</a>
			</h2>
			<a href="{{ new.get_absolute_url }}" target="_blank">
            	{{ new.pub_date|date:"d-M" }}
            </a>
	    </div>
	</div>
{% endautoescape %}