{% extends "events/base_events.html" %}
{% load i18n %}
{% load news_tags %}

{% block content_title %}
  <h2 class="title">{% trans "Categoria" %}: {{ category.name }}</h2>
{% endblock %}

{% block title %}
   {{ category.public_name }} | {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{{ category.public_name }} | {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ category.public_name }} | {{ block.super }}
{% endblock %}


{% block content %}
<div id="two-cols" style="width:650px;"> 
  		
		<div class="box_home">
	        <h2 class="title">{{ category }}</h2>
			
			
			
			<!-- più viste -->
			<h2 class="title_flat">Ultime notizie correlate</h2>
			<div class="category_news">
			{% get_most_viewed_news_category category NEWS_NEWS_TYPE_ID NEWS_PUB_DATE_ORDER_BY %}
			</div>
		</div>
	
</div>
<div id="right-col" style="width:350px;">       
        <div class="box_news_home ">
            <!-- corsi -->
            <h2 class="cat-title title">Corsi</h2>
            {% get_most_viewed_news_category_lateral category NEWS_COURSES_TYPE_ID %}
        </div>
        <div class="box_news_home ">    
            <!-- iniziative -->
            <h2 class="cat-title title">Iniziative</h2>
            {% get_most_viewed_news_category_lateral category NEWS_PROMO_TYPE_ID %}
        </div>
		<div class="box_news_home ">    
            <!-- Convenzioni -->
            <h2 class="cat-title title">Convenzioni</h2>
            {% get_most_viewed_news_category_lateral category NEWS_CONV_TYPE_ID %}
        </div>
        <div class="box_news_home ">
            <!-- bandi -->
            <h2 class="cat-title title">Bandi</h2>
            {% get_most_viewed_news_category_lateral category NEWS_ANNOUNCEMENT_TYPE_ID %}
        </div>
</div>
<div style="clear:both"></div>    	
{% endblock %}