{% extends "categories/base_categories.html" %}
{% load i18n %}


{% block content_title %}
  <h2 class="title">{% trans "Categorie" %}</h2>
{% endblock %}

 
{% block content %}
    <div id="two-cols"> 
        
        
          <ul class="category_list_outer">
            {% for category in categories %}    
           
            <li>
                
                <h2 class="title clear">
                	{{ category }}
                <!--<div style="float:right;display:none;" ><a style="color:white" id="btn_{{category.id}}" href="#">open/close</a></div>-->    
                </h2>
                {% if category.get_subcategories %}
                <div style="float:left;display:block;" id="open_div_{{category.id}}">
                <ul class="category_list">
                    {% for subcategory in category.get_subcategories %}
                    <li>           
                        <div class="category_box">
                           <!--<div style="display:none;float:left;width:150px;">
                                <a href="{{ subcategory.get_absolute_url }}"><img  alt="{{ subcategory}}" src="{{ subcategory.logo.url_120x120 }}" /></a>
                            </div>-->  
                            <div class="category_title">
                                <a href="{{ subcategory.get_absolute_url }}"><strong style="color:#5E9EA0">{{ subcategory }}</strong></a></h2>
                                <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.public_name }}</a></h2>
                            </div>
                            <div style="float:right;padding-top:15px;"> <a href="{{ subcategory.get_absolute_url }}"> &raquo; </a></div>
                            <div style="clear:both"></div>  
                         </div> 
                    </li> 
                    {% endfor %}            
                </ul>
                </div>
                {% endif %} 
                
            </li>
            {% endfor %}
          </ul>
        <!--old content-->
    </div>
 <!-- COLONNA BANNERS   --> 
<div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
      {% endblock %}
</div>
<div style="clear:both"></div>


            <script type="text/javascript">
                $("#btn_{{category.id}}").click(function () {
                    $("#open_div_{{category.id}}").slideUp("slow");
                    $("#open_div_{{category.id}}").slideDown("slow");

                }); 
            </script>  
{% endblock %}  