{% extends "events/base_events.html" %}
{% load i18n %}
{% load news_tags %}

{% block content_title %}
  <h2>{% trans "Categoria" %}: {{ category.name }}</h2>
{% endblock %}

{% block title %}
   {{ category }} - {{ category.public_name }} -  {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{{ category }}, {{ category.public_name }}, {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ category }}, {{ category.public_name }}, {{ block.super }}
{% endblock %}

{% block content %}
<div id="two-cols" style="width:650px;"> 
  		
		<div class="box_home">
			<div style="float:left;width:100%;">
			    
			    <!--a href="{{ category.link }}"></a-->
			    <h2 class="title" style="color:white">			    				    
					{% if category.link %}			
						<a href="{{ category.link }}">
					{% endif %} 
						{{ category.name }}					
					{% if category.link %}
						</a>
					{% endif %}

			    	</h2>
				<div style="float:left;width:630px;padding:10px;">
				
                    
                    <img style="float:right;padding:0 10px;background:white;"  alt="{{ category.name }}" src="{{ category.logo.url }}" />
					
					
					{% if category.president_logo %}
					    <img alt="Presidente: {{ category.president_name }}" style="padding:5px;margin-bottom:10px;margin-left:10px; margin-right:20px; background: rgb(238, 238, 238); border-radius: 4px 4px 4px 4px; 
						float: left; line-height: 7em; font-size: 80%; text-align: center;-moz-border-radius:4px-webkit-border-radius:4px" 
						src="{{ category.president_logo.url_120x120 }}" />
					{% endif %}
					
					
				    <h2 class="title_flat" style="font-size:1.2em;">{{ category.public_name }}</h2>
				    <br/>
        				<ul class="list" {% if category.president_logo %}style="margin-left: 148px; width: 470px;"{% endif %}>
        					
        				{% if category.president_name %}
        					<li><strong class="titles">{% trans "Presidente" %}:</strong> {{ category.president_name }}</li> 
        				{% endif %}
						
        				{% if category.responsible_name %}
        					<li><strong class="titles">{% trans "Responsabile sindacale" %}:</strong>  {{ category.responsible_name }}</li> 
        				{% endif %}						
													
        				{% if category.phone %}
        					<li><strong class="titles">{% trans "Telefono" %}:</strong> {{ category.phone }}</li> 
        				{% endif %}
        				
        				{% if category.email %}
        					<li><strong class="titles">{% trans "Email" %}:</strong>  <a href="mailto:{{ category.email }}">{{ category.email }}</a></li>
        				{% endif %}
        				
        				{% if category.fax %}
        					<li><strong class="titles">{% trans "Fax" %}:</strong> {{ category.fax }}</li>			
        				{% endif %}
						
        				{% if category.description %}
                            <li style="padding-left:10px">{{ category.description }}</li>           
                        {% endif %}
						
						{% if category.link %}
							<li>
							    <strong class="titles">{% trans "Links utili" %}:</strong>
								<a href="{{ category.link }}" target="_blank" >{{ category.link }}								
								</a>
							</li>
						{% endif %}
        				</ul> 	
				</div>
					
			<div style="clear:both"></div>
			</div>
			
			<div style="clear:both"></div>
			
			<!-- più viste -->
            <h2 class="title_flat">Notizie</h2>
			<div class="category_news">
			     {% get_most_viewed_news_subcategory category NEWS_NEWS_TYPE_ID NEWS_PUB_DATE_ORDER_BY %}
			</div>
		</div>
</div>
  <!-- COLONNA BANNERS   --> 
<div id="right-col" style="width:350px;">       
        <div class="box_news_home ">
                    
            <!-- corsi -->
            <h2 class="cat-title title">Corsi</h2>
            {% get_most_viewed_news_subcategory_lateral category NEWS_COURSES_TYPE_ID %}
        </div>
        <div class="box_news_home ">    
            <!-- promozioni -->
            <h2 class="cat-title title">Iniziative</h2>
            {% get_most_viewed_news_subcategory_lateral category NEWS_PROMO_TYPE_ID %}
        </div>
		<div class="box_news_home ">    
            <!-- iniziative -->
            <h2 class="cat-title title">Convenzioni</h2>
            {% get_most_viewed_news_subcategory_lateral category NEWS_CONV_TYPE_ID %}
        </div>
        <div class="box_news_home ">
            <!-- bandi -->
            <h2 class="cat-title title">Bandi</h2>
            {% get_most_viewed_news_subcategory_lateral category NEWS_ANNOUNCEMENT_TYPE_ID %}
        </div>
</div>
<div style="clear:both"></div> 	
{% endblock %}