{% extends 'blog/base_blog.html' %}
{% load i18n %}

{% block title %}
   {{ blog.title }} | {{ block.super }}
{% endblock %}



{% block content %}
<div id="two-cols">  
    <div class="content">
   
        	<span class="news-back radius_6" style="margin: 5px 20px 5px 10px;">
                <a href="/">&laquo; </a>
            </span>
	
	
	 <!--div class="date_news">
        <a href="#"><span style="font-size:2.5em" class="date">{{ blog.created_at|date:"d" }}</span><br/>
                                <span style="font-size:1.3em" class="date">{{ blog.created_at|date:"M" }}</span></a>                                
    </div-->
     <h2 class="title_news detail" style="clear:none !important">{{ blog.title }}</h2> 
	
	  <div class="box_image_news">
                                
                                <a class="fancybox" href="#"><img style="max-width:500px;" src="{{ blog.image.url_500x220 }}" alt="{{ blog.title }}" /></a>
                                <div id="socials">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a><br/><br/><br/><br/>
                                      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                      <a class="addthis_button_tweet"></a>
                                    </div>
                                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4dbbeae24213cda8"></script>
                                    <!-- AddThis Button END -->
                                    
                                </div>
    </div>
	<div class="news_content_home">
		{{ blog.body|safe|urlizetrunc:20 }}
	</div>
	
	<ul class="list" >
		{% if blog.phone %}
			<li><strong class="titles">{% trans "Telefono" %}:</strong> {{ blog.phone }}</li> 
		{% endif %}
		
		{% if blog.link %}
			<li><strong class="titles">{% trans "Url" %}:</strong>  <a href="{{ blog.link }}">{{ blog.link }}</a></li>
		{% endif %}
		
		{% if blog.email %}
			<li><strong class="titles">{% trans "E-mail" %}:</strong>  <a href="mailto:{{ blog.email }}">{{ blog.email }}</a></li>
		{% endif %}	
		
		{% if blog.fax %}
			<li><strong class="titles">{% trans "Fax" %}:</strong> {{ blog.fax }}</li>			
		{% endif %}
						
	</ul>
{% comment %}
	<div class="categories" style="clear:both;">
                        {% if blog.category.all %}
                            <ul class="categories">
                                {% for category in blog.category.all %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
     </div>
{% endcomment %}
<div class="categories" style="clear:both;">
	{% if blog.category.all or blog.macrocategory.all %}
		<ul class="categories">
			{% for category in blog.macrocategory.all %}
                <li>
                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                </li>
			{% endfor %}
            {% for category in blog.category.all %}
                <li>
                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                </li>
            {% endfor %}
		</ul>
	{% endif %}
</div>

 <div style="clear:both"></div> 
 <!--<div style="padding:20px">
 {% block disqus %}
    {% include "includes/disqus.html" %}
{% endblock %}
</div>-->
</div>
</div>
                <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
               
</div>
{% endblock %}




