{% extends 'blog/base_blog.html' %}
{% load i18n %}


 {% block content %}
 
<div id="two-cols">
<div class="content left">
      <h2 class="title">{% trans "Blog cescot" %}</h2>

 	
	 <div style="padding:20px 0;float:left">
        {% regroup blog_list|dictsort:"type.name" by type as blog_list_ordered %}
                <ul class="category_list_outer" style="margin:0">	
                    {% for blog_grouped in blog_list_ordered %}	
                   
                    <li style="width:100%">
                        <h2 class="title_flat clear" style="width:93%;text-align:right">{{ blog_grouped.grouper }}</h2>
                		
                		<ul class="category_list">
                			{% for blog in blog_grouped.list %}
                			<li style="width:100%">		    
                			     <div style="width:94%;border-bottom: 1px dashed #EEEEEE;float: left;margin: 10px 0 10px 20px;padding: 10px;">
                                   <div style="float:left;width:180px">
                			            <a href="{{ blog.get_absolute_url }}"><img  class="radius_4" style="max-width:150px;" alt="{{ blog }}" src="{{ blog.image.url }}" />
        								</a>
                			        </div> 
                			         <div style="float:left;padding:15px 0 0 20px;"> 
                			              <a style="color:#444" href="{{ blog.get_absolute_url }}">
                                            {{ blog.title }}
                                        </a>
                                    </div>
                			     </div> 
                			</li> 
                			{% endfor %}			
                		</ul>
                	</li>
                    {% endfor %}
                  </ul>	 
      <div style="clear:both"></div>
      </div>                     
						  
</div>
</div>	
 <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
                <div style="clear:both"></div>  					  
						  
 {% endblock %}
 