body {}

html, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: rgba(0, 0, 0, 0); 
}

// CONTAINER 
.container {
    background:#fff;
    @media @mobile-only {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.main-section > .container {
    padding-top:30px;
}

@media (min-width: 1200px){
    .container {
      width: auto;
      width: 90%;
        max-width: 1420px;
    }
}

//img { &:extend(.img-responsive);}
//.img-responsive {width:100%;} 

// MAIN CONTENT
.col-sm-7.main-content {
    padding-bottom:30px;
    @media @min-desktop {
        //padding:0; // CESCOT
    }
    
}

.row {
   @media @mobile-only {
    margin: 0;
   }
}
// SIDEBARs
.sidebar-dx ,
.sidebar-sx,
.main-content{
    @media @mobile-only {
        padding-left:0 !important;
        padding-right:0 !important;
   }
    
} 
.sidebar-dx {
    //padding-left:0 !important
    &:not(.home) {
        .bandi-home,
        .punto-informativo {display:none;}    
    }
}
.sidebar-sx {
    
    
}

// SECTION
section {margin: 20px 0;}

// COLs GENERIC PADDING OVERRIDE
div[class^='col-'],
div[class*=' col-'] {
    padding-left:20px;
    padding-right:20px; 
    @media (min-width: 1200px){
        padding-left:2%;
        padding-right:2%;
        
    }
}
@media (min-width: 1200px){
    .main-content {padding-left:3% !important;}
    .sidebar-dx { padding-right:3%  !important;}
    }
.affix {
  position: fixed;
  top: 30px;
}
// HEADER
.logo {
    float: left;
    max-width: 80%;
}

.clearfix {clear:both;}

