


/*=GENERIC HEADINGS*/
.title,
.heading{font-family: 'Khand', sans-serif;font-weight: 300;text-transform: uppercase;}   

/*=NAVBAR =======*/
.navbar-nav > li {
     .heading;
     font-size:24px;
 }


//TEXT COLORS
.text-green{color:@green !important;}
.text-green__dark {color:@green-dark !important;}
.text-green__light {color:@green-light !important;}

.text-red{color:@red !important;}
.text-orange{color:@orange !important;}
.text-blue{color:@blue !important;}
.text-blue__light{color:@blue_light !important;}

.text-yellow{color:@yellow !important; }