//  COLORS

@green:                 #54961B;
@green-dark:            #325C16;
@green-light:           #61aa05; 

@red:                   #d73d32;
@orange:                #f59e07;
@blue:                  #0e76c6;
@blue_light:            #21CFD2;
@yellow:                #fcc800;

// Media Queries
@min-desktop:          ~" (min-width: 992px)";
@min-tablet:           ~" (min-width: 768px)";
@max-tablet:           ~" (max-width: 992px)";
@tablet-only:          ~" (min-width: 768px) and (max-width: 992px)";
@mobile-only:          ~" (max-width: 767px)";  

// NAVBAR

@navbar-default-link-color:                             #fff;
@navbar-default-link-hover-color:                       #fff;
@navbar-default-link-hover-bg:                          @green-dark;
@navbar-default-link-active-color:                      #fff;
@navbar-default-link-active-bg:                         @green-dark;

@navbar-default-border:                                 transparent;


