.sfondo {
	background-image: url(img/sfondo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	border: 1px none #CCCCCC;



}
.bordo {
	border: solid #CCCCCC;
}
.sfondo1 {
	background-image: url(img/sfondo1.jpg);
	background-repeat: repeat;
	background-position: left top;
	background-attachment: scroll;
}
.sfondo2 {
	background-image: url(img/sfondo2.jpg);
	background-repeat: repeat;
	background-position: left top;
}
.contributo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
}
.sfondodx {
	background-image: url(img/sfondodx.jpg);
	background-repeat: no-repeat;
	background-position: left top;


}
.sfondocubetti {
	background-image: url(img/sfondocubetti.jpg);
}
.email {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FF6600;
	text-decoration: underline;
}
