{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

<p>{% trans "Per accedere a questa area devi essere registrato." %}</p>

{% if form.errors %}
	<p>{% trans "Utente e password non coincidono. Perpiacere, riprova." %}</p>
	{% endif %}
	
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<table>
			<tr>
			    <td>{{ form.username.label_tag }}</td>
			    <td>{{ form.username }}</td>
			</tr>
			<tr>
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
			</tr>
		</table>
	
		<input type="submit" value="{% trans "Entra" %}" />
		{% trans "oppure" %} <a href="{% url "registration_register" %}" >{% trans "Registrati" %}</a>
		
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

{% endblock %}
