{% load cover_utility %}
{% load banner_template %}



{% comment %}
<div class="box_home_sec  radius_bottom"  style="margin-bottom:10px">
    <ul class="list banners">
    	
        <li>
            <!--<a target="_blank" href="/pubblicazioni"><img width="230px" src="{{ MEDIA_URL }}images/banners/punto_informativo.jpg" alt="banner" /></a>-->
            <a target="_blank" href="/pubblicazioni"><img class="PI_cover" src="{{ MEDIA_URL }}images/PI_cover.jpg" alt="Punto Informativo" /></a>
        </li>
		
		{% get_cover 1 %}
    </ul>
</div>

<!-- numero verde -->
<!-- <div class="box_home_sec radius_bottom" style="padding-top:10px;">
    <ul class="list banners">
        <li>
            <div><img style="width: 90%; margin: 5px 0pt 5px 5px;" src="/static/images/numero_verde.jpg" alt="Numero verde Confesercenti: 800 - 018040"></div>
        </li>   
    </ul>
</div> -->
{% endcomment %}

<div class="box_home_sec radius_bottom" style="padding-top:10px;">
    <ul class="list banners" >
		{% get_banners 2 site %}
			{% for banner in banner_list %}
			{% if banner.logo %}			
				<li><a href="{{ banner.link }}" {% if banner.href_active %}target="_blank"{% endif %}><img src="{{ banner.logo.url }}" alt="{{ banner }}"  border="0"  /></a></li>
			{% endif %}
		{% endfor %}
		{% comment %}

		<li>
            <a target="_blank"  href="http://www.confesercenti.bergamo.it/servizi/gps_impresa/"><img width="230px" src="{{ MEDIA_URL }}images/banners/gps_impresa.jpg" alt="banner" /></a>
            <!--<img width="230px" src="{{ MEDIA_URL }}images/banners/gps_impresa.jpg" alt="banner" />-->
        </li>
        {% endcomment %}
    </ul> 
</div>