<div class="footer_container">
    <div class="footer_box"><h2>LINK</h2>
        <ul>
            <li><a href="/entieistituzioni/">ENTI E ISTITUZIONI</a></li>
            <li><a href="/organidiinformazione/">ORGANI DI INFORMAZIONE</a></li>
            <!--<li><a href="/motoridiricerca/">MOTORI DI RICERCA</a></li>-->
            <!--<li><a href="/distrettidelcommercio/">DISTRETTI DEL COMMERCIO</a></li>-->
            <li><a href="/sitiutili/">SITI UTILI</a></li>
                
            
        </ul>    
    </div>

    <div class="footer_box fb">
    {% comment %}	 
    <div  class="numero_verde"><img src="{{ MEDIA_URL }}images/numero_verde.jpg" alt="Numero verde Confesercenti: 800 - 018040" /></div>
    {% endcomment %}                
         <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
         <fb:like></fb:like>
    
    </div>
     <div class="clear"></div>
</div>
<div class="footer_last_container">
 <div class="footer_last">
              <ul class="categories">
                 <li style="border:none;padding-left:10px;"><a class="radius_4" href="/privacy/">PRIVACY &amp; COOKIE POLICY</a></li>
<!--                 <li><a class="radius_4" href="http://www.40cm.it" target="_blank">CREDITS</a></li>-->
                 <li><a class="radius_4" href="/admin">AREA RISERVATA</a></li>
                 <li><a class="radius_4" href="/pubblicazioni/privati/">AREA INTRANET</a></li>
                 <li><a class="radius_4" href="/accounts/logout/">ESCI</a></li>
                 
                 <li style="float:right;margin:0;padding:0;border:none;"> &copy;2013 - Confesercenti Milano – Lodi – Monza Brianza - C.F 80111530152</li>                                
              </ul>
     </div>
  </div>