{% load banner_template %}

<div id="hWrapper">
    <div id="carouselh">
    <!-- banner 3 linee -->
	{% get_slide_banners 4 %}	
	{% for banner in slide_banner_list %}	 
		{% include "includes/slide_banner/three_line.html" %}               
	{% endfor %}
	
    <!-- solo immagine -->
	{% get_slide_banners 5 %}
	{% for banner in slide_banner_list %} 
		{% include "includes/slide_banner/only_image.html" %}               
	{% endfor %}
{% comment %}
    <!-- solo swf -->
	{% get_slide_banners 6 %}
	{% for banner in slide_banner_list %} 
		{% include "includes/slide_banner/only_swf.html" %}               
	{% endfor %}
{% endcomment %}
		             
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function() {           
            $('#carouselh').jsCarousel({ autoscroll: true, masked: false, itemstodisplay: 3, orientation: 'h' });
        });       
        
    </script>                                            