{% load flatpage_menu %}
{% get_root_menu %}
<div id="navigation">
    <ul class="sf-menu">
        {% for root_menu in root_menu_list %}
        <li class="current">
            <a href="{{ root_menu.get_absolute_url }}" {% if not root_menu.get_absolute_url %}class="no_pointer"{% endif %}>{{ root_menu }}</a>
            {% if root_menu.child %}
            <ul>
                {% for child in root_menu.get_child %}
                <li>
                    <a href="{{ child.get_absolute_url }}" {% if not child.get_absolute_url %}class="no_pointer"{% endif %}>{{ child.name }}</a>
					
					{% if child.get_child %}
					<ul class="subnav">
						{% for childest in child.get_child %}
		                <li>
		                    <a href="{{ childest.get_absolute_url }}" {% if not childest.get_absolute_url %}class="no_pointer"{% endif %}>{{ childest.name }}</a>						
						</li>
						{% endfor %}
					</ul>				
					{% endif %}    
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}

<!-- temporaneo -->		
		<!--li class="current">
            <a href="/corsi_confe/" >dev. Corsi</a>
		</li-->
		<!--li class="current">
            <a href="/convenzioni_confe/" >dev. Convenzioni</a>
		</li-->		
<!-- temporaneo -->
				
    </ul>
    <div class="search_box">
        <form style="width:270px;" method="GET" action="{% url news_search %}">
            <input type="search_text" value="Cerca nel sito..." onfocus="this.value=''" name="search_text" id="search_nav_input"><input type="image" id="search_nav_butt" src="{{ MEDIA_URL }}images/search.png">
        </form>
    </div>
  </div>