{% extends 'conventions/base_conventions.html' %} {% load i18n %} {% block content %}




<div class="row section-conventions">



    {% regroup conventions|dictsort:"type.name" by type as conventions_list %}
<div class="col-md-3 scrollspy hidden-xs hidden-sm">
<ul class="list-unstyled convention--nav " data-spy="affix">
     {% for convention_grouped in conventions_list %}
    <li><a href="#{{ convention_grouped.grouper|slugify}}">	{{ convention_grouped.grouper }} </a> </li>
    {% endfor %}
    </ul>
    
</div>
 <div class="col-md-9"> 
    <h2 class="title">{% trans "Le Convenzioni Locali" %}</h2>
    <ul class="list-unstyled category-macro">
        {% for convention_grouped in conventions_list %}

        <li class="convention--item clearfix" id="{{ convention_grouped.grouper|slugify}}">

            <h2 class="title clearfix"><i class="fa fa-stack-overflow"></i>	{{ convention_grouped.grouper }}
                    </h2>

            <div class="conventions--wrap">
               <ul class="list-unstyled category--list ">
                    {% for convention in convention_grouped.list %}
                    <li class="convention--box-wrap">
                        <div class="convention--box">
                            <a class="convention--img" href="{{ convention.get_absolute_url }}">
                                <img class="img-responsive" alt="{{ convention }}" src="{{ convention.image.url }}" />
                            </a>
                            <a class="convention--name" href="{{ convention.get_absolute_url }}">
                                {{ convention.title }}
                            </a>
                           
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
<script>
$('body').scrollspy({ target: '.convention--nav' })

/* affix the navbar after scroll below header */
$('.convention--nav').affix({
      offset: {
        //top: $('.section-conventions').height()-$('.convention--nav').height()
         top: $('.convention--nav').offset().top
      }
});	
$('.convention--nav li:first-child').addClass('active');    
$('.convention--nav li').click(function(){
    $(this).toggleClass('active').siblings().removeClass('active');
    
})
/* highlight the top nav as scrolling occurs */
$('body').scrollspy({ target: '.convention--nav' })

/* smooth scrolling for scroll to top */
$('.scroll-top').click(function(){
  $('body,html').animate({scrollTop:0},1000);
})

/* smooth scrolling for nav sections */
$('.convention--nav li>a').click(function(){
  var link = $(this).attr('href');
  var posi = $(link).offset().top;
  $('body,html').animate({scrollTop:posi},700);
});



</script>


{% endblock %}