{% extends 'conventions/base_conventions.html' %}
{% load i18n %}

{% block title %}
   {{ convention.title }} | {{ block.super }}
{% endblock %}



{% block content %}
<div class="col-sm-8">
    <div class="article-page content">
        <article class="article">
            <span class="article--back">
                <a href="/"><i class="fa fa-angle-double-left"></i> </a>
            </span>
            <!-- HEADER -->
            <header class="article--header">
                <!-- TITLE-->
                <h2 class="article--title">{{ convention.title }}</h2> 
	
	 <!-- IMG-->
                <picture class="article--img-wrap">

                    <img class="article--img" src="{{ convention.image.url_500x220 }}" alt="{{ convention.title }}" /></a>
            </picture>
                                <!-- SOCIALS -->
                <section class="socials">
                  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54bd479b063c897a" async="async"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
          </section>
            </header>
            <!-- CONTENT -->
            <div class="article--content">
		{{ convention.body|safe|urlizetrunc:20 }}
	</div>
	
	<ul class="list-unstyled" >
		{% if convention.phone %}
			<li><i class="fa fa-phone"></i> &nbsp;<strong class="titles">{% trans "Telefono" %}:</strong> {{ convention.phone }}</li> 
		{% endif %}
		
		{% if convention.link %}
			<li><i class="fa fa-external-link"></i> &nbsp;<strong class="titles">{% trans "Url" %}:</strong>  <a href="{{ convention.link }}">{{ convention.link }}</a></li>
		{% endif %}
		
		{% if convention.email %}
        <li><i class="fa fa-envelope"></i> &nbsp;<strong class="titles">{% trans "E-mail" %}:</strong>  <a href="mailto:{{ convention.email }}">{{ convention.email }}</a></li>
		{% endif %}	
		
		{% if convention.fax %}
			<li><i class="fa fa-fax"></i> &nbsp;<strong class="titles">{% trans "Fax" %}:</strong> {{ convention.fax }}</li>			
		{% endif %}
						
	</ul>
{% comment %}
	<div class="categories" style="clear:both;">
                        {% if convention.category.all %}
                            <ul class="categories">
                                {% for category in convention.category.all %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
     </div>
{% endcomment %}

	{% if convention.category.all or convention.macrocategory.all %}
		 <section class="categories">
                 
                <h2 class="section--title text-right">Categorie</h2>
                 <i class="fa fa-tags pull-right"></i>
                 <ul class="box-categories--list  list-unstyled list-inline text-right">
			{% for category in convention.macrocategory.all %}
                <li>
                    <a  href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                </li>
			{% endfor %}
            {% for category in convention.category.all %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                </li>
            {% endfor %}
		</ul>
        </section>
	{% endif %}
</article>

 <div style="clear:both"></div> 
 <!--<div style="padding:20px">
 {% block disqus %}
    {% include "includes/disqus.html" %}
{% endblock %}
</div>-->
</div>
</div>
             
<!-- COLONNA BANNERS   -->
<div class="col-sm-4 sidebar-dx">
    
    {% block right-col %} {% include "includes/right-col.html" %} {% endblock %}
    {% block services %} {% include "includes/services.html" %} {% endblock %} 
</div>


               

{% endblock %}




