{% extends "events/base_events.html" %}
{% load i18n %}

{% block content_title %}
  <h2>{% trans "Corsi" %}</h2>
{% endblock %}


{% block content %}
  <ul style="background-color:#eee">
    {% for eventtime in object_list %}
    <li><a href="{{ eventtime.get_absolute_url }}">{{ eventtime }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}