{% extends 'blog/base_blog.html' %} {% load i18n %} {% block title %} {{ blog.title }} | {{ block.super }} {% endblock %} 
{% block content %}



<div class="col-sm-8">
    <div class="article-page content">
        <article class="article">
            <span class="article--back">
                <a href="/"><i class="fa fa-angle-double-left"></i> </a>
            </span>
            <!-- HEADER -->
            <header class="article--header">
                <!-- TITLE-->
                <h2 class="article--title">{{ blog.title }}</h2>
                <!-- DATE-->
                <div class="article--date">
                    <span class="date day">{{ blog.pub_date|date:"d" }}</span>
                    <span class="date month">{{ blog.pub_date|date:"M" }}</span>
                    <span class="date year">{{ blog.pub_date|date:"Y" }}</span>
                </div>
                <!-- IMG-->
                <picture class="article--img-wrap">

                    <img class="article--img" src="{{ blog.image.url }}" alt="{{ blog.title }}" />

                </picture>
                <!-- SOCIALS -->
                <section class="socials">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54bd479b063c897a" async="async"></script>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>



                </section>
            </header>
            <!-- CONTENT -->
            <div class="article--content">
                {{ blog.body|safe|urlizetrunc:20 }}
            </div>
            <!-- DOCUMENTS -->
            {% if blog.documents.all %}
            <section class="article--attachement">
                <header>
                    <h2><i class="fa fa-cloud-download"></i> Allegati</h2>
                </header>
                <ul class="article--attachement-list unstyled-list pdf_PI pvt">
                    {% for document in blog.documents.all %}
                    <li>
                        <h3><a target="_blank" href="{{ document.get_absolute_url }}"><i class="fa fa-paperclip"></i> &nbsp; {{ document }}</a></h3>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            <ul class="list">
                {% if blog.phone %}
                <li><strong class="titles">{% trans "Telefono" %}:</strong> {{ blog.phone }}</li>
                {% endif %} {% if blog.link %}
                <li><strong class="titles">{% trans "Url" %}:</strong> <a href="{{ blog.link }}">{{ blog.link }}</a>
                </li>
                {% endif %} {% if blog.email %}
                <li><strong class="titles">{% trans "E-mail" %}:</strong> <a href="mailto:{{ blog.email }}">{{ blog.email }}</a>
                </li>
                {% endif %} {% if blog.fax %}
                <li><strong class="titles">{% trans "Fax" %}:</strong> {{ blog.fax }}</li>
                {% endif %}

            </ul>
            <!-- CATEGORIE -->

            {% if blog.category.all or blog.macrocategory.all %}
            <section class="categories">

                <h2 class="section--title">Categorie</h2>
                <i class="fa fa-tags pull-right"></i>
                <ul class="box-categories--list  list-unstyled list-inline text-right">
                    {% for category in blog.macrocategory.all %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                    </li>
                    {% endfor %} {% for category in blog.category.all %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}

        </article>
        <div style="clear:both"></div>
        <section class="comments">
            <h1>Commenti</h1> {% block disqus %} {% include "includes/disqus.html" %} {% endblock %}
        </section>
    </div>
</div>


<!-- COLONNA BANNERS   -->
<div class="col-sm-4 sidebar-dx">

    {% block right-col %} {% include "includes/right-col.html" %} {% endblock %} {% block services %} {% include "includes/services.html" %} {% endblock %}
</div>

{% endblock %}






<!-- OLD CODE -->
