{% extends 'blog/base_blog.html' %} {% load i18n %} {% block content %}


<div class="col-sm-12">
    <h1 class="title">{% trans "cescot News" %}</h1>


    <div style="blow-wrap">
        {% regroup blog_list|dictsort:"type.name" by type as blog_list_ordered %}
        <section class="section-blog" id="blog--{{ blog_grouped.grouper }} ">
            {% for blog_grouped in blog_list_ordered %}


            <h1 class="section--title">{{ blog_grouped.grouper }}</h1>

            <ul class="list-unstyled js-masonry" data-masonry-options='{  "itemSelector": ".blog-item" }'>
                {% for blog in blog_grouped.list %}
                <li class="blog-item">
                    <article>
                        <a href="{{ blog.get_absolute_url }}">
                            <figure class="article--img">
                                <img class="img-responsive" alt="{{ blog }}" src="{{ blog.image.url }}" />

                                <h1 class="article--title"> 
                                    {{ blog.title }}
                                </h1>
                            </figure>


                            <div class="article--summary">
                                <p>{{ blog.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"60" }}</p>
                            </div>
                        </a>
                    </article>
                </li>
                {% endfor %}
            </ul>

            {% endfor %}
        </section>

    </div>

</div>

<style>
    .section--title {
        text-transform: uppercase;
        border-bottom: 3px solid rgb(230, 230, 230);
        margin: 30px 0;
        font-size: 32px;
        background: rgb(238, 238, 238);
        padding: 10px;
    }
    
    .blog-item {
        width: 50%;
        float: left;
        border: 1px solid #eaeaea;
        padding: 10px;
    }
    
    @media screen and (min-width: 990px) {
        .blog-item {
            width: 33.333%;
            background: rgb(255, 255, 255);
            transition: .4s transform ease;
        }
        .blog-item:hover {
            transform: scale(1.05);
            z-index: 3;
            transition: .4s transform ease;
            box-shadow: 2px 3px 3px rgb(158, 154, 154);
            background: rgb(29, 157, 171);
            color: rgb(255, 255, 255);
            border-color: rgba(0, 0, 0, 0);
        }
        .blog-item:hover a {
            color: rgb(255, 255, 255);
        }
    }
    
    .blog-item a {
        display: block;
    }
    
    .blog-item .article--img {
        position: relative;
        line-height: : 0;
    }
    
    .blog-item .article--title {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        margin: 0;
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 26px;
        width: 100%;
    }
    
    .blog-item .article--summary {
        padding: 10px 0;
    }
</style>

{% endblock %}