{% extends 'conventions/base_conventions.html' %}
{% load i18n %}


 {% block content %}
 
<div id="two-cols">
<div class="content left">
	<h2 class="title">{% trans "Le Convenzioni Locali" %}</h2>
	<p>Per gli associati Confesercenti sono a disposizione un’ampia serie di convenzioni, per accedere a numerosi servizi, con condizioni vantaggiose e partner affidabili.</p>
 	
	 <div style="padding:20px 0;float:left">
        {% regroup conventions|dictsort:"type.id" by type as conventions_list %}
                <ul class="category_list_outer" style="margin:0">	
                    {% for convention_grouped in conventions_list %}	
                   
                    <li style="width:100%">
                        <h2 class="title_flat clear" style="width:93%;text-align:right">{{ convention_grouped.grouper }}</h2>
                		
                		<ul class="category_list">
                			{% for convention in convention_grouped.list %}
                			<li style="width:100%">		    
                			     <div style="width:94%;border-bottom: 1px dashed #EEEEEE;float: left;margin: 10px 0 10px 20px;padding: 10px;">
                                   <div style="float:left;width:180px">
                			            <a href="{{ convention.get_absolute_url }}"><img  class="radius_4" style="max-width:150px;" alt="{{ convention }}" src="{{ convention.image.url }}" />
        								</a>
                			        </div> 
                			         <div style="float:left;padding:15px 0 0 20px;"> 
                			              <a style="color:#444" href="{{ convention.get_absolute_url }}">
                                            {{ convention.title }}
                                        </a>
                                    </div>
                			     </div> 
                			</li> 
                			{% endfor %}			
                		</ul>
                	</li>
                    {% endfor %}
                  </ul>	 
      <div style="clear:both"></div>
      </div>                     
						  
</div>
</div>	
 <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
                <div style="clear:both"></div>  					  
						  
 {% endblock %}
 