.sfondo {
	BORDER-RIGHT: #cccccc 1px; BACKGROUND-POSITION: left top; BORDER-TOP: #cccccc 1px; BACKGROUND-IMAGE: url(img/sfondo.jpg); BORDER-LEFT: #cccccc 1px; BORDER-BOTTOM: #cccccc 1px; BACKGROUND-REPEAT: no-repeat
}
.bordo {
	BORDER-RIGHT: #cccccc solid; BORDER-TOP: #cccccc solid; BORDER-LEFT: #cccccc solid; BORDER-BOTTOM: #cccccc solid
}
.sfondo1 {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(img/sfondo1.jpg); BACKGROUND-REPEAT: repeat
}
.sfondo2 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(img/sfondo2.jpg); BACKGROUND-REPEAT: repeat
}
.contributo {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sfondodx {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(img/sfondodx.jpg); BACKGROUND-REPEAT: no-repeat
}
.sfondocubetti {
	BACKGROUND-IMAGE: url(img/sfondocubetti.jpg)
}
.email {
	FONT-SIZE: 18px; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
