{% extends 'courses/base_courses.html' %} {% load i18n %} {% block content %}

<div class="col-sm-8 main-content">

    <section class="section-courses">
        <header class="section--header">
            <h1 class="title section-title">{% trans "I Corsi Cescot" %}</h1>
            <a class="btn btn--green bg-green pull-right" style="color: #fff" href="/contact_form/corsi/">
                <span>Richiesta informazioni corsi <i class="fa fa-info"></i></span>
            </a>
            
            <a class="btn btn--orange pull-right clearfix" style="color: #fff;" target="_blank" href="/static/courses/pdf/leaflet.pdf">
                <span>Scarica Leaflet <i class="fa fa-file"></i></span>
            </a>

        </header>
        <div class="section--content clearfix">
            <h2 class="title">Premessa </h2>
            <p>Tutti i corsi sono a numero chiuso e possono usufruire di <a href="http://www.confesercenti.bergamo.it/cescot/finanziamento/" title="finanziamenti pubblici">finanziamenti pubblici</a> destinati alla formazione.</p>
            <p>L'avvio delle singole attività formative è subordinato al raggiungimento del numero minimo di iscritti stabilito dalla Direzione.</p>
            <p>Corsi realizzati con il contributo della Camera di Commercio e con la collaborazione di Bergamo Sviluppo.</p>
           
            <hr>
           
            <p><i>In tempi di crisi stiamo percependo la necessità di un nuovo impulso innovativo che possa segnare una svolta nelle organizzazioni e nel singolo. Dobbiamo rinnovarci e ri-formarci in ogni ambito e ad ogni livello, primo fra tutti quello dell'e-commerce e delle nuove tecnologie che occuperanno presto una grande fetta di mercato.</i>
            </p>

            <p><i>In quest'ottica Confesercenti ha chiesto ad ASSONET, con la collaborazione di Cescot e Patronato San Vincenzo, di proporre iniziative nel campo della formazione permettendo alle aziende e ai privati di trovare valide risposte alle problemativhe ed oppportunità che le nuove tecnologie possono offrire.</i>
            </p>

            <hr>
          
            <h3 class="title">Di seguito l'elenco dei corsi di formazione proposti:</h3>
            
            <div class="courses--list">
                {% regroup courses by type as courses_list %}
                <ul class="list-unstyled courses--list-macro  panel-group accordion" id="accordion-courses" role="tablist" >
                    {% for course_grouped in courses_list %}

                    <li class="panel">
                        <div class="panel-heading " role="tab">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-courses"
                                href="#accordion-{{ course_grouped.grouper|slugify }}">{{ course_grouped.grouper }}
                                 <i class="fa fa-angle-up"></i>
                                </a>
                                
                            </h2>
                        </div>
                        <div id="accordion-{{ course_grouped.grouper|slugify }}" class="panel-collapse collapse ">
                            <div class="panel-body">
                        
                                <ul class="list-unstyled courses--list-micro">
                                    {% for course in course_grouped.list %}
                                    <li>
                                        <div class="course-box">
                                            <div class="course-box--img">
                                                <a title="{{ course.title }}" href="{{ course.get_absolute_url }}">
                                                    <img class="img-responsive" alt="{{ course }}" src="{{ course.image.url }}" />
                                                </a>
                                            </div>
                                            <h2 class="course-box--title">
                                                 <a title="{{ course.title }}" href="{{ course.get_absolute_url }}">
                                                    {{ course.title }}
                                                 </a>
                                            </h2>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


</div>


</section>




<!-- COLONNA BANNERS   -->
<div class="col-sm-4 sidebar-dx">
    {% block right-col %} {% include "includes/right-col.html" %} {% endblock %}
</div>

{% endblock %}
 {% block banners %} {% include "includes/banners.html" %} {% endblock %}