{% extends 'courses/base_courses.html' %}
{% load i18n %}
{% block title %} {{ course.title }} | {{ block.super }} {% endblock %}
{% block social_meta %}
<meta property="og:title" content="{{ course.title }} - Confesercenti" />
<meta property="og:url" content="http://{{ request.get_host }}{{ course.get_absolute_url }}" />
<meta property="og:image" content="http://{{ request.get_host }}{{ course.image.url }}" />
{% endblock %}
{% block content %}
<div class="col-sm-8">
    <div class="article-page content">
        <article class="article">
            <span class="article--back">
                <a href="javascript: history.go(-1)"><i class="fa fa-angle-double-left"></i> </a>
            </span>
            <!-- HEADER -->
            <header class="article--header">
                <!-- TITLE-->
                <h2 class="article--title">{{ course.title }}</h2>
 <a class="btn btn--green bg-green pull-right" style="color: #fff" href="/contact_form/corsi/?course_id={{ course.id }}">
                <span>Richiesta informazioni corsi <i class="fa fa-info"></i></span>
            </a>
                <picture class="article--img-wrap">
                        <img class="article--img" src="{{ course.image.url_500x220 }}" alt="{{ course.title }}" />
                </picture>

                <!-- SOCIALS -->
                <section class="socials">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54bd479b063c897a" async="async"></script>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>
                </section>
            </header>
            <!-- CONTENT -->
            <div class="article--content">
                {{ course.body|safe|urlizetrunc:20 }}
            </div>
            {% if course.category.all or course.macrocategory.all %}
            <section class="categories">

                <h2 class="section--title text-right">Categorie</h2>
                <i class="fa fa-tags pull-right"></i>
                <ul class="box-categories--list  list-unstyled list-inline text-right">
                    {% for category in course.macrocategory.all %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                    </li>
                    {% endfor %} {% for category in course.category.all %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </article>
        <div style="clear:both"></div>
      
    </div>
</div>
<!-- COLONNA BANNERS   -->
<div class="col-sm-4 sidebar-dx">

    {% block right-col %} {% include "includes/right-col.html" %} {% endblock %} {% block services %} {% include "includes/services.html" %} {% endblock %}
</div>


{% endblock %}