{% autoescape off %} {% load i18n %} {% load news_tags %}
 <!-- SERVIZI -->
<section class="box-home box-home--services">
<div class="panel-group accordion" id="accordion">

    
    <!-- CORSI  -->
    <div class="panel">
        <div class="panel-heading ">
            <h2 class="panel-title">
            <a class="text-blue" data-toggle="collapse" 
                href="#Corsi">
              I Corsi
                <i class="fa fa-angle-up"></i>
                {% comment %}{% url corsi_search %} {% endcomment %} {% get_latest_courses %} {% if latest_courses %}
            </a>
          </h2>
        </div>
        <div id="Corsi" class="panel-collapse ">
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for course in latest_courses %}
                    <li>
                        <h3 class="panel-item">
                            <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
                        </h3>
                    </li>
                    {% endfor %}
                    <li class="panel--all pull-right"><a href="/corsi_confe/" >Tutti i corsi</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- INIZIATIVE  -->
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">
            <a class="text-red" data-toggle="collapse" 
                href="#Iniziative">
              Iniziative <i class="fa fa-angle-up"></i>{% get_latest_promo %} {% if latest_promo %}
            </a>
          </h4>
        </div>
        <div id="Iniziative" class="panel-collapse ">
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for promo in latest_promo %}
                    <li>
                        <h3 class="panel-item">
                            <a href="{{ promo.get_absolute_url }}">{{ promo.title }}</a>
                        </h3>
                    </li>
                    {% endfor %}
                    <li class="panel--all pull-right"><a href="{% url  promozioni_search %}" >Tutte le iniziative</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- CONVENZIONI LOCALI -->
    <div class="panel ">
        <div class="panel-heading">
            <h2 class="panel-title">
            <a class="text-orange" data-toggle="collapse" 
                href="#Convenzioni">
              Convenzioni locali <i class="fa fa-angle-up"></i>{% get_latest_conv %} {% if latest_conv %}
            </a>
          </h4>
        </div>
        <div id="Convenzioni" class="panel-collapse ">
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for conv in latest_conv %}
                    <li>
                        <h3 class="panel-item">
                            <a href="{{ conv.get_absolute_url }}">{{ conv.title }}</a>
                        </h3>
                    </li>
                    {% endfor %}
                    <li class="panel--all pull-right"><a href="/convenzioni_confe/" >Tutte le convenzioni</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
</div> 
    

</section>
{% endautoescape %}








