{% load banner_template %}

<div id="hWrapper">
                                           



<div class="owl-carousel container">
    <!-- banner 3 linee -->
	{% get_slide_banners 4 %}	
	{% for banner in slide_banner_list %}	 
		{% include "includes/slide_banner/three_line.html" %}               
	{% endfor %}
	
    <!-- solo immagine -->
	{% get_slide_banners 5 %}
	{% for banner in slide_banner_list %} 
		{% include "includes/slide_banner/only_image.html" %}               
	{% endfor %}


{% comment %}
{# rimosso banner swf#}
    <!-- solo swf -->
	{% get_slide_banners 6 %}
	{% for banner in slide_banner_list %} 
		{% include "includes/slide_banner/only_swf.html" %}               
	{% endfor %}
{% endcomment %}
</div>
    </div>
<style>

</style>
 <script type="text/javascript">
$(document).ready(function() {
    $('.owl-carousel').owlCarousel({
        margin:10,
        loop:true,
        autoWidth:true,
        items:3,
        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>']
    })

});

</script>