{% load flatpage_menu %}
{% get_root_menu %}
<nav class="navbar navbar-default main-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<!--            <a class="navbar-brand" href="#">NavBar</a>-->
        </div>
    
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav lev1">
        {% for root_menu in root_menu_list %}
        <li class="{% if not root_menu.get_absolute_url %}dropdown-submenu main-nav {% endif %}{{ root_menu|slugify }}">
            <a href="{{ root_menu.get_absolute_url }}" {% if not root_menu.get_absolute_url %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ root_menu }} {% if not root_menu.get_absolute_url %}<i class="fa fa-angle-down"></i>{% endif %}</a>
            {% if root_menu.child %}
            <ul class="dropdown-menu lev2 multi-level">
                {% for child in root_menu.get_child %}
                <li {% if not child.get_absolute_url %}class="dropdown-submenu lev1-nav"{% endif %}>
                    <a href="{{ child.get_absolute_url }}" {% if not child.get_absolute_url %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ child.name }} {% if not child.get_absolute_url %}<i class="fa fa-angle-down"></i>{% endif %}</a>
					
					{% if child.get_child %}
					<ul class="dropdown-menu lev3 ">
						{% for childest in child.get_child %}
		                <li {% if not childest.get_absolute_url %}class="dropdown-submenu lev2-nav"{% endif %}>
		                    <a href="{{ childest.get_absolute_url }}" {% if not childest.get_absolute_url %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ childest.name }}{% if not childest.get_absolute_url %}<i class="fa fa-angle-down"></i>{% endif %}
                            </a>						
						</li>
						{% endfor %}
					</ul>				
					{% endif %}    
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
       
<!-- temporaneo -->		
		<!--li class="current">
            <a href="/corsi_confe/" >dev. Corsi</a>
		</li-->
		<!--li class="current">
            <a href="/convenzioni_confe/" >dev. Convenzioni</a>
		</li-->		
<!-- temporaneo -->
				
    </ul>
    </div>
  </div>
</nav>