{% autoescape off %}

	<div class="box_news_home_sec" >
	    <!-- mini news-->
	    <div class="secundary ">
	       <div class="date_news">
	            <a href="{{ new.get_absolute_url }}"><span class="date">{{ new.pub_date|date:"d" }}</span>
	                <br/>
	                <span class="date">{{ new.pub_date|date:"M" }}</span>
	            </a>
	         </div>
	        <h2 class="title_news_sec">
				<a href="{{ new.get_absolute_url }}">{{ new.title|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}</a>
			</h2>
	    </div>
	</div>
{% endautoescape %}