{% load cover_utility %} {% load banner_template %}
<!-- BANDI E FINANZA -->

<section class="bandi-home">
    <a class="btn btn-default btn-home bg-red" href="/bandi/v2/">
        <!--/bandi/finanza-agevolata/ -->
            <span>Bandi e Finanza Agevolata</span>
    </a>
</section>

<a href="/chisiamo/cescot/"><img style="margin:auto" class="img-responsive" src="/static/images/cescot.jpg" alt="Cescot" border="0">
            </a>


<!-- PUNTO INFORMATIVO-->

<section class="punto-informativo ">
    <ul class="list-unstyled list banners ">
        {% get_cover 1 %}
    </ul>
</section>


<!-- SOCIALS -->
<section class="socials">
        <a class="btn btn-default btn--fb" href="https://www.facebook.com/Confesercenti-Bergamo-297066340318730/timeline/" target="_blank">

    
        <i class="fa fa-facebook"></i> Seguici su FB
    </a>
       <a class="btn btn-default btn--tw" href="https://twitter.com/confesercentibg" target="_blank">
        <i class="fa fa-twitter"></i> confesercentibg

    </a>

</section>

<!-- BANNERS -->
<section id="banners" class="clearfix">
    <!-- recupero i banner swf testata-flash -->
    {% get_banners 3 site %} {% for banner in banner_list %} {% if forloop.first %} {% if banner.swf %}
    <div class="pull-right">
        <object width="240" height="150" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
            <param value="{{ banner.swf.url }}" name="movie">
            <param value="high" name="quality">
            <embed src="{{ banner.swf.url }}" width="240" height="150" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high">
        </object>
    </div>
    {% endif %} {% endif %} {% endfor %}

    <!-- recupero i banner immagini -->
    {% get_banners 1 site %} {% for banner in banner_list %}
    <div class="banner_logo">
        <a target="_blank" href="{{ banner.link }}" {% if banner.href_active %}target="_blank" {% endif %}>
            <img class="img-responsive"  style="margin: auto;" src="{{ banner.logo.url }}" alt="{{ banner }}" border="0" />
        </a>
    </div>
    {% endfor %}
</section>
<!--
<section class="banner banner__sogemi">
    <a href="http://www.sogemispa.it/" target="_blank" style="padding:0 20px;margin:auto;display: block;;">
        <img class="img-responsive" style="margin:auto" src="{{ MEDIA_URL }}images/milano/banners/sogemi.jpg" alt="Sogemi Milano" />
    </a>
</section>
-->


<!-- numero verde -->
<!--
<section class="numero-verde">
    <div style="padding:10px;">
        <img class="img-responsive" style="margin: auto;" src="/static/images/numero_verde.jpg" alt="Numero verde Confesercenti: 800 - 018040">
    </div>
</section>
-->

{% block corsietc %} {% include "includes/corsi-iniziative-promo.html" %} {% endblock %}

