{% extends "events/base_events.html" %}
{% load i18n %}

{% block content_title %}
  <h2>{% trans "Punto Informativo" %}</h2>
{% endblock %}


{% block content %}
	<div id="">
		<div class="box_home">
			<ul>
			    {% for document in documents %}
					{% if document.attachment_1 %}
						<li><a target="_blank" href="{{ document.attachment_1.url }}">{{ document }}</a></li>
					{% endif %}
					{% if document.attachment_2 %}
						<li><a target="_blank" href="{{ document.attachment_2.url }}">{{ document }}</a></li>
					{% endif %}  
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}