{% load cover_utility %} {% load banner_template %}



<div class="container bottom-banners">
    <h2 class="text-left">ENTI DEL SISTEMA CONFESERCENTI</h2>
    <ul class="list-unstyled  banners-list">
        {% get_banners 2 site %} {% for banner in banner_list %} {% if banner.logo %}
        <li>
            <a href="{{ banner.link }}" {% if banner.href_active %}target="_blank" {% endif %}><img class="img-responsive" src="{{ banner.logo.url }}" alt="{{ banner }}" border="0" />
            </a>
        </li>
        {% endif %} {% endfor %}
<!--
        <li>
            <a target="_blank" href="http://www.confesercenti.bergamo.it/servizi/gps_impresa/"><img class="img-responsive" src="{{ MEDIA_URL }}images/banners/gps_impresa.jpg" alt="GPS Impresa" />
            </a>
           
        </li>

       
         <li>
            <a target="_blank" href="http://sviluppodimpresaitalia.it/"><img style="position: relative;top: -20px;" class="img-responsive" src="{{ MEDIA_URL }}images/sviluppodimpresa.jpg" alt="Sviluppo d’impresa Italia" />
            </a>
            <!--<img width="230px" src="{{ MEDIA_URL }}images/banners/gps_impresa.jpg" alt="banner" />
        </li>-->

    </ul>
</div>