
<div class="top-header">
    <div class="container">
        <div class="header-wrap">
         <!-- LOGO -->
            <div class="logo" class="pull-left">
                <a href="{% url home %}">
                    <img class="img-responsive" style="width:220px;" src="{{ MEDIA_URL }}images/logo_milano.jpg" alt="Confesercenti Milano" />
                </a>
            </div>  


            <div class="banner_logo visible-lg-block" style="width: 200px;">
                <a target="_blank" href="http://www.reteimpreseitalia.it/">
                    <img class="img-responsive" style="margin: auto;" src="/static/images/Untitled-2.jpg" alt="Rete Imprese Italia" border="0">
                </a>
            </div>

            <!-- SEARCH  -->
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form method="GET" action="{% url news_search %}">
                        <span class="sb-icon-close"> X </span>
                        <input class="sb-search-input" placeholder="Cerca nel sito..." onfocus="this.value=''" type="search" value="" name="search_text" id="search_nav_butt">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>

        
        
        </div>
       

       

    </div>
</div>

