{% load cover_utility %} {% load banner_template %}
<!-- BANDI E FINANZA -->

<section class="bandi-home">
    <a class="btn btn-default btn-home bg-red" href="/bandi/v2/">
            <span>Bandi e Finanza Agevolata</span>
    </a>
</section>



<!-- PUNTO INFORMATIVO-->
<!--
<section class="punto-informativo ">
    <ul class="list-unstyled list banners ">
        {% get_cover 1 %}
    </ul>
</section>
-->

<!-- SOCIALS -->
<section class="socials">
    <h3> Seguici su:</h3>
    
    <a class="btn btn-default btn--fb" href="https://www.facebook.com/confesercenti.milano/" target="_blank">
        <i class="fa fa-facebook"></i> Milano
    </a>
    <a class="btn btn-default btn--fb" href="https://www.facebook.com/Confesercentimonza/" target="_blank">
        <i class="fa fa-facebook"></i> Monza
    </a>
    <a class="btn btn-default btn--tw" href="https://twitter.com/confesercentimi" target="_blank">
        <i class="fa fa-twitter"></i> ConfesercentiMi
    </a>
    
    <a class="btn btn-default btn-home bg-yellow btn--newsletter" href="/contact_form/newsletter/">
        <i class="fa fa-envelope-o"></i> Newsletter
    </a>


</section>

<!-- BANNERS -->
<section id="banners" >
    <!-- recupero i banner swf testata-flash -->
    {% get_banners 3 site %} {% for banner in banner_list %} {% if forloop.first %} {% if banner.swf %}
    <div class="pull-right">
        <object width="240" height="150" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
            <param value="{{ banner.swf.url }}" name="movie">
            <param value="high" name="quality">
            <embed src="{{ banner.swf.url }}" width="240" height="150" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high">
        </object>
    </div>
    {% endif %} {% endif %} {% endfor %}

    <!-- recupero i banner immagini -->
    {% get_banners 1 site %}
    <!--test test-->
    {% for banner in banner_list %}
    <!--test-->
    {% if banner.link %}<div class="banner_logo" style="margin:20px 0 ">
        <a target="_blank" href="{{ banner.link }}" {% if banner.href_active %}target="_blank" {% endif %}>
            <img class="img-responsive"  style="margin: auto;" src="{{ banner.logo.url }}" alt="{{ banner }}" border="0" />
        </a>
    </div>{% endif %} 
    {% endfor %}
</section>
{% comment %}
<section class="banner banner__sogemi">
    <a href="http://www.sogemispa.it/" target="_blank" style="padding:0 20px;margin:auto;display: block;;">
        <img class="img-responsive" style="margin:auto" src="{{ MEDIA_URL }}images/milano/banners/sogemi.jpg" alt="Sogemi Milano" />
    </a>
</section>
{% endcomment %}


<!-- numero verde -->
<!--
<section class="numero-verde">
    <div style="padding:10px;">
        <img class="img-responsive" style="margin: auto;" src="/static/images/numero_verde.jpg" alt="Numero verde Confesercenti: 800 - 018040">
    </div>
</section>
-->

{% block corsietc %} {% include "includes/corsi-iniziative-promo.html" %} {% endblock %}

