{% load banner_template %}
<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"  xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Confesercenti Milano{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Sito Ufficiale della Confesercenti Milano. Servizi per le imprese, servizi per i cittadini, servizi per le istituzioni, convenzioni locali, servizi per i professionisti.{% endblock %}" />
	<meta name="author" content="{% block meta_author %}Confesercenti Milano{% endblock %}" />
    <meta name="keywords" content ="{% block meta_keywords %}confesercenti , confesercenti Milano , aziende bergamasche , settore commercio , turismo , turismo Milano , commercio Milano , consulenza fiscale , consulenza tributaria , pratiche , licenze , contratti , caaf , caaf imprese , ente bilaterale , cat , promozioni ,  finanziamenti alle imprese , finanziamento alle imprese , ufficio credito , credicoop , credicoop lombardia , ufficio credito , credito agevolato , patronato itaco , patronato , paghe e contributi , tenuta contabilità , convenzioni , convenzioni agevolate , convenzioni agevolate al commercio , convenzioni al turismo{% endblock %}" />
    <!--meta name = "viewport" content = "width = device-width"-->

    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" /> 
    {# TODO: <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png" /> #}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css?v=1" />
    <link rel="stylesheet" media="handheld" href="{{ MEDIA_URL }}css/handheld.css?v=1" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960_24_col.css?v=1" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base_milano.css?v=1" />
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jsCarousel.css?v=1" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/superfish.css" media="screen">
<!--[if lt IE 9]>
         <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Chivo:400,900' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600italic,800' rel='stylesheet' type='text/css'>
         <script type="text/JavaScript" src="{{ MEDIA_URL }}js/curvycorners.src.js"></script> 
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie8-and-down.css" />
        <script type="text/javascript">
        var curvyCornersVerbose = false;
        </script> 
<![endif]-->   
  
	
    {# TODO: <link rel="stylesheet" href="{{ MEDIA_URL }}css/projectname.css?v=1" /> #}
    {% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <!--script>!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script-->
    <script src="{{ MEDIA_URL }}js/modernizr-1.7.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.spotslider.js"></script>
    <!--test-->
    {% block social_meta %}
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">
    {% block stocazzo %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <div class="stocazzo" style="display:none;position: fixed; bottom: 0px; color: rgb(255, 255, 255); z-index: 2; padding:25px 50px; background: rgb(8, 8, 8);font-size: 16px;left: 0;right: 0;">
            <span style="float:right; font-size: 25px;margin-top: -10px;font-weight: 100;background-color: #138AB3;padding: 3px 10px;border-radius: 4px;cursor: pointer;margin-right: -30px;">X</span>
        <h3>Informativa</h3>

            <p>
            Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella <a href="http://www.confesercentimilano.it/privacy/" style="color: #fff;text-decoration:underline"> Cookie Policy</a>.</br/>Se vuoi saperne di più o negare il consenso a tutti o ad alcuni cookie, consulta la cookie policy.
            </p>
            <p>
           Chiudendo questo banner, scorrendo questa pagina, cliccando su un link o proseguendo la navigazione in altra maniera, acconsenti all’uso dei cookie.
            </p>

        </div>
        <script>
        $(document).ready(function() {
           // $.cookie('cookiePolicy', '1', { expires: 7 });
               if ($.cookie('cookiePolicy') == null) {
                    $.cookie('cookiePolicy', 'yes', { expires: 37, path: '/' });
                    $('.stocazzo').css('display','block');
                }
            $('body').click(function() {
               $('.stocazzo').hide();
            });

            $('.stocazzo').click(function(event){
               $('.stocazzo').hide();
            });
        });
        </script>
        {% endblock %}   
{% block body %}
    <div id="container" class="container_24">
    
    			
        <header>
			{% block logo %}
                 {% include "includes/logo.html" %}
            {% endblock %}
            
			{% block menu %}
			     {% include "includes/menu.html" %}
			{% endblock %}
        </header>
				
    
        <div id="main">
             
                
                {% block content %}
                    {% block highlights %}
                        {% include "includes/highlights.html" %}
                    {% endblock %}
                <!-- 2 cols left container-->
                <div id="two-cols">  
                    
                    {% block news %}
                       
                    {% endblock %}
                    
                    {% block disqus %}
                    <!--    {% include "includes/disqus.html" %}-->
                    {% endblock %}
                </div> 
                <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
                <div style="clear:both"></div>    
        			
        		{% endblock %}			
                 
                
        </div><!-- main -->
         

    </div> <!-- end of #container -->
    
  <footer>
                {% block footer %}
                    {% include "includes/footer.html" %}
                {% endblock %}  
            

        </footer> 

    <!--[if lt IE 7 ]>
      <script src="{{ MEDIA_URL }}js/dd_belatedpng.js?v=1"></script>
    <![endif]-->

    {% if debug %}{% include 'includes/debug.html' %}{% endif %}
    {% block javascript_library %}
    
	
	<script src="{{ MEDIA_URL }}js/jsCarousel-2.0.0.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/superfish.js"></script>	
    {% endblock %}
    {% block javascript %}
	
		<script type="text/javascript">
		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});
		</script>
	
	{% endblock %}

{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26830961-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>