{% load banner_template %}
<!DOCTYPE html> {% load i18n %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"    xmlns:og="http://opengraphprotocol.org/schema/"
     xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Confesercenti Lecco{% endblock %}</title>

     <meta name="description" content="{% block meta_description %}Sito Ufficiale della Confesercenti Lecco. Servizi per le imprese, servizi per i cittadini, servizi per le istituzioni, convenzioni locali, servizi per i professionisti.{% endblock %}" />
	<meta name="author" content="{% block meta_author %}Confesercenti Lecco{% endblock %}" />
    <meta name="keywords" content ="{% block meta_keywords %}confesercenti , confesercenti Lecco , aziende bergamasche , settore commercio , turismo , turismo Lecco , commercio Lecco , consulenza fiscale , consulenza tributaria , pratiche , licenze , contratti , caaf , caaf imprese , ente bilaterale , cat , promozioni ,  finanziamenti alle imprese , finanziamento alle imprese , ufficio credito , credicoop , credicoop lombardia , ufficio credito , credito agevolato , patronato itaco , patronato , paghe e contributi , tenuta contabilità , convenzioni , convenzioni agevolate , convenzioni agevolate al commercio , convenzioni al turismo{% endblock %}" />
    
    
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" />

    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png" />
   
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/owl.carousel.css" />
   
    <link href='http://fonts.googleapis.com/css?family=Khand:300|Raleway:600,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
<!--    <link rel="stylesheet" href="{{ MEDIA_URL }}assets/css/main.css" />-->
 
    <!-- Custom Responsive -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}assets/css/custom.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Jquery + Bootstrap js-->
    <script src="{{ MEDIA_URL }}assets/js/main.js"></script>
    <!-- Custom Js + carousel -->
    <script src="{{ MEDIA_URL }}assets/js/custom.js"></script>
       <script src="{{ MEDIA_URL }}js/owl.carousel.min.js" type="text/javascript"></script>

    {% block social_meta %}
    {% endblock %}

</head>


<body class="{% block body_class %}{% endblock %}" id="lc">
    {% block stocazzo %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <div class="stocazzo" style="display:none; position: fixed; bottom: 0; color: rgb(255, 255, 255); background: black;z-index: 2;padding: 20px;">
            <span style="float:right; font-size:30px">X</span>
        <h3>Informativa</h3>

            <p>
            Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella <a href="/privacy/" style="color: #fff;text-decoration:underline"> Cookie Policy</a>.<br/>Se vuoi saperne di più o negare il consenso a tutti o ad alcuni cookie, consulta la cookie policy.</p>
            <p>
           Chiudendo questo banner, scorrendo questa pagina, cliccando su un link o proseguendo la navigazione in altra maniera, acconsenti all’uso dei cookie.
            </p>

        </div>
        <script>
        $(document).ready(function() {
           // $.cookie('cookiePolicy', '1', { expires: 7 });
               if ($.cookie('cookiePolicy') == null) {
                    $.cookie('cookiePolicy', 'yes', { expires: 37, path: '/' });
                    $('.stocazzo').css('display','block');
                }
            $('body').click(function() {
               $('.stocazzo').hide();
            });

            $('.stocazzo').click(function(event){
               $('.stocazzo').hide();
            });
        });
        </script>
        {% endblock %}
    
    {% block body %}
    <div class="wrapper">
        <header>
                {% block logo %} {% include "includes/logo.html" %} {% endblock %} {% block menu %} {% include "includes/menu.html" %} {% endblock %}
        </header>
        <!--        NAVIGATION    -->
        <main class="main-section" role="main">
            {% block highlights %} {% endblock %} 
            <div class="container">
                {% block content %} 
                <!-- 2 cols left container-->
                <div class="row">
                   <div class="col-md-9 main-content">
                        {% block news %} {% endblock %} 
                        {% block disqus %} {% endblock %}
                       
                    </div>
                   
                    <!-- COLONNA BANNERS   -->
                    <div class="col-md-3 col-sm-12 sidebar-dx home">
                       {% block right-col %} {% include "includes/right-col.html" %} {% endblock %}
                    </div>
                </div>
                {% endblock %}
                
            </div>
            
            {% block banners %} {% include "includes/banners.html" %} {% endblock %}
            
        </main>
        <!-- main -->
       <!-- FOOTER -->
                {% block footer %} {% include "includes/footer.html" %} {% endblock %}
       <!-- FOOTER -->

        
    </div>
    <!-- end of #wrapper -->        

    <!--[if lt IE 7 ]>
      <script src="{{ MEDIA_URL }}js/dd_belatedpng.js?v=1"></script>
    <![endif]-->

    
    {% if debug %}{% include 'includes/debug.html' %}{% endif %} {% block javascript_library %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
     <!-- custom scripts -->
    <script src="{{ MEDIA_URL }}assets/js/custom.js"></script>
 
 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hoverIntent.js"></script>

    {% endblock %} {% block javascript %} {% endblock %} {% endblock %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26830961-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>

</html>