#mi {
    
    //HEADER  
    @palette-1: #55ACEE;
    a:hover, a:focus {
        color: @palette-1;
    }
    
    .header-wrap {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse; 
           
        @media @min-tablet{
            flex-direction: row; 
            justify-content: space-between;
             align-items: center; 
        }
        
    }
    .sb-search {
        width: 100%;
        @media @min-tablet{
            width: 270px;
            margin: 30px 0;
        }
    }
    

    .navbar-toggle {
        @media @max-tablet{
            top: -50px;
            z-index: 3333;  
        }
    
    }
    .wrapper > header {
        border-bottom: 4px solid @palette-1;
    }
    //MENU
    @media (min-width: 992px) {
        .dropdown-submenu > .dropdown-menu li a:hover {
            border-color: @palette-1;
        }
    }
    //HOMEPAGE NEWS
    .home-news.primary .article--header a:after,
    .box-categories .fa,
    .read-more .fa,
    .category--card li .fa {
        color: @palette-1;
    }
    .read-more:hover {
        border-color: @palette-1;
    }
    .home-news.secundary .article--title {
        border-left: 2px solid @palette-1;
    }
    //FOOTER    
    footer.footer .footer--bottom {
        border-top: 4px solid @palette-1;
    }
    //FLAT PAGES
    .flat-page .flat-page--content {
        a:not(.btn) {
            color: @palette-1;
        }
        h3 {
            border-left: 4px solid @palette-1;
            padding-left: 10px;
        }
    }
  // OTHER PAGES
  .milano-sponsors {
      ul {
          text-align: justify;
      }
      li {
          width: auto;
          vertical-align: middle;
          border: 1px solid rgb(204, 204, 204);
          float: left;
          margin: 10px 10px 15px 0;
      }
      img {
          max-width: 180px;
          max-height: 94px;
      }
  }
}

#lc {
    @palette-lc: rgb(0, 87, 158);
    @lc-red: rgb(218, 14, 4);
    //background-color: rgb(0, 87, 158);
    .wrapper > header {
        border-bottom: 4px solid @palette-lc;
    }
    //MENU
    @media (min-width: 992px) {
        .dropdown-submenu > .dropdown-menu li a:hover {
            border-color: @palette-lc;
        }
    }
    //HOMEPAGE NEWS
    .home-news.primary .article--header a:after,
    .box-categories .fa,
    .read-more .fa,
    .category--card li .fa {
        color: @lc-red;
    }
    .read-more:hover {
        border-color: @palette-lc;
    }
    .home-news.secundary .article--title {
        border-left: 2px solid @palette-lc;
    }
    //FOOTER    
    footer.footer .footer--bottom {
        border-top: 4px solid @palette-lc;
    }
    //FLAT PAGES
    .flat-page .flat-page--content {
        a:not(.btn) {
            color: @palette-lc;
        }
        h3 {
            border-left: 4px solid @palette-lc;
            padding-left: 10px;
        }
    }
}