{% extends "home.html" %}
{% load flatpage_menu %}
{% block title %}{{ flatpage.title }} - {{ block.super }}{% endblock %}

{% block meta_description %}
 	{{ flatpage.title }}, {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ flatpage.title }}, {{ block.super }}
{% endblock %}


{% block news %}
      <div class="content flat_page_content">
              {{ flatpage.content }}
			  
			  {% get_extended_flatpage flatpage.id %}
			  
			  {% if extended_flat_page.active_box %}
              <div class="box_site" style="clear: both;">
                  <h2 style="text-align: right; font-size: 1.2em;">{{ flatpage.title }}</h2>
				  
				  {% if extended_flat_page.responsible %} 
                  <p style="text-align: right;">
                      Responsabile: 
                      <br/>
                      {{ extended_flat_page.responsible }}
                  </p>				  
                  <p>
                      &nbsp;
                  </p>
				  {% endif %} 
				  
				  
                  <h2 style="text-align: left; font-size: 1.2em;">Info</h2>
                  <ul class="info_list">
                  	  {% if extended_flat_page.info %}
                      <li>
                          <p>
                              {{ extended_flat_page.info }}
                          </p>
                      </li>
					  {% endif %}
					  
					  
					  {% if extended_flat_page.phone %}
                      <li>
                          <span>Tel:&nbsp;</span>
                           {{ extended_flat_page.phone }}
                      </li>
					  {% endif %}
					  
					  {% if extended_flat_page.fax %}
                      <li>
                          <span>Fax:</span>
                      		{{ extended_flat_page.fax }}     
                      </li>
					  {% endif %}
					  
					  {% if extended_flat_page.email %}
                      <li>
                          <span>E-mail:</span>
						  <a href="mailto:{{ extended_flat_page.email }}" >
                      		{{ extended_flat_page.email_description }}     
							</a>
                      </li>
					  {% endif %}					  
					  
					  {% if extended_flat_page.website %}
                      <li>
                          <span>Web:</span>
						  <a href="{{ extended_flat_page.website }}" target="_blank" >
                      		{{ extended_flat_page.website }}     
							</a>
                      </li>
					  {% endif %}					  
                  </ul>
              </div>
			  {% endif %}			  
      </div>
{% endblock %}

{% block footer %} {% include "includes/footer.html" %}{% endblock %}

{% block highlights %}{% endblock %}