{% extends 'base.html' %} {% load i18n %} {% load uni_form %} {% block title %}{{ block.super}} {% trans "Iscrizione newsletter" %}{% endblock %} {% block content %}
<section class="section-newsletter">
    <h1 class="section--title">Cancella iscrizione alla newsletter</h1>
    <p>Inserisci </p>
    <div class="section--content">
        {% if done %}
        <span class="msg">   
                            <p> Cancellazione effettuata correttamente.</p>
                    </span> {% else %} {% if form.errors %}
        <p class="errorField">Email non corretta</p>
        {% endif %}
        <br/>
        <form class="forms form-newsletter" action="" method="post" enctype="multipart/form-data">
            {{ form|as_uni_form }}
            <p>
                <input class="btn btn-default btn-home bg-red" type="submit" value="INVIA" name="save" />
            </p>
        </form>
        {% endif %}
    </div>
</section>


{% endblock %}