{% extends 'base.html' %} {% load i18n %} {% load uni_form %} {% block title %}{{ block.super}} {% trans "Iscrizione Newsletter" %}{% endblock %} {% block content %}
<section class="section section-newsletter">
    <h1 class="section--title">Iscrizione alla Newsletter</h1>
    <p>Inserisci i tuoi dati per ricevere aggiornamenti da Confesercenti</p>
    <div class="section--content">
        {% if done %}
        <span class="msg">   
                        <p> Complimenti! Registrazione effettuata correttamente</p>
                    </span> {% else %} {% if form.errors %}
        <p class="errorField"><i class="fa fa-bell-o" aria-hidden="true"></i> Correggi gli errori segnalati</p>
        {% endif %}
        <br/>
        <form class="forms" action="" method="post" enctype="multipart/form-data">
            {{ form|as_uni_form }}
            <p>
                <input class="btn btn-default btn-home bg-red" type="submit" value="INVIA" name="save" />
            </p>
        </form>
        {% endif %}
    </div>

</section>

{% endblock %}