<table class="tab_panel_deal">
    <tr>
        <td>Nome</td>
        <td>Cognome</td>
        <td>Email</td>
        <td>Attivo</td>
        <td>Creato</td>
    </tr>

    {% for newsletter in newsletter_list %}
        <tr>
            <td>{{ newsletter.first_name }}</td>
            <td>{{ newsletter.last_name }}</td>
            <td>{{ newsletter.email }}</td>
            <td>{% if newsletter.active %}X{% endif %}</td>
            <td>{{ newsletter.created_at }}</td>
        </tr>
    {% endfor %}
</table>

