{% extends 'base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}{{ block.super}} {% trans "Contact Form" %}{% endblock %}

{% block content %}
<div id="two-cols" style="max-width:650px;margin:auto;"> 
        
        <div class="box_home" style="padding:20px">
                <h2 class="title_news">Modulo di Adesione</h2>
                <div class="news_content_home">
                    <p>Dichiaro di essere interessato all'adesione alla Confesercenti, in qualità di socio ordinario. <br/> 
                        Chiedo di essere contattato da un incaricato di Confesercenti per avere ulteriori informazioni, al seguente indirizzo : </p>
                    <br/>
                    <form class="forms" action="/contact_form/associarsi/" method="post" enctype="multipart/form-data">
                        {{ form|as_uni_form }}
                        <p ><input class="btn btn--green" style="margin:30px auto" type="submit" value="INVIA" name="save" /></p>
                    </form>
                    <p>Attenzione!
La compilazione e l'invio di questo modulo non sono impegnativi.
Al ricevimento della presente richiesta un nostro incaricato la contatterà per fornirle ulteriori chiarimenti prima di passare alla formalizzazione della sua iscrizione.
Il richiedente prende atto dei diritti riconosciuti dall'art. 13 del D.Lgs. 30.06.2003 n° 196 sul trattamento dei dati personali ed autorizza il ricevente a trattare i dati relativi inviati attraverso questo modulo elettronico per le sole finalità indicate. </p>
               </div>
        </div>
</div>
 <div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
{% endblock %}
