{% extends 'base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}{{ block.super}} {% trans "Contact Form" %}{% endblock %}

{% block content %}
<div id="two-cols" style="width:650px;margin:auto;"> 
        
        <div class="box_home" style="padding:20px">
                <h1 class="title_news">Richiesta informazioni corsi</h1>
                {% if course %} <h2>{{ course }}</h2>{% endif %}

                <div class="news_content_home">
                    {% if form.errors %}
                        <p class="errorField">Correggi gli errori segnalati</p>
                    {% endif %}
                    <h3>Premessa</h3>
                    <p>Tutti i corsi sono a numero chiuso.</p>
                    <p>L'avvio delle singole attività formative è subordinato al raggiungimento del numero minimo di iscritti stabilito dalla Direzione.</p>
                    <p>Corsi realizzati con il contributo della Camera di Commercio e con la collaborazione di Bergamo Formazione.</p> 
                	<br/>
                	<form class="forms" action="{% url contact_form_course %}" method="post" enctype="multipart/form-data">
                		{{ form|as_uni_form }}
                		<p><input class="btn btn-default btn-home bg-red" style="left:0" type="submit" value="INVIA" name="save" /></p>
                	</form>
               </div>
        </div>
</div>

{% if course %}
    <script type="text/javascript" >
    $('#div_id_course').hide()
    </script>
{% endif %}
{% endblock %}
