{% extends 'base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}{{ block.super}} {% trans "Contact Form" %}{% endblock %}

{% block content %}
<div id="two-cols" style="width:650px;margin:auto;"> 
        
        <div class="box_home" style="padding:20px">
                <h2 class="title_news">ANALISI DEI FABBISOGNI FORMATIVI</h2>
                <div class="news_content_home">
                    <p>Confesercenti effettua un monitoraggio dei finanziamenti ottenibili e li mette a disposizione delle imprese per accrescere competenze e abilità delle figure che operano all'interno delle aziende.</p>
                    <p> Lo strumento è il Cescot, il centro di formazione interno a cui è affidato il compito di individuare il canale di finanziamento più idoneo, progettare e organizzare corsi personalizzati, o soddisfare la richiesta attraverso uno dei corsi interaziendali a catalogo.</p>
                    <p> Compili e invii la scheda sottostante, un nostro incaricato la ricontatterà per segnalarle le linee di finanziamento attive al momento.</p>
                	<br/>
                	<form class="forms" action="{% url contact_form_professional %}" method="post" enctype="multipart/form-data">
                		{{ form|as_uni_form }}
                		
                		<p align="right"><input style="left:0" type="submit" value="INVIA" name="save" /></p>
                	</form>
                	
            	</div>
        </div>
</div>
 
{% endblock %}
