{% extends 'base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}{{ block.super}} {% trans "Contact Form" %}{% endblock %}

{% block content %}
<div id="two-cols" style="width:650px;margin:auto;"> 
        
        <div class="box_home" style="padding:20px">
                <h2 class="title_news">Richiesta informazioni bandi</h2>
                <div class="news_content_home">
                    {% if form.errors %}
                        <p class="errorField">Correggi gli errori segnalati</p>
                    {% endif %}
{% comment %}
                    <h3>Premessa</h3>
                    <p>Tutti i bandi sono a numero chiuso.</p>
                    <p>L'avvio delle singole attività formative è subordinato al raggiungimento del numero minimo di iscritti stabilito dalla Direzione.</p>
                    <p>bandi realizzati con il contributo della Camera di Commercio e con la collaborazione di Bergamo Formazione.</p>
{% endcomment %}
                	<br/>

                	<form class="forms" action="" method="post" enctype="multipart/form-data">
                		{{ form|as_uni_form }}
                		<p><input class="btn btn-default btn-home bg-red" style="left:0" type="submit" value="INVIA" name="save" /></p>
                	</form>
               </div>
        </div>
</div>
 
{% endblock %}
