/* MILANO COLOR */
.sf-menu li,
.sf-menu li li,
.sf-menu li li li,
h2.title,
.date_news {background:#138AB3 !important;} 
.category_list_outer h2.title {}
h2.title_news_sec a,
ul.list li a,
h2.title_news a {color:#444;}
.img_news,
.box_news_home_sec, 
.box_home_sec,
.box_image_news {border-top: 5px solid #138AB3;}
/* Temporary */
.footer_container {padding: 0 0 10px 0;}
.footer_box h2 {padding:0 10px 0}
.footer_box li {float:left;width:175px;padding:0 10px;border-right:1px solid #eee;border-bottom:1px solid white;}
.footer_box {width:60%;padding:10px;}
.footer_box.fb {width:30%;float:right;}
.flat_page_content h2 {background:  paleGoldenrod;border-bottom: 1px solid #CCC;color: #444;font-family: Courier;font-size: 1.53em;
    line-height: 1em;padding: 10px;text-align: right;margin-bottom: 15px;}
.flat_page_content h3,
.flat_page_content .box_site h2 {background-color: white;border-bottom:1px solid #EEE;color: #444;font-family: Courier;font-size: 1.53em;
    line-height: 1em;margin:0 20px 10px 20px;padding-bottom:15px 15px  5px 0;text-align: left;}
.flat_page_content .box_site h2 { background-color: #F9F9F9;}
.flat_page_content .box_site p {padding:5px;}
.flat_page_content .box_site p:first-child {width:310px;}
.flat_page_content .box_site li {text-transform: capitalize;padding-left:5px !important;}
.flat_page_content .box_site li a {text-transform: lowercase;}

.flat_page_content h4 {padding: 10px;margin: 5px 0;display: block;}
.flat_page_content ul {margin:0 20px 0 15px}
.flat_page_content li {border-bottom: 1px dotted #CCC;padding: 5px 2px;}

.flat_page_content ul li ul li {background:none;border:none;list-style-type:circle;list-style-position:inside;}

/* NEW SHIT HERE */
/*RIGHT BANNER*/
ul.banners li img {padding: 7px 0;}
.jscarousal-horizontal {background:#EEE !important;}
/*.jscarousal-horizontal-back, 
.jscarousal-horizontal-forward {cursor:default !important;opacity:0.7;}*/
/*NEWS CONTAINER*/
#news_block {
    width:1000px;
    margin:0 auto;
    position:relative;
    padding:10px;
    border:1px solid #EBEBEB;
    background:#E5E9D2;
  
    }
    
/*NEWS BOXES*/
.news_box {
    height:220px;
    width:300px;
    padding:10px 8px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
    float:left;
    margin-right:8px;
    background:#fff;
    }
#news_block .last {
    margin-right:0;
    }
.news_slider {
    width: 925px;
    height: 235px;
    position: relative;
    z-index: 10;
    margin:0 auto;
    margin-bottom:10px;
    overflow:hidden;
    }
.news_slider ul.slides {
    position:relative;
    width:auto;
    height:320px;
    overflow:hidden;
    left:0;
    }
.news_slider ul.slides li {
    float:left;
    width:312px;
    }
    
/*LEFT and RIGHT ARROWS*/
.news_slider-right, .news_slider-left {
    background-image:url(../images/milano/slider-home/news_slider-frecce.png);
    background-repeat:no-repeat;
    height:37px;
    width:25px;
    cursor: pointer;
    position:absolute;
    top:100px;
    z-index:100;
    }
.news_slider-right {
    background-position: -25px 0;
    right:10px;
    }
.news_slider-left {
    left:10px;
    }
.news_slider-right:hover {
    background-position: -25px -37px;
    }
.news_slider-left:hover{
    background-position: 0px -37px;
    }
    
/*SPOTS*/
.news_slider-spots {
    text-align: center;
    list-style: none;
    width: auto;
    height:10px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    }
.news_slider-spots li {
    background-image:url(../images/milano/slider-home/news_slider-step.png);
    background-repeat:no-repeat;
    background-position:0 0;
    position: relative;
    float:left;
    width: 10px;
    height: 8px; 
    text-indent:-9999px;
    outline:none;
    cursor:pointer;
    }
.news_slider-spots li:hover, .news_slider-spots li.active {
    background-position:-10px 0;
    }
    
/*v2 addon*/
#toggleTime {
    position:absolute;
    bottom:5px;
    right:15px;
    width:20px;
    height:19px;
    }
#toggleTime:hover {
    filter:alpha(opacity=90);
    moz-opacity:0.9;
    khtml-opacity: 0.9;
    opacity: 0.9;
    }
.tplay {
    background:url(../images/milano/slider-home/time-control.png) no-repeat 0 0;
    }
.tpause{
    background:url(../images/milano/slider-home/time-control.png) no-repeat 0 -19px;
    }

/*  CAROUSEL CONTENT   */
.news_slider .highlights_3links {float:left; }
.news_slider .title {width:auto}
.news_slider .thumbnail-text {float:left;}
.news_slider .thumbnail-text ul.list li{float:none;width:auto;}
.news_slider .slides li.images {width:282px;margin-right:10px} 
.news_slider .slides li.images .news_box  { width:282px;}

