h1, h2, h3, h2 a {font-family: 'Ubuntu Mono', sans-serif !important;font-weight:bold !important;}
p, li {font-family: 'Chivo', sans-serif !important;}
h2.title, .radius_top {
      border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      -webkit-border-top-right-radius:6px;
      -webkit-border-top-left-radius:6px;
  }
.radius_bottom {
      border-radius:0 0 6px 6px ;
      -moz-border-radius: 0 0 6px 6px;
      -webkit-border-bottom-right-radius:6px;
      -webkit-border-bottom-left-radius:6px;
  }
.radius_6 {
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius:6px;
      
  }
li.radius_4 , .box_site, strong.titles, ul.categories li a, .info_list li span, .radius_4 {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius:4px;
      
  }
ul.categories li a:hover {color:black !important;}
