﻿/*Horizontal Orientation CSS*/
.jscarousal-horizontal
{
	  background-color: #E5E9D2;
    border-radius: 5px 5px 5px 5px;
    height: 246px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1020px;
}
.jscarousal-horizontal-back, .jscarousal-horizontal-forward
{
	color: White;
    cursor: pointer;
    float: left;
    height: 98px;
    position: relative;
    top: 75px;
    width: 23px;
}
.jscarousal-horizontal-back
{
	background-image: url(../images/left_arrow.jpg);
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 20px;
}
.jscarousal-horizontal-forward
{
	background-image: url(../images/right_arrow.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
.jscarousal-contents-horizontal
{
    float: left;
    height: 235px;
    margin-left: 24px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 910px;
}
.jscarousal-contents-horizontal > div
{
	position: absolute;
	width: 100%;
	height: 235px;
}
.jscarousal-contents-horizontal > div > div
{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}
.jscarousal-contents-horizontal img
{
	
}
/*Horizontal Orientation CSS Ends*/

/*Common*/
.hidden
{
	display: none;
}
.visible
{
	display: block;
}
.thumbnail-active
{
	filter: alpha(opacity=100);
	opacity: 1.0;
	cursor: pointer;
}
.thumbnail-inactive
{
	filter: alpha(opacity=20);
	opacity: 0.2;
	cursor: pointer;
}
.thumbnail-text
{
	color: #7A7677;
	font-weight: bold;
	text-align: left;
	display: block;
	padding: 0px 2px 2px 0px;
}

/*   HIGHLIGHTS IMAGES BANNER DIMENSION*/
.highlights_image {    height: 216px;width: 280px;}
.highlights_3links {width:280px;height:90px;}
