body {background:none;}
#navigation {
    display: none !important;visibility:hidden;color:white;
    }
.search_box, #navigation ul li a {visibility:hidden;color:white;display:none}    
#wrapper, #content {
    width: auto; 
    margin: 0 5%;
    padding: 0; 
    border: 0;
    float: none !important;
    color: black; 
    background: transparent;
    }



