{% extends 'base.html' %}

{% block content %}
<div id="two-cols">  
    <div class="box_site">
        <p>Grazie!</p>
        <p>La vostra richiesta è stata inviato con successo ai nostri uffici.</p>
        <p>Sarete contattati al più presto da un nostro operatore.</p>
    </div>
    
    <a class="news-back form-back" href="javascript: history.go(-1)">&laquo; Indietro</a>
</div>

{% endblock %}
