{% extends 'base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}{{ block.super}} {% trans "Contact Form" %}{% endblock %}

{% block content %}
<div id="two-cols" style="width:650px;"> 
        
        <div class="box_home" style="padding:20px">
                <h2 class="title_news">Richiesta informazioni corsi{% if course %} {{ course }}{% endif %}</h2></h2>
                <div class="news_content_home">
                    {% if form.errors %}
                        <p class="errorField">Correggi gli errori segnalati</p>
                    {% endif %}
                    <h3>Premessa</h3>
                    <p>Tutti i corsi sono a numero chiuso.</p>
                    <p>L'avvio delle singole attività formative è subordinato al raggiungimento del numero minimo di iscritti stabilito dalla Direzione.</p>
                    <p>Corsi realizzati con il contributo della Camera di Commercio e con la collaborazione di Bergamo Formazione.</p> 
                	<br/>
                	<form class="forms" action="{% url contact_form_course %}" method="post" enctype="multipart/form-data">
                		{{ form|as_uni_form }}
                		<p align="right"><input style="left:0" type="submit" value="INVIA" name="save" /></p>
                	</form>
               </div>
        </div>
</div>
 <div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
{% endblock %}
