{% extends 'base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}{{ block.super}} {% trans "Contact Form" %}{% endblock %}

{% block content %}
<div id="two-cols" style="width:650px;"> 
        
        <div class="box_home" style="padding:20px">
                <h2 class="title_news">ANALISI DELLA CONCORRENZA DELLA TUA IMPRESA</h2>
                <div class="news_content_home">
                    <p>Se hai un progetto imprenditoriale ben definito e vuoi conoscere quanti sono i concorrenti nel bacino d'utenza della tua impresa, compila e invia la scheda sottostante</p>
                    <br/>
                    <form class="forms" action="/contact_form/analisi/" method="post" enctype="multipart/form-data">
                        {{ form|as_uni_form }}
                        <p align="right"><input style="left:0" type="submit" value="INVIA" name="save" /></p>
                    </form>
               </div>
        </div>
</div>
 <div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
{% endblock %}
