<div class="box_home box_slider">
    {% if banner.link %}<a href="{{ banner.link }}" {% if banner.href_active %}target="_blank"{% endif %} >{% endif %}
    <h2 class="title">{{ banner.title }}</h2>
	{% if banner.link %}</a>{% endif %}
    <div style="float:left;">
	{% if banner.swf %}
        <object width="160" height="250" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
            <param value="{{ banner.swf.url }}" name="movie"><param value="high" name="quality">
            <embed src="{{ banner.swf.url }}" width="160" height="250" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high">
        </object>
	{% endif %}
    </div>
</div>
