<div class="box_home box_slider">

{% if banner.link %}<a href="{{ banner.link }}" {% if banner.href_active %}target="_blank"{% endif %} >{% endif %}
        <img alt="" class="highlights_image" src="{{ banner.logo.url }}" />
{% if banner.link %}</a>{% endif %}    
    
</div>