<div class="box_home box_slider radius_4">
	{% if banner.link %}<a href="{{ banner.link }}" {% if banner.href_active %}target="_blank"{% endif %}>{% endif %}
    <h2 class="title radius_top">{{ banner.title }}</h2>
	{% if banner.link %}</a>{% endif %}
    <img class="highlights_3links" alt="" src="{{ banner.logo.url_160x120 }}" />
    <br/>
    <div class="thumbnail-text">
        <ul class="list">
        	{% if banner.description_line_1 %}
            <li>            	
                <a href="{{ banner.link_line_1 }}" {% if banner.href_active %}target="_blank"{% endif %}>{{ banner.description_line_1 }}</a>
            </li>
			{% endif %}
			
			{% if banner.description_line_2 %}
            <li>
                <a href="{{ banner.link_line_2 }}" {% if banner.href_active %}target="_blank"{% endif %}>{{ banner.description_line_2 }}</a>
            </li>
			{% endif %}
			
			{% if banner.description_line_3 %}
            <li>
                <a href="{{ banner.link_line_3 }}" {% if banner.href_active %}target="_blank"{% endif %}>{{ banner.description_line_3 }}</a>
            </li>
			{% endif %}
        </ul>
    </div>
</div>
