<div class="item">
    <div class="box-highlights">
        {% if banner.link %}<a href="{{ banner.link }}" {% if banner.href_active %}target="_blank" {% endif %}>{% endif %}
        <picture class="box-highlights--img">
        <img alt="" class="img-responsive" src="{{ banner.logo.url }}" />
            </picture>
        {% if banner.link %}</a>{% endif %}

    </div>
</div>