<div class="item">
    <div class="box-highlights__3links">
        {% if banner.link %}<a href="{{ banner.link }}" {% if banner.href_active %}target="_blank" {% endif %}>{% endif %}
    <h2 class="box-highlights--title ">{{ banner.title }}</h2>
	{% if banner.link %}</a>{% endif %}
     <picture class="box-highlights--img">
        <img alt="Designed by Alvaro_cabrera - Freepik.com" src="{{ banner.logo.url }}" />
    </picture>
        
        <div class="box-highlights--txt">
            <ul class="list-unstyled">
                {% if banner.description_line_1 %}
                <li>
                    <a href="{{ banner.link_line_1 }}" {% if banner.href_active %}target="_blank" {% endif %}><i class="fa fa-external-link" aria-hidden="true"></i> {{ banner.description_line_1 }}</a>
                </li>
                {% endif %} {% if banner.description_line_2 %}
                <li>
                    <a href="{{ banner.link_line_2 }}" {% if banner.href_active %}target="_blank" {% endif %}><i class="fa fa-external-link" aria-hidden="true"></i> {{ banner.description_line_2 }}</a>
                </li>
                {% endif %} {% if banner.description_line_3 %}
                <li>
                    <a href="{{ banner.link_line_3 }}" {% if banner.href_active %}target="_blank" {% endif %}><i class="fa fa-external-link" aria-hidden="true"></i> {{ banner.description_line_3 }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>