{% extends "base.html" %}

{% get_comment_form for document as comment_form %}
    <form action="{% comment_form_target %}" method="post">
	    {% csrf_token %}
	    <div class="comment-form">
		    <label for="id_title">Titolo</label>
    		    {{ comment_form.title }}
    		    <label for="id_title">Commento</label>
    		    {{ comment_form.comment }}
    	   
    	    
    	    {{ comment_form.content_type }}
    	    {{ comment_form.object_pk }}
    	    {{ comment_form.timestamp }}
    	    {{ comment_form.security_hash }}
            <input type="submit" name="submit" value="Scrivi">
            <input type="hidden" name="next" value="{{ document.get_detail_url }}" />
         </div>
	</form>