{% extends "home.html" %} {% block highlights %} {% include "includes/highlights.html" %} {% endblock %} {% load flatpage_menu %} {% block title %}{{ flatpage.title }} - {{ block.super }}{% endblock %} {% block meta_description %} {{ flatpage.title }}, {{ block.super }} {% endblock %} {% block meta_keywords %} {{ flatpage.title }}, {{ block.super }} {% endblock %} {% block content %}

<div class="row flat-page-wrap">
    
    <div class="col-md-9 col-sm-7 main-content">
        {% block news %}
        <section class="content flat-page">
            <article class="flat-page--content">
            {{ flatpage.content }} {% get_extended_flatpage flatpage.id %} {% if extended_flat_page.active_box %}
            </article>
            <div class="flat-page--box">
                <h2>{{ flatpage.title }}</h2> 
                
                {% if extended_flat_page.responsible %}
                <h3>
                   <span> Responsabile:</span>
                    <span> {{ extended_flat_page.responsible }}</span>
                </h3>
                {% endif %}


                <h4>Info</h4>
                <ul class="unstyled-list">
                    {% if extended_flat_page.info %}
                    <li>
                        <p>
                            {{ extended_flat_page.info }}
                        </p>
                    </li>
                    {% endif %} 
                    
                    {% if extended_flat_page.phone %}
                    <li class="flat-page--box-phone">
                        <i class="fa fa-phone"></i>
                        <span>Tel:&nbsp;</span> {{ extended_flat_page.phone }}
                    </li>
                    {% endif %} 
                    {% if extended_flat_page.fax %}
                    <li class="flat-page--box-fax">
                        <i class="fa fa-fax"></i>
                        <span>Fax:</span> {{ extended_flat_page.fax }}
                    </li>
                    {% endif %} 
                    {% if extended_flat_page.email %}
                    <li class="flat-page--box-email">
                        <i class="fa fa-envelope-o"></i>
                        <span>E-mail:</span>
                        <a href="mailto:{{ extended_flat_page.email }}">
                      		{{ extended_flat_page.email_description }}     
							</a>
                    </li>
                    {% endif %} 
                    {% if extended_flat_page.website %}
                    <li class="flat-page--box-web">
                        <i class="fa fa-external-link"></i>
                        <span>Web:</span>
                        <a href="{{ extended_flat_page.website }}" target="_blank">
                      		{{ extended_flat_page.website }}     
						</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </section>
        {% endblock %}
    </div>
    <!-- COLONNA BANNERS   -->
    <div class="col-md-3 col-sm-5 sidebar-dx">
        {% block right-col %} {% include "includes/right-col.html" %} {% endblock %}
        {% block services %} {% include "includes/services.html" %} {% endblock %}
       
    </div>
</div>
{% endblock %}