
<footer class="footer">
    <!-- FOOTER TOP-->
    <div class="footer--top">
        <div class="container">
            <div class="row">
                <div class="footer--links col-sm-7">
                    <h2>LINK</h2>
                    <ul class="list-unstyled">
                        <li class="col-xs-6"><a href="/entieistituzioni/">ENTI E ISTITUZIONI</a>
                        </li>
                        <li class="col-xs-6"><a href="/organidiinformazione/">ORGANI DI INFORMAZIONE</a>
                        </li>
                        <!--<li><a href="/motoridiricerca/">MOTORI DI RICERCA</a></li>
                        <li class="col-xs-6 clearfix"><a href="/distrettidelcommercio/">DISTRETTI DEL COMMERCIO</a>-->
                        </li>
                        <li class="col-xs-6"><a href="/sitiutili/">SITI UTILI</a>
                        </li>
                    </ul>
                </div>
                <!--
     <div class="footer_box">
                <h2>NEWSLETTER CONFESERCENTI</h2>
                <p>Resta aggiornato con le ultime news di Confesercenti. Iscriviti alla Newsletter o agli Rss</p>
                <div class="newsletter_box ">
                     <form  method="GET" action="#">            
                     <input type="newsletter_text" value="Iscriviti alla newsletter..." onfocus="this.value=''" name="newsletter_text" id="newsletter_input">
                     <input type="image" id="search_nav_butt" src="{{ MEDIA_URL }}images/newsletter.png"> 
                     </form>
                </div>
     </div>
     -->
                <div class="footer--contacts col-sm-5">
                    
<!--                     <img class="img-responsive" src="{{ MEDIA_URL }}images/numero_verde.jpg" alt="Numero verde Confesercenti: 800 - 018040" />-->
                    
<!--
                    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                    <fb:like></fb:like>
-->

                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER BOTTOM-->
    <div class="footer--bottom">
        <div class="container">

            <ul class="list-inline list-unstyled">
                <li><a href="/privacy/">PRIVACY E COOKIE POLICY</a>
                </li>
                <!--<li><a href="http://www.40cm.it" target="_blank">CREDITS</a>
                </li>-->
                <li><a href="/admin">AREA RISERVATA</a>
                </li>
                <li><a href="/pubblicazioni/privati/">AREA INTRANET</a>
                </li>
                <li><a href="/accounts/logout/">ESCI</a>
                </li>

                <li class="copyright pull-right"> &copy; 2017 - Confesercenti Lecco <small> - C.F 80111530152</small></li>
            </ul>
        </div>
    </div>
</footer>