
<div class="top-header">
    <div class="container">

        <!-- SEARCH  -->
        <div class="search-box">
            <div id="sb-search" class="sb-search">
                <form method="GET" action="{% url news_search %}">
                    <span class="sb-icon-close"> X </span>
                    <input class="sb-search-input" placeholder="Cerca nel sito..." onfocus="this.value=''" type="search" value="" name="search_text" id="search_nav_butt">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="sb-icon-search"></span>
                </form>
            </div>
        </div>


        <!-- LOGO -->
        <div class="logo" class="pull-left">
            <a href="{% url home %}">
                <img class="img-responsive" src="{{ MEDIA_URL }}images/lecco/logo-confe__LECCO.png" alt="Confesercenti Lecco" />
            </a>
        </div>

    </div>
</div>

