{% autoescape off %} {% load i18n %} {% load news_tags %}


<!-- COLONNA  PRICIPALE -->
 <section class="home-news-list ">
    <header class="section--header hide">
                <h1>News Confesercenti Milano</h1>
    </header>
     {% for new in news_list %} {% ifequal forloop.counter 1 %}
   

     {% comment %} 
        <!--div class="date_news">
            <a href="{{ new.get_absolute_url }}"><span style="font-size:2.9em" class="date">{{ new.pub_date|date:"d" }}</span>
                <br/>
                <span style="font-size:1.5em;text-transform:uppercase" class="date">{{ new.pub_date|date:"M" }}</span>
            </a>
        </div-->
     {%endcomment%}
     
  
           <!-- PRIMARY NEWS -->
        
          <article class="home-news primary clearfix ">
            <h2 class="title article--title">
                <a href="{{ new.get_absolute_url }}">
                {{ new.title }}
                </a>
            </h2>
             
            <header class="article--header col-md-6">
               <a class="article--img" href="{{ new.get_absolute_url }}">
                    <img class="img-responsive" src="{{ new.image.url }}" alt="{{ new.title }}" />
               </a>
            </header>
              
            <div class="article--content home-news--content col-md-6">
                <p>{{ new.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"60" }}</p>
<!--
                <div class="read-more">
                    <a href="{{ new.get_absolute_url }}">{% trans "Continua" %}
                    <i class="fa fa-search-plus"></i>
                    </a>
                </div>
-->
             </div> 
            
            {% if new.category.all or new.macrocategory.all %}
            <footer class="article--footer">
                <div class="box-categories">
                    <i class="fa fa-tags pull-right"></i>
                    <ul class="box-categories--list  list-unstyled list-inline text-right">
                        {% for category in new.macrocategory.all %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                        </li>
                        {% endfor %} {% for category in new.category.all %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </footer>
            {% endif %}
        </article>
        
<!--        <div class="box-home--services">-->
            <!-- BOTTONI SERVIZI -->
            {% block services %} {% include "includes/services.html" %} {% endblock %} 
<!--        </div>-->
    
       

        <section class="home-news-list">
            <header class="section--header hide">
                <h1>Altre news</h1>
            </header>
    {% else %}
    <!-- NEwS SECunDary -->
     
        
        <div class="col-md-6 item-wrap">
        <!-- mini news-->
            <article class="home-news secundary ">
           {% comment %} <!--div class="date_news" style="margin: 0 10px 10px 0 !important;">
	                        <a href="{{ new.get_absolute_url }}"><span style="font-size:2.9em" class="date">{{ new.pub_date|date:"d" }}</span>
	                            <br/>
	                            <span style="font-size:1.5em;text-transform:uppercase" class="date">{{ new.pub_date|date:"M" }}</span>
	                        </a>
	                     </div-->{%endcomment%}
            <header class="article--header">
                <h1 class="article--title">
                    <a href="{{ new.get_absolute_url }}">{{ new.title|truncatewords:20 }}</a>
                </h1>
            </header>
            <div class="article--content">
                {{ new.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}
            </div>
            {% if new.category.all %}
            <footer class="article--footer">
                <div class="box-categories">
                    <i class="fa fa-tags pull-right"></i>
                    <ul class="box-categories--list list-unstyled list-inline  text-right">
                        {% for category in new.macrocategory.all %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                        </li>
                        {% endfor %} {% for category in new.category.all %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </footer>
            {% endif %}
        </article>
        </div>
        
     {% endifequal %} {% endfor %}
        <footer class="section--footer clearfix">
            <div class="read-more">
        <a href="/news/search/" title="Archivio News">
            Archivio News
        <i class="fa fa-cloud"></i></a>
    </div>
        </footer>
        </section>  

</section>
<!-- COLONNA TOP NEWS  -->
{% comment %}
<section class="box-top-news">
    
    <div>
        <h2 class="title"><a href="{% url  news_search %}" >{% trans "Le News Più Lette" %}</a></h2> {% get_most_viewed_news %} {% if most_viewed_news %}
        <ul class="list news_link">
            {% for new in most_viewed_news %}
            <li>
                <a href="{{ new.get_absolute_url }}">{{ new.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
   

</section>
{%endcomment%}
{% endautoescape %}