        

{% autoescape off %} {% load i18n %} {% load news_tags %} 
 <!-- SERVIZI -->
<section class="box-home quick-services">
<!-- Button trigger modal -->
<button type="button" class="btn text-red btn-lg" data-toggle="modal" data-target="#myModal-1">
  <i class="fa fa-rocket"></i>
   <label> Start up e gestione d'impresa</label>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-sidebar">
          
          <button type="button" class="service-owner " >
                <i class="fa fa-envelope-o"></i>
                <i class="fa fa-times hidden"></i>
          </button>
          <h3>Responsabile</h3>
            <h3 class="modal-title">Confesercenti Lecco  </h3>
            <i class="fa fa-envelope-o"></i>&nbsp; <a href="mailto:info@confesercentilecco.it">RICHIEDI INFORMAZIONI</a><br/><br/>
            
<span><i class="fa fa-phone"></i>Telefono</span>
          <span><a href="tel:+390341251014">+390341251014</a></span>
          
          <!--span>Numero Verde</span><span>800 018040</span-->
      </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h2 class="modal-title" id="myModalLabel">Start up e gestione d'impresa</h2>
      </div>
      <div class="modal-body">
        <p>Start up d'impresa è il servizio di Confesercenti Lecco  che affianca l'aspirante imprenditore nei suoi primi passi, dalla valutazione della solidità del progetto alla stesura del business plan.

Una consulenza qualificata e personalizzata, cui si aggiunge un'ampia scelta di corsi di formazione 

e aggiornamento professionale, calibrati sui concreti obiettivi aziendali.

La fase di start up e la gestione ordinaria dell'impresa richiedono diversi atti legali e adempimenti 

amministrativi. Confesercenti semplifica i passaggi burocratici offrendo offre ai propri associati una 

gamma completa di servizi, accompagnati da puntuali interventi di consulenza in materia.

Grazie al continuo aggiornamento dei nostri esperti, gli associati e i nuovi imprenditori sono al 

riparo da eventuali ritardi, incompletezze e irregolarità.</p>
      </div>
    </div>
  </div>
</div>

<!-- Btn 2-->  
  <button type="button" class="btn text-blue  btn-lg" data-toggle="modal" data-target="#myModal-2">
    <i class="fa fa-users"></i>
     <label> Risorse umane</label>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-sidebar">
          <h3>Responsabile</h3>
            <h3 class="modal-title">Confesercenti Lecco  </h3>
            <i class="fa fa-envelope-o"></i>&nbsp; <a href="mailto:info@confesercentilecco.it">RICHIEDI INFORMAZIONI</a><br/><br/>
            
<span><i class="fa fa-phone"></i>Telefono</span>
          <span><a href="tel:+390341251014">+390341251014</a></span><!--span>Numero Verde</span><span>800 018040</span-->
      </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h2 class="modal-title" id="myModalLabel">Risorse umane</h2>
      </div>
      <div class="modal-body">
         <p>Il buon funzionamento di un'azienda moderna è strettamente legato a una corretta e soddisfacente 

gestione delle risorse umane, da sviluppare secondo adeguate politiche del lavoro. Il capitale 

umano è la prima risorsa di un'azienda e Confesercenti crea le condizioni per ottimizzarne il 

contributo. L'ufficio dedicato affianca l'imprenditore nella gestione delle paghe e nell'adempimento 

degli obblighi di legge, per definire in modo esatto le mansioni e gli aspetti retributivi dei dipendenti.

Controversie con i collaboratori, formazione del personale, aspetti previdenziali e assistenziali 

sono inoltre supportati dalle iniziative da Enbil, l’Ente Bilaterale cositituito da Confesercenti e i 

Sindacati di categoria.

L'imprenditore e i suoi collaboratori sono seguiti da vicino anche nelle loro esigenze pensionistiche 

e previdenziali: il Patronato Itaco garantisce assistenza gratuita e qualificata agli appartenenti ad 

ogni categoria.</p>
      </div>
    </div>
  </div>
</div>  
    
 <!-- Btn 3-->  
  <button type="button" class="btn text-green btn-lg" data-toggle="modal" data-target="#myModal-3">
    <i class="fa fa-pie-chart"></i>
     <label> Contabilità e gestione</label>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-sidebar">
          <h3>Responsabile</h3>
            <h3 class="modal-title">Confesercenti Lecco  </h3>
            <i class="fa fa-envelope-o"></i>&nbsp; <a href="mailto:info@confesercentilecco.it">RICHIEDI INFORMAZIONI</a><br/><br/>
            
<span><i class="fa fa-phone"></i>Telefono</span>
          <span><a href="tel:+390341251014">+390341251014</a></span><!--span>Numero Verde</span><span>800 018040</span-->
      </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h2 class="modal-title" id="myModalLabel">Contabilità e gestione</h2>
      </div>
      <div class="modal-body">
         <p>
                        La corretta gestione di Fisco e contabilità è una componente fondamentale del successo di 

un'impresa, perciò va monitorata con costanza e rigore. Confesercenti garantisce il puntuale 

assolvimento degli obblighi fiscali, contabili e dichiarativi.

L'imprenditore potrà affidare a Confesercenti la gestione delle scritture di contabilità in assoluta 

sicurezza: uno staff specializzato e l'utilizzo di software avanzati garantiscono al cliente rapidità, 

efficienza, qualità e convenienza.

In aggiunta, il servizio consente di tenere sotto controllo l'andamento economico-finanziario 

dell'azienda, formulare previsioni su costi e ricavi ed analizzare gli scostamenti a consuntivo.
                    </p>
      </div>
    </div>
  </div>
</div>  
    
 <!-- Btn 4-->  
  <button type="button" class="btn text-blue__light btn-lg" data-toggle="modal" data-target="#myModal-4">
    <i class="fa fa-graduation-cap"></i>
      <label>Formazione</label>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-sidebar">
          <h3>Responsabile</h3>
            <span>dott.ssa Sara Belotti</span>
            <i class="fa fa-envelope-o"></i>&nbsp; <a href="mailto:cescot@conf.bg.it">RICHIEDI INFORMAZIONI</a><br/><br/>
            
<span><i class="fa fa-phone"></i>Telefono</span>
          <span>+39 02 28186320  <br/> +39 035/4207359</span>
          
      </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h2 class="modal-title" id="myModalLabel">Formazione</h2>
      </div>
      <div class="modal-body">
         <p>Il Cescot, Centro Sviluppo Commercio Turismo e Terziario, l'ente di formazione di Confesercenti, propone un ampio ventaglio di corsi su misura, messi a punto insieme alle aziende per migliorare 

le competenze del personale, innovare l'attività e aumentare la competitività sul mercato. Cescot 

individua le forme pubbliche di finanziamento della formazione e le mette a disposizione degli 

associati, che possono così usufruire di corsi gratuiti o a costi contenuti.

Cescot è certificato UNI EN ISO 9001:2008 per le attività di Progettazione ed Erogazione di servizi 

di formazione e di orientamento professionale ed è accreditato alla Regione Lombardia per 

l'erogazione di servizi di formazione superiore e continua. È accreditato anche a Fon.ter, fondo 

interprofessionale per la formazione dei dipendenti.</p>
      </div>
    </div>
  </div>
</div>      
    
<!-- Btn 5-->  
  <button type="button" class="btn text-orange  btn-lg" data-toggle="modal" data-target="#myModal-5">
    <i class="fa fa-money"></i>
     <label> Credito agevolato</label>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-sidebar">
          <h3>Responsabile</h3>
            <h3 class="modal-title">Confesercenti Lecco  </h3>
            <i class="fa fa-envelope-o"></i>&nbsp; <a href="mailto:info@confesercentilecco.it">RICHIEDI INFORMAZIONI</a><br/><br/>
            
<span><i class="fa fa-phone"></i>Telefono</span>
          <span><a href="tel:+390341251014">+390341251014</a></span><!--span>Numero Verde</span><span>800 018040</span-->
      </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h2 class="modal-title" id="myModalLabel">Credito agevolato</h2>
      </div>
      <div class="modal-body">
          <p>
                    Confesercenti risponde alle esigenze di credito delle imprese associate tramite ITALIA COM-FIDI, iscritta nell’Elenco Speciale degli Intermediari Finanziari. Attraverso il rilascio di garanzie mutualistiche collettive, il Comfidi favorisce l’accesso al credito agevolato da parte delle Pmi associate, appartenenti ad ogni settore merceologico. In questo modo, le imprese possono contare su un partner affidabile, in grado di affiancarle in ogni loro esigenza finanziaria.
                    </p>
      </div>
    </div>
  </div>
</div>      

    
    <!-- Btn 6-->  
<button type="button" class="btn text-green__light btn-lg" data-toggle="modal" data-target="#myModal-6">
  <i class="fa fa-life-ring"></i>
    <label>Sicurezza, ambiente e privacy</label>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-sidebar">
          <h3>Responsabile</h3>
            <h3 class="modal-title">Confesercenti Lecco  </h3>
            <i class="fa fa-envelope-o"></i>&nbsp; <a href="mailto:info@confesercentilecco.it">RICHIEDI INFORMAZIONI</a><br/><br/>
            
<span><i class="fa fa-phone"></i>Telefono</span>
          <span><a href="tel:+390341251014">+390341251014</a></span><!--span>Numero Verde</span><span>800 018040</span-->
      </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h2 class="modal-title" id="myModalLabel">Sicurezza, ambiente e privacy</h2>
      </div>
      <div class="modal-body">
           <p>
                    Confesercenti propone soluzioni per tutte le problematiche che le aziende devono costantemente affrontare in merito a salute e sicurezza negli ambienti di Lavoro, igiene degli alimenti, ambiente e privacy. La consulenza di Confesercenti garantisce alle imprese di raggiungere la piena conformità  alle numerose leggi tecniche attualmente in vigore. Mettersi in regola non è solamente un obbligo ma è anche un’opportunità per favorire una crescita serena della propria attività.
Grazie alle convenzioni stipulate da Confesercenti, gli associati possono inoltre contare su un 
servizio che presenta un buon rapporto qualità/prezzo.
                    </p>
      </div>
    </div>
  </div>
</div>      
       
    
    

</section>

<script>
            $('.service-owner').click(function(){
                $('.service-owner .fa').toggleClass(' hidden');
                $('.modal-sidebar').toggleClass(' opened');
                })
          </script>

{% endautoescape %}














