{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}



{% block content %}
<div id="two-cols">
	<div class="content left" style="width:100%">
	  	{% if private_page %}
							
			<h2>{% trans 'Documenti Privati' %} </h2>	
			<a class="btn-upload" href="{% url documents_list_private_add %}">Carica</a>
			<div class="search-wrap">
                <form method="GET" action=".">
                    <input type="search_text" {% if search_text%}value={{ search_text }}{% else %}value="Cerca tra i documenti..." onfocus="this.value=''"{% endif %}
    				 name="search_text" id="search_nav_input">
    				<input type="image" id="search_nav_butt" src="/static/images/search.png">
                </form>
            </div>
            
			
		{% else %}	
			{% if type %}
				<h2 class="title">{{ type }}</h2>
			{% else %}
		    	<h2 class="title">{% trans 'Punto Informativo' %} </h2>
			{% endif %}
			{% ifequal type.id 3 %}
		    	<p style="text-align:center"><img align="center" src="{{ MEDIA_URL }}images/pi.jpg" alt="Punto Informativo" /></p>
		    	 <hr/>
			{% endifequal %}
		   
		{% endif %}
	  	
		{% if documents %}	
		
			{% autopaginate documents 12 %}
			{% regroup documents|dictsortreversed:"insert_date.year" by insert_date.year as documents_list %}			
			    {% for document_group in documents_list %}
				<div class="left" style="width:100%">		
					<h2 class="title_flat clear">{{ document_group.grouper }}</h2>

					<ul class="pdf_PI {% ifnotequal type.id 3 %}pvt{% endifnotequal %}">
						{% for document in document_group.list %}
							<li>
								{% if private_page %}
									{# <!-- docs privati -->#}
									{% if document.parent %}
										<h2>
											<a target="_blank" href="{{ document.parent.get_detail_url }}">
												{{ document.parent }}
											</a>
										</h2>
										<p>{% trans 'Versione' %}: {{ document }} - {{ document.insert_date|date:"F j, Y" }}</p>
									{% else %}
										<h2><a target="_blank" href="{{ document.get_detail_url }}">{{ document }}</a></h2>
									{% endif %}
									<a class="btn-dwnld" target="_blank" href="{{ document.get_absolute_url }}">Scarica</a>
								{% else %}
									{# <!-- docs pubblici -->#}
									<h2><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></h2>
								{% endif %}
							</li>
							
						{% endfor %}  
					</ul>
				</div>
					
				{% endfor %}
			{% paginate %}
		{% endif %}
    </div>
</div>
 <!-- COLONNA BANNERS   --> 
<div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
<div style="clear:both"></div> 	
{% if not private_page %}
<div style="display:none" >
	<a href="{% url documents_list_private %}" >{% trans "Accedi ai documenti privati" %}</a>		
</div>
{% endif %}
	
{% endblock %}