{% if most_viewed_news_category %}
	<ul class="list">
	{% for new in most_viewed_news_category %}
        <li>
            <a href="{{ new.get_absolute_url }}">{{ new.title }}</a>
        </li>
	{% endfor %}
	</ul>
{% endif %}