{% load pagination_tags %}

{% autoescape off %}
	{% if most_viewed_news_category %}
		<ul class="info_list">
			
			{% if request %}{% autopaginate most_viewed_news_category 20 %}{% endif %}
			
			{% for new in most_viewed_news_category %}
				<li class="no_margin">
		        <!-- NEwS SECunDary -->
				    <div class="box_news_home_sec ">
				        <!-- mini news-->
				        <div class="secundary ">
				            <div class="date_news radius_6">
				                <span style="font-size:2em" class="date">{{ new.pub_date|date:"d" }}</span>
				                    <br/>
				                    <span style="font-size:1.2em" class="date">{{ new.pub_date|date:"M" }}</span>
				            </div>
				            <h2 style="color:#84a3a6;font-size:1.3em;padding-top:10px" class="title_news_sec">
								<a href="{{ new.get_absolute_url }}">{{ new.title|truncatewords:20 }}</a>
							</h2>
				            <div class="news_content_home_secundary">
								{{ new.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"20" }}
				            </div>
				            {% if new.category.all %}
				            <div class="categories">
				            	
					                <ul class="categories">
					                	{% for category in new.macrocategory.all %}
						                    <li>
						                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
						                    </li>
										{% endfor %}				                	
										
					                	{% for category in new.category.all %}
						                    <li>
						                        <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
						                    </li>
										{% endfor %}
					                </ul>
				            </div>
				            {% endif %}
				        </div>
					</div>
				</li>
			{% endfor %}
			{% if request %}{% paginate %}{% endif %}
		</ul>
	{% endif %}
{% endautoescape %}