{% extends 'news/news_basic.html' %}
{% load news_tags %}
{% load i18n %}

{% block title %}
   {{ news.title }} | {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{{ news.body|striptags|truncatewords:"30" }} | {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ news.body|striptags|truncatewords:"30" }} | {{ block.super }}
{% endblock %}
{% block social_meta %}
	<meta property="og:title" content="{{ news.title }} - Confesercenti"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ news.get_absolute_url }}"/>
	<meta property="og:image" content="{{ news.image.url }}"/>
{% endblock %}



{% block content %}
<div id="two-cols">  
    <div class="content">
   
        	<span class="news-back radius_6">
                <a href="/">&laquo; </a>
            </span>
	
	
	 <div class="date_news radius_6">
       <span style="font-size:2em" class="date">{{ news.pub_date|date:"d" }}</span><br/>
        <span style="font-size:1.3em" class="date">{{ news.pub_date|date:"M" }}</span>                                
    </div>
    <h2 class="title_news detail" style="clear:none !important">{{ news.title }}</h2> 
	
	  <div class="box_image_news">
                                
                                <img src="{{ news.image.url_500x220 }}" alt="{{ news.title }}" />
                                <div id="socials">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a><br/><br/><br/><br/>
                                      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                      <a class="addthis_button_tweet"></a>
                                    </div>
                                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4dbbeae24213cda8"></script>
                                    <!-- AddThis Button END -->
                                    
                                </div>
    </div>
	<div class="news_content_home">
		{{ news.body|safe|urlizetrunc:20 }}
	</div>

	{% if news.documents.all %}
		<div style="width: 100%;" >
			<ul class="pdf_PI pvt">
			 {% for document in news.documents.all %}
			 	<li><h2><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></h2></li>
			 {% endfor %}
			</ul>
		</div>
		{% endif %}		
	
	
	<div class="categories" style="clear:both;">
		{% if news.category.all or news.macrocategory.all %}
			<ul class="categories">
				{% for category in news.macrocategory.all %}
	                <li>
	                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
	                </li>
				{% endfor %}
	            {% for category in news.category.all %}
	                <li>
	                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
	                </li>
	            {% endfor %}
			</ul>
		{% endif %}
	</div>
 <div style="clear:both"></div> 
 <div style="padding:20px">
 {% block disqus %}
    {% include "includes/disqus.html" %}
{% endblock %}
</div>
</div>
</div>
                <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
               
</div>
{% endblock %}




