.section-bandi {
    .bandi--title  {
      overflow: hidden;
      position: relative;
      border-bottom: 5px solid #EEE;
      margin-bottom: 20px;
        .title {
            border-left: 2px solid #66B526;
            padding-left: 7px;
        }
        a {
          padding-right: 150px;
             @media @tablet-only{
                padding-right:0;
            }
          display: table-cell;
          vertical-align: middle;
          width: 100%;
        }
        .bandi--deadline {
          right: 0;
          width: 150px;
          position: absolute;
            @media @tablet-only{
                position: inherit
            }
          top: 50%;
          .transform(translateY(-50%));
          font-size: 14px;
          text-align: center;
            span {
              max-width: 530px;
            }
            strong {
              background: @orange;
              color: #FFF;
              padding: 3px 5px;
              display: inline-block;
              margin-left: 6px;
            }
        }
    }
    
.bandi {
  .transition;
  padding: 0 10px;
     .box-shadow(-7px 5px 0px #fff);
      border: 1px solid #fff;
    &:hover {
      .box-shadow(-7px 5px 0px #EEE);
      border: 1px solid #EEE;
    }
}
    
}