
//MICRO
.category--list li {
  //width: 50%;
  float: left;
    padding:0;
    
  
}
// MACRO
li.category--item {
  //width: 50%;
  float: left;
    padding:0;
    h2.title {
      border-bottom: 3px solid #5F5959;
      margin: 20px 10px;
      padding: 10px 0;
    }
    i.fa.fa-flag {
        margin:0 10px;
    }
}
// BOX CATEGORY
.category--box {
  padding-bottom: 10px;
      padding-left: 5px;
  background: #FAFAFA;
  margin: 5px 10px;
    position:relative;
  transition: all .3s ease;
    box-shadow: 5px 4px 0px transparent;
    &:hover {
      border-left: 4px solid @green;
        box-shadow: 5px 4px 0px #DDD;
      .category--link {
          opacity: 1;
        }
    }
    .category--name {
        text-transform: uppercase;
          color: #FFF;
          width: 100%;
          padding: 5px;
          display: block;
          font-family: khand;
          font-size: 24px;
          letter-spacing: 1px;
          margin-bottom: 10px;
        border-bottom: 2px solid #FFF;
    }
    .category--desc {
      display: block;
      padding: 5px;
      font-size: 19px;
      line-height: 16px;
        &:hover {
            color: black;
        }
    }
    .category--link{
        opacity: 0;
        a {
          margin: 10px;
          font-size: 25px;
          position: absolute;
          right: 5px;
          top: -5px;
        }
    } 
}
#category--3 {
    .category--name,
    .category--link a,
    i.fa.fa-flag{
        color: @orange;
    }
}
#category--4 {
    .category--name,
    .category--link a,
    i.fa.fa-flag{
        color: @red;
    }
}
#category--5 {
    .category--name,
    .category--link a,
    i.fa.fa-flag{
        color: @green-dark;
    }
}
#category--6 {
    .category--name,
    .category--link a,
    i.fa.fa-flag{
        color: @yellow;
    }
}



// SUBCATEGORY

.category--card li .fa {
  font-size: 22px;
  margin: 10px;
  color: @green;
}
.category--president {
  margin: 20px 0;
}
.category--description{
      padding: 20px 55px 0;
  font-size: 20px;
}
.category--logo{
    margin:0 auto 20px;
        position: absolute;
    right: 0;
    top: 0;
}