.section-conventions {
   .convention--item {
      width: 100%;
       overflow: hidden;
       margin-bottom:20px;
       display: inline-block;
       position: relative;
    }
    .convention--box-wrap {
      border: 1px solid #EEE;
      margin: 10px;
      display: inline-block;
      padding: 10px;
       @media @min-tablet{
            width: 46%;
            min-height: 110px;  
       }
        
      
        .transition;
        &:hover {
          box-shadow: 6px 5px 0px #F6D02F;
        }
    } 
    .conventions--wrap {
  display: block;
  //overflow: hidden;
  margin: 10px 0;
}
    .scrollspy {
       padding-top: 110px; 
       
    }
    .convention--nav {
          max-width: 280px;
        margin: 0px -22px;
       
          
          
          
        
        li {
           position: relative;
            &:hover a,
            &.active a {
                color: green;
                padding-left:5px;
                &:before {
                      content: '';
                      width: 11px;
                      height: 12px;
                      background: #54961B;
                      display: inline-block;
                      position: absolute;
                      left: 0px;
                      top: 5px;
                      border-radius: 25px;
                }
            
            }
            a {
              text-transform: uppercase;
              margin-left: 10px;
              display: block;
              margin-bottom: 5px;
              .transition;
              
            }
            
            
        }
    }
    .convention--img {
        img {
          max-width: 250px;
          padding-right: 10px;
        }
    }
    .convention--name {
  padding: 10px 5px;
  font-size: 24px;
  display: block;
  
    }

    .title.clearfix {
      border-bottom: 2px solid @green;
    }
    .category--list {
        //  float: left;
  width: 100%;
    }
}