.flat-page--content {
      //max-width: 760px;
      //margin: auto;
    //TITLEs
    .clearfix;
    a:not(.btn) {
        color: @green;
    }
    > h2 {
        font-size: 46px;
    }
    h3, .h3 {
      font-size: 38px;
    }
    .title{margin-top:20px !important}
    .title_flat {
      border-left: 4px solid @green;
      padding-left: 10px;
    }
    // Images
    img:nth-child(n+1) {
        &:extend(.img-responsive);
        padding: 20px 0;
    }
    // LISTs
    .bullet li{
      list-style: none;
        position: relative;
        padding-left: 1px;
 
        &:before {
          content: '';
          width: 12px;
          height: 3px;
          display: inline-block;
          background: #BABBB9;
          left: -20px;
          position: absolute;
          top: 10px;
          border-radius: 3px;
        }
         a {
          background: @orange;
          padding: 3px 5px;
          margin-bottom: 10px;
          display: inline-block;
          color: #FFF;
          text-transform: uppercase;
          margin-left: -22px;
          position: relative;
        }
    }
    .list_role li {
      width: 49%;
      display: inline-block;
      margin-bottom: 10px;
    }
    iframe {
          width: 770px;
          max-width: 100%;
          min-height: 300px;
    }
    #bandi iframe{
        width: 100%;
        height: 2000px; 
    }
    // CESCOT HP OVERRIDES TO CHECK

    .content_float_right {
        float: right;
        width: 40%;
        margin-left:10px;
        padding:0;
        ul {
            //padding-left: 20px !important;
            margin: 0;
            //border-left: none !important;
            float: none !important;
            li {
                margin-left: 20px;
            }
            li a {
                color:#fff !important;
            }
        }
    }
    
}

//BOX-site
    .box_site,
    .flat-page--box{
      padding: 0 20px 20px;
      border: 1px solid #EEE;
      box-shadow: -10px 10px 0px #EEE;
      margin:30px auto;
          max-width: 650px;

      h2,h4 {
            padding: 10px;
          border-bottom: 3px solid #54961B;
          font-size: 30px !important;
        }
        ul li,
        .info_list li {
            
              list-style: none;
              margin-bottom: 5px;

            span {
              margin-right: 10px;
              min-width: 107px;
              display: inline-block;
              background-color: #EEE;
              padding: 2px 10px;
              text-transform: uppercase;
            }
        }
    }