//===============================================================
//          HOME PAGE RULES
//  - Utilities classes
//  - Carosello pisello
//  - News Generic
//  - News Primary (BIG NEWS)
//  - News Generic (SMALL NEWS)
//  - Categories (NEWS CATEGORY)
//  - Punto Informativo
// UTILITIES
.section-title-home {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    display: inherit;
}

// CAROUSEL
.owl-carousel {
    padding: 10px 30px;
    border-top: 20px solid #f5f5f5;
    border-bottom: 20px solid #f5f5f5;
    .owl-item {
        cursor: -webkit-grab;
    }
}

#hWrapper {
    //display: none;
}

// CAROUSEL nav arrows
.owl-nav {
    .owl-prev, .owl-next {
        position: absolute;
        cursor: pointer;
        height: 100%;
        top: 0;
        padding: 0 10px;
        font-size: 30px;
        line-height: 224px;
    }
    .owl-prev {
        left: 0;
        &:hover {
            box-shadow: -3px 4px 0px rgb(221, 221, 221);
        }
    }
    .owl-next {
        right: 0;
        &:hover {
            box-shadow: 3px 4px 0px rgb(221, 221, 221);
        }
    }
}

// HIGHLIGHTS
.box-highlights {
    background-color: #FFF;
    height: 216px;
    margin: 0;
    width: 300px;
    @media @min-tablet{
        width: 360px;
        height: 244px;
    }
    .box-highlights--title {
        margin: 0;
        z-index: 2;
        position: relative;
        padding: 2px 5px;
    }
    .box-highlights--img {
        //height: 216px;
        //width: 280px;
        height: 100%;
        width: 100%;
        display: block;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
}

.box-highlights__3links {
    &:extend(.box-highlights all);
    .box-highlights--img {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;
    }
    ul {
        margin: 0;
    }
    .box-highlights--txt {
        position: absolute;
        padding: 10px 10px 0;
        bottom: 0;
        display: block;
        width: 100%;
        background: rgba(251, 244, 244, 0.63);
        li {
            .fa {}
        }
    }
}

// HOME NEWS
.home-news {
    margin: 20px 0;
    border-top: 1px solid #EEE;
    padding-top: 20px;
    .article--img {
        padding: 20px 0;
    }
}

.home-news-list:nth-of-type(2n):before {
    content: 'In breve';
    .section-title-home;
}

// MAIN NEWS BIG
.home-news.primary {
    margin-top: 0;
    padding-top: 0;
    border: none;
    .article--img {
        padding-top: 0;
        img {
            transition: all .3s ease;
            width: 100%;
        }
    }
    .article--header {
        position: relative;
        overflow: hidden;
        transition: all .3s ease;
        padding: 0;
        a:after {
            content: "\f002";
            font: normal normal normal 12px/1 "FontAwesome";
            color: rgba(88, 174, 13, 0.84);
            position: absolute;
            top: 45%;
            left: 50%;
            font-weight: 100;
            width: 20px;
            height: 20px;
            border: 1px solid #FFF;
            border-radius: 30px;
            text-align: center;
            padding-top: 6px;
            opacity: 0;
            transition: all .3s ease;
        }
        &:hover {
            .article--img img {
                .transform(scale(1.1, 1.1));
            }
            a:after {
                width: 40px;
                height: 40px;
                font-size: 24px;
                opacity: 1;
            }
        }
    }
    .article--title {
        margin: 0 0 10px;
    }
    .article--img {}
    .article--content {
        @media @max-tablet {
            padding: 20px 0 !important
        }
        p {
            font-size: 18px;
        }
    }
}

// SEC NEWS SMALL
.item-wrap:nth-child(even) {
    clear: both;
    ;
}

.home-news.secundary {
    .article--title {
        border-left: 2px solid #66B526;
        padding-left: 7px;
        margin-top: 0;
        text-transform: inherit;
        font-size: 25px;
    }
    .article--date {
        padding: 10px;
        font-size: 20px;
        color: #54961B;
    }
}

// CATEGORIES 
.box-categories .fa {
    margin-left: 10px;
    font-size: 24px;
    color: @green;
}

.box-categories--list {
    padding-right: 35px;
    margin-bottom: 0;
    li {
        background: #EBECEB;
        .rounded(1px);
        font-size: .85em;
        text-transform: uppercase;
        padding: 2px 10px;
        border-bottom: 3px solid transparent;
        margin-bottom: 5px;
        .transition;
        &:hover {
            background: transparent;
            border-bottom: 3px solid #EBECEB;
            a {
                color: @red
            }
        }
        a {
            color: #333;
        }
    }
}

// READ MORE
.read-more {
    float: right;
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    .transition;
    .fa {
        margin-left: 10px;
        font-size: 20px;
        color: @green;
    }
    &:hover {
        border-color: @green;
        a {
            color: @green;
        }
    }
}

// BUTTON SERVICES
//.box-home--services,
//.col-md-3.box-home--services{
//    padding-left: 0 ;
//    padding-right: 0;
//    margin: 0;
//    @media @max-tablet {
//        li {
//            margin: 0;
//            width: 48%;
//            display: inline-block;
//        }
//    }
//    
//}
// PUNTO INFORMATIVO
.punto-informativo img {
    .box-shadow(-7px 5px 0px #eee);
    border: 1px solid #eee;
    .transition;
    &:hover {
        .box-shadow(-7px 5px 0px #ddd);
        border: 1px solid #ddd;
    }
}