{% extends "categories/base_categories.html" %}
{% load i18n %}


{% block content_title %}
  <h2 class="title">{% trans "Categorie" %}</h2>
{% endblock %}

 
{% block content %}
    <div id="container" class="js-masonry"
  data-masonry-options='{  "itemSelector": ".category--item" }'>
        
        
          <ul class="list-unstyled category-macro">
            {% for category in categories %}    
           
            <li class="category--item col-sm-6 col-xs-12" id="category--{{category.id}}">
                
                <h2 class="title clearfix">
                <i class="fa fa-flag"></i>	{{ category }}
                <!--<div style="float:right;display:none;" ><a style="color:white" id="btn_{{category.id}}" href="#">open/close</a></div>-->    
                </h2>
                {% if category.get_subcategories %}
                <div class="category--wrap" >
                <ul id="container2" class="list-unstyled category--list js-masonry"
  data-masonry-options='{  "itemSelector": ".category--box-wrap" }'>
                    {% for subcategory in category.get_subcategories %}
                    <li class="category--box-wrap col-sm-12 col-lg-6 col-md-6 col-xs-12  ">           
                        <div class="category--box">
                           <!--<div style="display:none;float:left;width:150px;">
                                <a href="{{ subcategory.get_absolute_url }}"><img  alt="{{ subcategory}}" src="{{ subcategory.logo.url_120x120 }}" /></a>
                            </div>-->  
                            <div class="category--title">
                                <a class="category--name" href="{{ subcategory.get_absolute_url }}"><strong>{{ subcategory }}</strong></a></h2>
                                <a class="category--desc" href="{{ subcategory.get_absolute_url }}">{{ subcategory.public_name }}</a></h2>
                            </div>
                            <div class="category--link"> <a href="{{ subcategory.get_absolute_url }}"> <i class="fa fa-chevron-circle-right"></i> </a></div>
                            <div class="claerfix"></div>  
                         </div> 
                    </li> 
                    {% endfor %}            
                </ul>
                </div>
                {% endif %} 
                
            </li>
            {% endfor %}
          </ul>
        <!--old content-->
    </div>

    <script type="text/javascript">
        $("#btn_{{category.id}}").click(function () {
            $("#category--{{category.id}}").slideUp("slow");
            $("#category--{{category.id}}").slideDown("slow");

        }); 
    </script>  
{% endblock %}  