{% extends "events/base_events.html" %} {% load i18n %} {% load news_tags %} {% block content_title %}
<h2 class="title">{% trans "Categoria" %}: {{ category.name }}</h2> {% endblock %} {% block title %} {{ category.public_name }} | {{ block.super }} {% endblock %} {% block meta_description %} {{ category.public_name }} | {{ block.super }} {% endblock %} {% block meta_keywords %} {{ category.public_name }} | {{ block.super }} {% endblock %} {% block content %}

    <div class="col-sm-8">
            <h1 class="title section-title">{{ category }}</h1>
            <!-- più viste -->
            <h2 class="title">Ultime notizie correlate</h2>
            <section class="home-news secundary category-news">
                {% get_most_viewed_news_category category NEWS_NEWS_TYPE_ID NEWS_PUB_DATE_ORDER_BY %}
            </section>

    </div>
    <div class="col-sm-4">
        
        <section class="box">
            <!-- corsi -->
            <h1 class="title border-green">Corsi</h1> {% get_most_viewed_news_category_lateral category NEWS_COURSES_TYPE_ID %}
        </section>
        
        
        <section class="box">
            <!-- iniziative -->
            <h1 class="title border-orange">Iniziative</h1> {% get_most_viewed_news_category_lateral category NEWS_PROMO_TYPE_ID %}
        </section>
        
        <section class="box">
            <!-- Convenzioni -->
            <h1 class="border-red title">Convenzioni</h1> {% get_most_viewed_news_category_lateral category NEWS_CONV_TYPE_ID %}
        </section>
        
        <section class="box ">
            <!-- bandi -->
            <h1 class="border-blue title">Bandi</h1> {% get_most_viewed_news_category_lateral category NEWS_ANNOUNCEMENT_TYPE_ID %}
        </section>
        
         {% block right-col %} {% include "includes/right-col.html" %} {% endblock %}
   
</div>

{% endblock %}