{% extends "events/base_events.html" %}
{% load i18n %}
{% load news_tags %}

{% block content_title %}
  <h2>{% trans "Categoria" %}: {{ category.name }}</h2>
{% endblock %}

{% block title %}
   {{ category }} - {{ category.public_name }} -  {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{{ category }}, {{ category.public_name }}, {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ category }}, {{ category.public_name }}, {{ block.super }}
{% endblock %}

{% block content %}
 <div class="col-sm-8">
            <h1 class="title section-title">			    				    
					{% if category.link %}			
						<a href="{{ category.link }}">
					{% endif %} 
						{{ category.name }}					
					{% if category.link %}
						</a>
					{% endif %}

			    	</h1>
				
                    <section class="category--card">
                    <img class="category--logo img-responsive pull-right" alt="{{ category.name }}" src="{{ category.logo.url }}" />
					
					
					{% if category.president_logo %}
					    <img class="category--president img-responsive" alt="Presidente: {{ category.president_name }}" 
						src="{{ category.president_logo.url_120x120 }}" />
					{% endif %}
					
					
				    <h1 class="title clearfix">{{ category.public_name }}</h2>
				    
        				<ul class="list-unstyled clearfix {% if category.president_logo %} puppa{% endif %}">
        					
        				{% if category.president_name %}
        					<li><i class="fa fa-university"></i> &nbsp;<strong class="titles">{% trans "Presidente" %}:</strong> {{ category.president_name }}</li> 
        				{% endif %}
						
        				{% if category.responsible_name %}
        					<li><i class="fa fa-sitemap"></i> &nbsp;<strong class="titles">{% trans "Responsabile sindacale" %}:</strong>  {{ category.responsible_name }}</li> 
        				{% endif %}						
													
        				{% if category.phone %}
        					<li><i class="fa fa-phone"></i> &nbsp;<strong class="titles">{% trans "Telefono" %}:</strong> {{ category.phone }}</li> 
        				{% endif %}
        				
        				{% if category.email %}
        					<li><i class="fa fa-envelope"></i> &nbsp;<strong class="titles">{% trans "Email" %}:</strong>  <a href="mailto:{{ category.email }}">{{ category.email }}</a></li>
        				{% endif %}
        				
        				{% if category.fax %}
        					<li><i class="fa fa-fax"></i> &nbsp;<strong class="titles">{% trans "Fax" %}:</strong> {{ category.fax }}</li>			
        				{% endif %}
						
        				{% if category.description %}
                            <li><p class="category--description">{{ category.description }}</p></li>           
                        {% endif %}
						
						{% if category.link %}
							<li>
							    <i class="fa fa-external-link"></i> &nbsp;
                                <strong class="titles">{% trans "Links utili" %}:</strong>
								<a href="{{ category.link }}" target="_blank" >{{ category.link }}								
								</a>
							</li>
						{% endif %}
        				</ul> 	
				</section>
					
			
			
			<!-- più viste -->
            
			<section class="category--news">
                <h1 class="title">Notizie</h1>
			     {% get_most_viewed_news_subcategory category NEWS_NEWS_TYPE_ID NEWS_PUB_DATE_ORDER_BY %}
			</section>
		
</div>
  <!-- COLONNA BANNERS   --> 
<div class="col-sm-4">
        
        <section class="box">
            <!-- corsi -->
            <h1 class="title border-green">Corsi</h1>
            {% get_most_viewed_news_subcategory_lateral category NEWS_COURSES_TYPE_ID %}
       </section>
        
        
        <section class="box">
            <!-- iniziative -->
            <h1 class="title border-orange">Iniziative</h1>
            {% get_most_viewed_news_subcategory_lateral category NEWS_PROMO_TYPE_ID %}
        </section>
        
        <section class="box">
            <!-- Convenzioni -->
            <h1 class="border-red title">Convenzioni</h1>
            {% get_most_viewed_news_subcategory_lateral category NEWS_CONV_TYPE_ID %}
        </section>
        
        <section class="box ">
            <!-- bandi -->
            <h1 class="border-blue title">Bandi</h1> 
            {% get_most_viewed_news_subcategory_lateral category NEWS_ANNOUNCEMENT_TYPE_ID %}
        </section>
</div>
 	
{% endblock %}