{% extends 'news/news_basic.html' %} {% load i18n %} {% block title %} {{ announce.title }} | {{ block.super }} {% endblock %} {% block meta_description %} {{ announce.body|striptags|truncatewords:"30" }} | {{ block.super }} {% endblock %} {% block meta_keywords %} {{ announce.body|striptags|truncatewords:"30" }} | {{ block.super }} {% endblock %} {% block social_meta %}
<meta property="og:title" content="{{ announce.title }} - Confesercenti" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ announce.get_absolute_url }}" /> {% if announce.image %}
<meta property="og:image" content="{{ announce.image.url }}" />{% endif %} {% endblock %} {% block content %}
<div class="col-sm-8 section-bandi">
    <div class="article-page bandi-page content">
        <article class="article">
            <span class="article--back">
                <a href="/"><i class="fa fa-angle-double-left"></i> </a>
            </span>
            <!-- HEADER -->
            <header class="article--header">
                <!-- TITLE-->
                <h2 class="article--title "> 
		    <!--a href="/bandi/finanza-agevolata/" title ="Torna alla lista Bandi"-->Area Bandi - finanza agevolata</h2>
                <ul class="list-inline list-unstyled clearfix pull-right">
                    <li>
                        <a class="btn--orange" href="/bandi/finanza-agevolata/" title="Torna alla lista Bandi">
                            <span> Lista Bandi</span>
                            <i class="fa fa-list"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn--green " href="/contact_form/bandi/">
                            <span>Richiedi informazioni </span>
                            <i class="fa fa-info"></i>
                        </a>
                    </li>

                </ul>


                <!-- SOCIALS -->
                <section class="socials">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54bd479b063c897a" async="async"></script>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>



                </section>
            </header>
            <!-- CONTENT -->
            <div class="article--content clearfix">
                <div class="bandi--title">
                    <h2 class="title"><span>{{ announce.title }}</span></h2>
                    <div class="bandi--deadline">
                        <span>Pubblicato il </span>
                        <strong>{{ announce.pub_date|date:"d" }}
                            {{ announce.pub_date|date:"M" }}
                            {{ announce.pub_date|date:"Y" }}
                    </strong>
                    </div>
                </div>
                {% if announce.image %}
                <div class="bandi--image">
                    <img src="{{ announce.image.url_500x220 }}" alt="{{ announce.title }}" />
                </div>
                {% endif %}

                <ul class="list-unstyled">
                    <li>
                        <h3>Descrizione del Bando:</h3>
                        <p> {{ announce.body|safe|urlizetrunc:20 }}</p>
                    </li>
                    <li>
                        <h3>Destinatari:</h3>
                        <p> {{ announce.beneficiaries|safe|urlizetrunc:20|linebreaks }} </p>
                    </li>
                </ul>
                <div class="bandi--contacts">
                    <!-- class="box_contacts"  -->
                    <ul class="list-unstyled">
                        {% if announce.link %}
                        <li>
                            <h3><i class="fa fa-external-link"></i> &nbsp;Link:</h3> <a href="{{ announce.link }}" target="_blank">{{ announce.link }}</a>
                        </li>
                        {% endif %} {% if announce.email %}
                        <li>
                            <h3><i class="fa fa-envelope"></i> &nbsp;Email:</h3> <a href="mailto:announce.email">{{ announce.email }}</a>
                        </li>
                        {% endif %} {% if announce.phone %}
                        <li>
                            <h3><i class="fa fa-phone"></i> &nbsp;Telefono:</h3> {{ announce.phone }}
                        </li>
                        {% endif %} {% if announce.fax %}
                        <li>
                            <h3><i class="fa fa-fax"></i> &nbsp;Fax:</h3> {{ announce.fax }}
                        </li>
                        {% endif %}
                    </ul>
                </div>



                {% if announce.documents.all %}
                <div class="bandi--docs">
                    <h2 class="title"> Allegati </h2>
                    <ul class="list-unstyled pdf_PI pvt">
                        {% for document in announce.documents.all %}
                        <li>
                            <h2><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></h2>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
            <!-- article-content -->
        </article>
        <section class="comments">
            {% block disqus %} {% endblock %}
        </section>
    </div>
</div>
<!-- COLONNA BANNERS   -->
<div class="col-sm-4">

    {% block right-col %} {% include "includes/right-col.html" %} {% endblock %} {% block services %} {% include "includes/services.html" %} {% endblock %}
</div>


{% endblock %}