{% extends 'news/news_basic.html' %}

{% load i18n %}
{% load news_tags %}
{% load pagination_tags %}

{% block links %}
	<ul>
		<li><a href="feeds/rss/" title="rss"><img src="{{ MEDIA_URL }}icons/rss_feed.png" alt="" /></a></li>
		<li><a href="feeds/atom/" title="atom"><img src="{{ MEDIA_URL }}icons/atom_feed.png" alt="" /></a></li>
	</ul>
{% endblock %}

{% block highlights %}
{% endblock %}

{% block news %}
    {% autoescape off %}
        {% if announcement_list %}
        <div class="section-bandi">

            
                
            
            <h1 class="title">Area Bandi - finanza agevolata</h1>
            <a class="btn--green pull-right" href="/contact_form/bandi/">
                <span>Richiesta informazioni bandi <i class="fa fa-info"></i></span></a>

            <ul class="list-unstyled clearfix">

                {% if request %}{% autopaginate announcement_list 20 %}{% endif %}

                {% for announcement in announcement_list %}
                <li>
                    <!-- ITEM BANDO  -->
                        <section class="bandi">
                                                            
                                <ul class="list-unstyled clearfix">
                                 	<li class="bandi--title">
                                    	<!--<div class="{% if announcement.is_closed %}closed {% endif %}lights">
                                    		<span id="red"></span>
                                    		<span id="orange"></span>
                                    		<span id="green"></span>
                                    	</div-->
                                    	
                                    	<a href="{% url detail-announcement-finanza-agevolata announcement.slug %}">
                                            <h1 class="title">{{ announcement.title|truncatewords:20 }}</h1>
                                        </a>                                		
                                 		<div class="bandi--deadline">
                                    		
                                    		<span>Fino al </span> 
                                    		<strong>{{ announcement.expiry_at|date:"d" }}
                                    				{{ announcement.expiry_at|date:"M" }}
                                    				{{ announcement.expiry_at|date:"Y" }}</strong>
                                    	</div>
                                	</li>
                                 	
                                 	
                                 	<li>   
                                    	<h3 class="title">Oggetto: </h3>
                                    	<p>{{ announcement.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"50" }}</p>
                                	</li>
                                	<li>
                                    	<h3 class="title">Destinatari:</h3>
                                    	<p> {{ announcement.beneficiaries|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"50" }}</p>
                                	</li>
                                	
                                </ul>
                                {% if announcement.category.all %}
                                <div class="box-categories">
                                        <i class="fa fa-tags pull-right"></i>
                                        <ul class="box-categories--list  list-unstyled list-inline text-right">
                                            {% for category in announcement.macrocategory.all %}
                                                <li>
                                                    <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                                </li>
                                            {% endfor %}

                                            {% for category in announcement.category.all %}
                                                <li>
                                                    <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                </div>
                                {% endif %}
                            
                        </section>
                    </li>
                   
               
                           
                {% endfor %}
                {% if request %}{% paginate %}{% endif %}
            </ul>
        </div>    
        {% endif %}
    {% endautoescape %}
{% endblock %}
