{% extends 'courses/base_courses.html' %}
{% load i18n %}


 {% block content %}

<div id="two-cols">
<div class="content left">
      <h2 class="title">{% trans "I Corsi Cescot" %}</h2>
     <h2 class="titleflat">Premessa </h2>
     <p>Tutti i corsi sono a numero chiuso e possono usufruire di <a href="/cescot/finanziamento/" title="finanziamenti pubblici" >finanziamenti pubblici</a> destinati alla formazione.</p>
     <p>L'avvio delle singole attività formative è subordinato al raggiungimento del numero minimo di iscritti stabilito dalla Direzione.</p>	

        <div style="padding:20px 0;float:left;padding:0 10px">	
        {% regroup courses|dictsort:"type.id" by type as courses_list %}
                 <ul class="category_list_outer" style="margin:0">	
                    {% for course_grouped in courses_list %}	
                   
                    <li style="width:100%;margin:0;">
                        <h2 class="title_flat clear">{{ course_grouped.grouper }}</h2>
                		
                		<ul class="courses_list">
                			{% for course in course_grouped.list %}
                			<li>		    
                			    <div style="float:left;padding:5px 10px;margin:0 20px;border-bottom:1px dashed #eee;">
                			       <div style="float:left;width:120px;">
                			            <a href="{{ course.get_absolute_url }}"><img style="width:100px;" alt="{{ course }}" src="{{ course.image.url }}" />
        								
        								</a>
                			        </div>  
                			         <div style="float:left;width:550px;">
                                        <h2 style="border:none;font-size: 1.15em;"><a href="{{ course.get_absolute_url }}">
                                        {{ course.title }}
                                        </a></h2>
                                    </div>  
                			     </div> 
                			</li> 
                			{% endfor %}			
                		</ul>
                	</li>
                    {% endfor %}
                  </ul>	                      
        </div>						  
</div>						  
</div>	
 <!-- COLONNA BANNERS   --> 
<div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
<div style="clear:both"></div>      					  
 {% endblock %}
 