
{% for cover in cover_list %}
<li>
{% comment %}	
    <a target="_blank" href="/pubblicazioni/tipo/3">
    <img width="230px" src="/static/images/banners/punto_informativo.jpg" alt="banner"></a>
{% endcomment %}	
	<a target="_blank" href="/pubblicazioni/tipo/3">
		<img class="PI_cover" src="{{ cover.image.url }}" alt="Punto Informativo">
	</a>
</li>
{% endfor %}