{% extends 'news/news_basic.html' %}
{% load i18n %}

{% block title %}
   {{ announce.title }} | {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{{ announce.body|striptags|truncatewords:"30" }} | {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ announce.body|striptags|truncatewords:"30" }} | {{ block.super }}
{% endblock %}
{% block social_meta %}
	<meta property="og:title" content="{{ announce.title }} - Confesercenti"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ announce.get_absolute_url }}"/>
	{% if announce.image %}<meta property="og:image" content="{{ announce.image.url }}"/>{% endif %}
{% endblock %}



{% block content %}
<div id="two-cols">  
    <div class="content itemDetail" id="sectionBandi">  
   		<!--<span class="news-back radius_6">
            <a onclick="goBack()" href="/">&laquo; </a>
        </span>-->
	
		<h2 class="title_news"> 
		    <a href="/bandi/finanza-agevolata/" title ="Torna alla lista Bandi">Area Bandi - finanza agevolata</a> 
		    <a class="btn_black back-list" href="/bandi/finanza-agevolata/" title ="Torna alla lista Bandi">
		        <span>&laquo; Lista Bandi</span>
		    </a>
		    <a class="btn_black send-request" href="/contact_form/bandi/">
            <span>Richiedi informazioni &raquo;</span></a>
		 </h2>
		
		<div class="box_bandi" style="padding-top: 30px;">
    	<ul>
    		<li>
    			<h2 class="item_title"><span>{{ announce.title }}</span></h2>
        		<div class="item_deadline">
        			<span>Pubblicato il </span> 
        			<strong>{{ announce.pub_date|date:"d" }}
        					{{ announce.pub_date|date:"M" }}
        					{{ announce.pub_date|date:"Y" }}
        			</strong>
    			</div>
        	</li>
        </ul>
        
        {% if announce.image %}
        <div class="">
            <img src="{{ announce.image.url_500x220 }}" alt="{{ announce.title }}" />
        </div>
        {% endif %}
		
		<ul class="bando_detail_list">
        	<li>
            	<strong>Descrizione del Bando:</strong> <span> {{ announce.body|safe|urlizetrunc:20 }}</span> 
        	</li>
        	<li>
                <strong>Destinatari:</strong><span>  {{ announce.beneficiaries|safe|urlizetrunc:20|linebreaks  }} </span>
            </li>
		</ul>
        <div> <!-- class="box_contacts"  -->
        <ul class="info_list">
            {% if announce.link %}
            <li>
                <strong>Link:</strong> <a href="{{ announce.link }}" target="_blank">{{ announce.link }}</a>
            </li>
            {% endif %}

            {% if announce.email %}
            <li>
                <strong>Email:</strong> <a href="mailto:announce.email" >{{ announce.email }}</a>
            </li>
            {% endif %}

            {% if announce.phone %}
            <li>
                <strong>Telefono:</strong> {{ announce.phone }}
            </li>
            {% endif %}

            {% if announce.fax %}
            <li>
                <strong>Fax:</strong> {{ announce.fax }}
            </li>
            {% endif %}
        </ul>
        </div>



	    {% if announce.documents.all %}
            <div style="width: 100%;" >
                <h2> Allegati </h2>
                <ul class="pdf_PI pvt">
                 {% for document in announce.documents.all %}
                    <li><h2><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></h2></li>
                 {% endfor %}
                </ul>
            </div>
		{% endif %}		
	
	

 		<div style="clear:both"></div> 
 		</div> <!-- Box bandi -->
 <div style="padding:20px">
 {% block disqus %}
{% endblock %}
</div>
</div>
</div>
                <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
               
</div>
{% endblock %}




