{% extends 'news/news_basic.html' %}

{% load i18n %}
{% load news_tags %}
{% load pagination_tags %}

{% block links %}
	<ul>
		<li><a href="feeds/rss/" title="rss"><img src="{{ MEDIA_URL }}icons/rss_feed.png" alt="" /></a></li>
		<li><a href="feeds/atom/" title="atom"><img src="{{ MEDIA_URL }}icons/atom_feed.png" alt="" /></a></li>
	</ul>
{% endblock %}

{% block highlights %}
{% endblock %}

{% block news %}
    {% autoescape off %}
        {% if announcement_list %}
        <div class="content" id="sectionBandi">

            <div style="position: relative;left: 560px;top: 30px;   ">
                <a class="btn_black" href="/contact_form/bandi/">
                <span>Richiesta informazioni bandi »</span></a>
            </div>
            <h2 class="title_news">Area Bandi - finanza agevolata</h2>

            <ul class="info_list">

                {% if request %}{% autopaginate announcement_list 20 %}{% endif %}

                {% for announcement in announcement_list %}
                <li>
                    <!-- ITEM BANDO  -->
                        <div class="box_bandi ">
                                                            
                                <ul>
                                 	<li class="item_title">
                                    	<!--<div class="{% if announcement.is_closed %}closed {% endif %}lights">
                                    		<span id="red"></span>
                                    		<span id="orange"></span>
                                    		<span id="green"></span>
                                    	</div-->
                                    	
                                    	<a href="{% url detail-announcement-finanza-agevolata announcement.slug %}"><span>{{ announcement.title|truncatewords:20 }}</span></a>                                		
                                 		<div class="item_deadline">
                                    		
                                    		<span>Fino al </span> 
                                    		<strong>{{ announcement.expiry_at|date:"d" }}
                                    				{{ announcement.expiry_at|date:"M" }}
                                    				{{ announcement.expiry_at|date:"Y" }}</strong>
                                    	</div>
                                	</li>
                                 	
                                 	
                                 	<li>   
                                    	<strong class="label">Oggetto: </strong>
                                    	<span>{{ announcement.body|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"50" }}</span>
                                	</li>
                                	<li>
                                    	<strong class="label">Destinatari:</strong>
                                    	<span> {{ announcement.beneficiaries|striptags|cut:"<p>"|cut:"</p>"|truncatewords:"50" }}</span>
                                	</li>
                                	
                                </ul>
                                {% if announcement.category.all %}
                                <div class="categories">

                                        <ul class="categories">
                                            {% for category in announcement.macrocategory.all %}
                                                <li>
                                                    <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                                </li>
                                            {% endfor %}

                                            {% for category in announcement.category.all %}
                                                <li>
                                                    <a href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                </div>
                                {% endif %}
                            
                        </div>
                    </li>
                   
               
                           
                {% endfor %}
                {% if request %}{% paginate %}{% endif %}
            </ul>
        </div>    
        {% endif %}
    {% endautoescape %}
{% endblock %}
