{% extends 'news/news_basic.html' %}
{% load i18n %}

{% block title %}
   {{ announce.title }} | {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{{ announce.body|striptags|truncatewords:"30" }} | {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{{ announce.body|striptags|truncatewords:"30" }} | {{ block.super }}
{% endblock %}
{% block social_meta %}
	<meta property="og:title" content="{{ announce.title }} - Confesercenti"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ announce.get_absolute_url }}"/>
	{% if announce.image %}<meta property="og:image" content="{{ announce.image.url }}"/>{% endif %}
{% endblock %}



{% block content %}
<span class="intranet_alert">INTRANET</span>

<div id="two-cols">  
    <div class="content itemDetail" id="sectionBandi">  
   		<!--<span class="news-back radius_6">
            <a onclick="goBack()" href="/">&laquo; </a>
        </span>-->
	
		
		<h2 class="title_news"> 
		    <a href="/bandi/finanza-agevolata/" title ="Torna alla lista Bandi">Area Bandi</a> 
		    <a class="btn_black back-list" href="/bandi/finanza-agevolata/" title ="Torna alla lista Bandi">
		        <span>Lista Bandi</span>
		    </a>		    
            
            
		</h2>
		<div class="box_bandi">
    	<ul>
    	<li><h2 class="item_title">{{ announce.title }}</h2>
        	<div class="item_deadline">
        		<span>Pubblicato il </span> 
        		<strong>{{ announce.pub_date|date:"d" }}
        				{{ announce.pub_date|date:"M" }}
        				{{ announce.pub_date|date:"Y" }}
        		</strong>
    		</div>
    	</li>
    	</ul>
        {% if announce.image %}
        <div class="">
            <img src="{{ announce.image.url_500x220 }}" alt="{{ announce.title }}" />
        </div>
        {% endif %}
        <ul class="bando_detail_list">
{% comment %}
        	<li>
            	<strong>Interesse: </strong><span>X</span>
        	</li>
{% endcomment %}
        	<li>
        	    <strong>Responsabile servizio:</strong> <span> {{ announce.ruler|safe|urlizetrunc:20|linebreaks }} </span>
        	</li>
        	<li>
        	    <strong>Breve Descrizione:</strong> <span> {{ announce.body|safe|urlizetrunc:20|linebreaks }} </span>
        	</li>
        	<!-- <li>
        	    <strong>Destinatari:</strong> <span> {{ announce.recipients|safe|urlizetrunc:20|linebreaks }} </span>
        	</li> -->
        	<li>
                <strong>Destinatari:</strong><span>  {{ announce.beneficiaries|safe|urlizetrunc:20|linebreaks  }} </span>
            </li>
        	<li>
        	    <strong>Agevolazione:</strong> <span> {{ announce.facilities|safe|urlizetrunc:20|linebreaks }} </span>
        	</li> 
        	<li>
        	    <strong>Scadenza:</strong> <span> {{ announce.expiry_at|date:"d-M-Y" }} </span>
        	</li>
        	<li>
        	    <strong>Fatturazione:</strong> <span> {{ announce.billing|safe|urlizetrunc:20|linebreaks }} </span>
        	</li>
        	<li>
        	    <strong>Comunicazione:</strong> <span> {{ announce.advertising|safe|urlizetrunc:20|linebreaks }} </span>
        	</li>
        	<li>
        	    <strong>Link:</strong> <span> <a href="{{ announce.link }}" target="_blank">{{ announce.link }}</a></span>
        	</li>
	
    	    <li>
        	    <strong>Responsabile servizio:</strong> <span> {{ announce.headofservice|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	<li>
        	    <strong>Ente Promotore:</strong> <span> {{ announce.promoter|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	
        	<li>
        	    <strong>Investimenti Ammissibili:</strong><span>  {{ announce.investments|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	<li>
        	    <strong>Documentazione Richiesta:</strong><span>  {{ announce.documentation|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	<li>
        	    <strong>Costo del Servizio:</strong><span>  {{ announce.cost|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	<li>
        	    <strong>Comunicazione Interna:</strong><span>  {{ announce.internal_communication|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	<li>
        	    <strong>Comunicazione Esterna:</strong><span>  {{ announce.external_communication|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
        	<li>
        	    <strong>Testo Bando:</strong><span>  {{ announce.text_ban|safe|urlizetrunc:20|linebreaks  }} </span>
        	</li>
		</ul>

	    {% if announce.documents.all %}
            <div style="width: 100%;" >
                 <h2> Allegati </h2>
                <ul class="pdf_PI pvt">
                 {% for document in announce.documents.all %}
                    <li><h2><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></h2></li>
                 {% endfor %}
                </ul>
            </div>
		{% endif %}		
	
	
	<div class="categories" style="clear:both;">
		{% if announce.category.all or announce.macrocategory.all %}
			<ul class="categories">
				{% for category in announce.macrocategory.all %}
	                <li>
	                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
	                </li>
				{% endfor %}
	            {% for category in announce.category.all %}
	                <li>
	                    <a class="radius_4" href="{{ category.get_absolute_url }}">{{ category.public_name }}</a>
	                </li>
	            {% endfor %}
			</ul>
		{% endif %}
	</div>
 <div style="clear:both"></div> 
 	</div> <!-- Box bandi -->
 	
 <div style="padding:20px">
 {% block disqus %}
    {% include "includes/disqus.html" %}
{% endblock %}
</div>
</div>
</div>
                <!-- COLONNA BANNERS   --> 
                <div id="right-col">       
                      {% block banners %}
                        {% include "includes/banners.html" %}
                    {% endblock %}
                </div>
               
<!--</div>-->
{% endblock %}




