.article-page,
.flat-page{
    article{
        p,
        .article--content{
            p,
            span {
              font-size: 20px !important; 
              font-family:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            }
            
            
        }
        .article--back {
          font-size: 50px;
          position: absolute;
          left: -20px;
          top: 0;
            a{
               color: #DDD; 
            }
          
        }
        .article--title {
            font-size:42px;
            margin: 0 0 10px;
        }
        .article--date {
            font-size: 18px;
            color:  #ddd;
        }
        .article--img-wrap{
            padding: 20px 0;
            overflow:hidden;
            display:block;
            clear: both;
            
            img { .img-responsive;}
        }

    }
}

article {
    .article--content {
        overflow: hidden;
        p {font-size:19px}
    }
    .article--footer {
        clear: both;
        margin-top:10px;
    }
}

.categories .section--title {text-align: right}