

//===============================================================
.btn {
    white-space: normal;
    padding: 10px; 
    .transition;
    color:#fff;
}

 
// HOME BUTTON
.btn-home {
  width: 100%;
  color: #FFF;
  font-size: 19px;
  text-transform: uppercase;
   line-height: 1;
   
  span {
      display: table-cell;
      vertical-align: middle;
    }
}
.btn-default {
    &:extend(.btn);
     display: table;
     .box-shadow(5px 5px 0px #fff );
     max-width: 280px;
     margin: 0 auto 20px;
    min-height:50px;
    &:hover {
        background-color: fade(@green,70%);
        .box-shadow(5px 5px 0px #eee );
    }
    .fa{
      margin-left: 10px;  
    }  
}
.btn_green,
.btn--green{
  &:extend(.btn-default all);
    background: #54961B;
    color: #fff;
    a { color: #fff }
}

.btn_black,
.btn--black{
  &:extend(.btn-default all);
    background: #444;
    
    color: #fff;
    a { color:#fff; }
}

.btn--orange{
  &:extend(.btn-default all);
    background: @orange;
    color: #fff;
    a { color:#fff; }
}

// SOCIAL BUTTONS
.social-btn(@social--bg-color:#3b5998,@social--bg-color-h:#283D69) {
    background-color: @social--bg-color;
    width: 100%;
    color: #fff;
    line-height: 46px;
    padding: 0;
        text-transform: uppercase;
    &:hover {
        background-color: @social--bg-color-h;
        color: #fff;    
    }
    .fa {
        float: left;
        font-size: 28px;
        background-color: @social--bg-color-h;
        padding: 5px 10px;
        margin: 5px 0 5px -10px;
        
    }
}

.btn--fb {
    .social-btn();
}
.btn--tw {
    .social-btn(@social--bg-color:#55acee,@social--bg-color-h:#5598CC);
}