// COMMON RULES
.numero-verde img {
    margin:auto;
    @media @mobile-only{
            margin:20px 0;
        }
}
// BANNERS
// BOTTOM BANNERS
.bottom-banners {
  background: #fff;
    margin-top:15px;
    text-align: center;
    li {
        width: 18%;
        @media @mobile-only{
            width:40%;
        }
          display: inline-block;
          text-align: center;
          margin: 20px 3%;
    }
}


