.bg-green .confe-dropdown {
    > span {
        background:@green;
    }
    &.dropdown-active > span
    {
        color:#fff;
    }
    
    
}

.confe-dropdown{
    position: relative;
	width: 100%;
	//margin: 20px auto;
	display: block;
     text-transform: uppercase;
    > span {
        width: 100%;
        height: 60px;
        line-height: 60px;
        //color: #999;
        font-weight: 500;
        font-size: 16px;
        
        display: block;
        padding: 0 50px 0 5px;
        position: relative;
        cursor: pointer;
        &:after {
            content: '\25BC';
            position: absolute;
            right: 0px;
            top: 15%;
            width: 50px;
            text-align: center;
            font-size: 12px;
            padding: 10px;
            height: 70%;
            line-height: 24px;
            border-left: 1px solid #fff;
        }
    }
    
    > span,
    ul li:nth-last-child(-n+3) span {
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    ul {
        position: absolute;
        top: 0px;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        

        li {
            position: absolute;
            width: 100%;
            display: block;
            background: #FFF;
            
            span {
                width: 100%;
                //background: #fff;
                line-height: 60px;
                padding: 0;
                display: block;
                //color: #bcbcbc;
                cursor: pointer;
                font-size: 14px;
               
            }
        }
    }
    
}

.dropdown-active {
    &.confe-dropdown {
        > span {
            color: #fc756f;
        }
        > span,
        ul li span {
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        }
        ul li span {
	       .transition(all 0.2s linear 0s);
            &:hover {
                background: #fc756f;
                color: #fff;
            }
        }
    }
    
}



.confe-dropdown.dropdown-active > span:after {
	content: '\25B2';
}


.confe-dropdown > span,
.confe-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Select fallback styling */
.confe-select {
	border: 1px solid #ddd;
}
