
// FOOTER
// TOP e BOTTOM FOOTER
footer.footer{
    .footer--top {
        overflow: hidden;
        padding: 20px 0;
        .footer--links {
            li {
                padding:5px 0;
                
            }
        }   
    }
    .footer--bottom {
        background:@green;
        line-height:50px;
        @media @min-tablet{
            line-height:80px;
        }
        @media @mobile-only {
            li.copyright {
              width: 100%;
              line-height: 25px;
              text-align: center;
                small {display:block}
            }
        }
        .container {background:transparent;}
        a {
            color:#fff;
            &:hover {
              text-decoration: underline;
            }
        }
        ul {margin-bottom:0;}
    }
    .footer--contacts {
        padding-top:25px;
        text-align: center;
        img {
            padding-bottom: 20px;
            margin: auto;
        }
    }
    .footer--box { 
    }
    
}


