.forms{
    .ctrlHolder {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        label {
            text-transform: uppercase;
            margin-right: 10px;
        }
    }
    li {
        list-style-type: none;
    }
    
    .errorField {
        color: @red;
        font-size: 90%;
    }
    input, button, select, textarea {
        width: 100%;
        min-height: 50px;
    }
    .checkboxselectmultiple {
        width: 20px !important;
        display: inline-block;
    }
}

