@media @mobile-only{
    .navbar-default {
      background-color: #fff;
        .navbar-nav > li{
            border-bottom: 1px solid #eee;
            > a {
                color: #444;
            }
        } 
        .navbar-nav .open .dropdown-menu > li > a {
            color: #444;
        }
    }
    
}

//@media (min-width: 768px){
//    .navbar-nav > li {width: 98%;}
//}

//MOBILE
@media screen and (max-width: 768px){
    .navbar-toggle {
      position: absolute;
      top: -68px;
      float: none;
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0);
      .border-radius(0);
      right: 20px;
    }
    .navbar-toggle .icon-bar {
      width: 33px;
      height: 4px;
    }
    .navbar-nav .open .dropdown-menu > li > a, 
    .navbar-nav .open .dropdown-menu .dropdown-header {
          padding: 6px 10px;
          margin-left: 10px;
          border-bottom: 1px solid #EEE;
        line-height: 30px;
        }
    .navbar-default.main-nav {
        .navbar-collapse{
            .transition;
            margin: 0px;
        }    
        &.nav-open {
            overflow: auto;
            .navbar-collapse{
                left: 0;
            }
        }

    }
   
}


.dropdown-toggle .fa {
    position:relative;
    left:10px;
    font-size: 25px;
    .transition;
}
.dropdown-submenu {
    >a {
        position:relative;
    }
    > .dropdown-menu {
        li  {
            a {
                font-weight: normal;
                font-size: 25px;
                width: 100%;
                @media @mobile-only{ 
                    white-space: normal;
                }
                .transition;
                border-left:5px solid #fff;
                
                &:hover{
                    @media @min-desktop{
                        border-width:5px;
                        border-color: @green;
                    }
                    
                }
            }
        }    
    }
    &.open>.dropdown-menu {
            &:hover>a:after {
                border-left-color: #fff;
            }
        }
}

// TABLET + DESKTOP
@media (min-width: 768px){
header  {
    .top-header {
      overflow: hidden;
    }
    .main-nav {
        margin-bottom:0;
        .container {
            background:transparent;
            padding:0;
            > .navbar-collapse {
                padding: 0;
            }
        }
    }
    // 1st LEVEL
    
    .navbar-nav.lev1 {
      width: 100%;
      display: table;
      > li {
          float: none;
          display: table-cell;
          vertical-align: middle;
          height: 60px;
          text-align: center;
          min-width: 80px;
          width: 15.5%;
          &.associazioni-di-categoria {
              min-width:240px;
          }
            > a {
              margin: 0 1px;
              padding: 0; 
              line-height: 60px;
                height: inherit;
                
                .transition;

            }
        }  
    }



}
//  /Header

}//MQ

// DROPDOWNs
    .dropdown-menu.lev3{
        left: 102%;
        top: 10px;
    } 
    .dropdown-menu.lev2{
        .dropdown-submenu.open {
            > a {
                .transition;
                .fa {
                    transform: rotate(-90deg);
                    
                }  
            }
        }
    }
    .lev1{
        .dropdown-submenu.main-nav.open {
            > a {
                .transition;
                .fa{
                    transform: rotate(180deg);
                    
                }  
            }
        }
    }
    .dropdown-submenu {
        > .dropdown-menu {
            li  {
                width:100%;
                display: inline-block;

                a {
                    font-size: 28px;
                    padding-right: 30px;
                }
            }    
        }
        &.open > .dropdown-menu { display: block;}
    }

