.section-newsletter {
    max-width: 650px;
    margin: 20px auto 120px;
    .forms {
        .ctrlHolder {
            margin-bottom: 20px;
            display: block;
            label {
                width: 35%;
            }
        }
    }
    .btn {
        margin-top: 60px;
    }
}