// PANELS 
// ACCORDION PANELS

.panel-group .panel + .panel {
    margin-top: 10px;
}
.accordion {
    .panel-heading {
        padding: 0;
    }
    &.panel-group .panel-heading + .panel-collapse > .panel-body, 
    &.panel-group .panel-heading + .panel-collapse > .list-group {
        border-top:none;
    }
    .panel {
        .box-shadow(-7px 5px 0px #fff);
        .transition;
        &:hover {
                .box-shadow(-7px 5px 0px #EEE);
                border: 1px solid #EEE;
            }
        .panel-title {
            font-size: 24px;
            text-transform: uppercase;
            
            .fa {
                float: right;
                .transition;
            }
            .collapsed .fa {
                .transform(rotate(180deg));
            }
            > a {
                display: block;
                padding: 15px 10px;
                border-bottom: 5px solid;
            }
        }
        .panel-body {
            padding: 0;
        }
        li {
            border-bottom: 1px solid #EEE;
            padding: 10px 0;
            .transition;
            &.panel--all {
                border-bottom: none;
                text-align: right;
                padding: 5px;
                text-transform: none;
                font-weight: bold;
            }
            
            .panel-item {
                font-size: 22px;
                margin:0;
            }
            a {
                display: block;
                padding-left: 10px;
            }
        }
    }
}

.box {
    .title{
        margin:0;
        padding:0;
    }
    li {
        border-bottom: 1px solid #EEE;
        padding: 10px 0;
        .transition;
        &.panel--all {
            border-bottom: none;
            text-align: right;
            padding: 5px;
            text-transform: none;
            font-weight: bold;
        }
        &:hover {
            box-shadow: 5px 4px 0px #EEE;
        }
        a {
            display: block;
            padding-left: 10px;
        }
    }
}