//**************************************************
//          SERVICES
//  - sidebar services
//  - Generic rules
//**************************************************


//  - sidebar services
.sidebar-dx .quick-services {
    text-align: left;
    padding:40px 0;
    
    .btn {
        text-align: left;
        width:100%;
        height: 70px;
        .fa{
            display: table-cell;
            vertical-align: middle;
            font-size: 23px;  
        }
        label {
            display: table-cell;
            font-size: 18px;
            vertical-align: middle;
            font-weight: normal;
            padding: 0 20px;
}
    }
}

//  - Generic rules 
.quick-services {
    //text-align: center;
    padding:40px 20px 20px;
    background: #EBECEB;
    margin-top: 40px;
    position: relative;
    clear:both;
    &:before {
        content: 'Servizi: Quicklinks';
        display: inline-block;
        float: left;
        position: absolute;
        top: 10px;
        left: 15px;
        .section-title-home;
    }
    .modal-header {padding: 15px 0;}
    .modal-backdrop.in {height: 100% !important}
    .modal-dialog {
        margin-right: 0;
        margin-top: 0;
        height: 100%;
        overflow: inherit;
        margin-bottom: 0;
        position: relative;
        margin-left: 0;
        width: 100%;
    }
    .modal-sidebar {
        &.opened {
            left:0
        }
        @media @mobile-only {
            left: -87%;
            z-index: 1;
            width: 87%;
            background: #CD5C5C;
            .transition;
        }
        position: absolute;
        left: 0;
        height: 100%;
        width: 30%;
        text-align: center;
        padding: 2%;
        span {
            display:block;
            margin-bottom: 15px;    
        }
        .service-owner {
            @media @min-tablet {
               visibility:hidden; 
            }
            
            position: absolute;
            top: 85px;
            right: -43px;
            //width: 45px;
            padding: 0 10px;
            height: 45px;
            font-size: 30px;
            background: #CD5C5C;
            border: none;
            cursor: pointer;
            color: #fff;
            text-align:center;
            .fa {margin :0 auto !important}
        }
    }
    .modal-content {
        box-shadow: none;
        padding: 3%;
        font-size: 20px;
        text-align: justify;
        @media @min-tablet {
            font-size: 26px;
             margin-left: 30%;
        }
        
        
       
    }
    .close {
        color: #000;
    }
    .modal-title {
        color: @green;
        text-transform: uppercase;
        border-bottom: 2px solid #eee;
        padding-bottom: 15px;
        text-align: center;
    }
    
    // BUTTONS
    .btn{
        text-align: center;
        border: none;
        background: rgba(0, 0, 0, 0);
        margin-bottom: 5px;
        outline: none !important;
        width: 100%;
        
        @media @min-tablet{
           width: 48%;
            display: table-cell;
        }
        vertical-align: middle;
        height: 100px;
        @media @min-desktop{ 
             width: 32%;
            &:hover {
                box-shadow: 3px 0px 0px;
                background: #fff;
                .fa {
                    .transform(rotateY(180deg));
                    .transition(.5s all ease);
                    transition-delay: .3s;
                    -webkit-transition-delay: .3s;
                    -moz-transition-delay: .3s;
                &:after {
                    opacity: 1;
                }  
              }
            }
        }
        .fa {
            margin-right: 10px;
            border: 1px solid;
            padding: 7px;
            width: 40px;
            height: 40px;
            display: inline-block;
            .rounded(50%);
            -webkit-transition: background 0.2s, color 0.2s;
            -moz-transition: background 0.2s, color 0.2s;
            transition: background 0.2s, color 0.2s;
            position: relative;
            vertical-align: middle;
            
            &:after {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                content: '';
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                top: -7px;
                left: -7px;
                padding: 7px;
                box-shadow: 0 0 0 4px;
                -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
                -webkit-transform: scale(.8);
                -moz-transition: -moz-transform 0.2s, opacity 0.2s;
                -moz-transform: scale(.8);
                -ms-transform: scale(.8);
                transition: transform 0.2s, opacity 0.2s;
                transform: scale(.8);
                opacity: 0;
            }
        }
        label {
            font-weight: normal;
            display: inline-block;
            width: calc(~"100% - 76px");
            margin-bottom: 5px;
            vertical-align: middle;
            text-align: left;
            line-height: 1;
        }
    }
}