{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load comments tagging_tags i18n  %}




{% block title %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}



{% block content %}

<div class="intranet-area"><a href="/pubblicazioni/privati/">ConfBG - Area Intranet</a></div>
<div id="two-cols">
	<div class="content left doc-detail" style="width:100%">
	    
		<div class="doc-content">
		    
            <a href="{% url documents_list_private_add_with_id document.id %}" class="btn-upload">Carica</a>
            
		  	<ul>
		  		
				{# <!-- doc originale -->#}	
				<li>
					<h3 class="title">{% trans "Documento iniziale" %}</h3>
					
					    
					<h4 class="title-document"><strong>{% trans "Titolo" %}:</strong> {{ document }}</h4> 
					
					<p>
						{% if document.description %}<p><strong>{% trans "Descrizione" %}:</strong> {{ document.description }}</p>{% endif %}
						<strong>{% trans "Caricato da" %}:</strong> {{ document.user }} <br/> 
					    <strong>{% trans "in data" %}:</strong> {{ document.insert_date|date:"F j, Y" }} </p>
					<div class="doc-comment-box">
					{% with document as object %}
						{% include "documents/document_detail_comment.html" %}
					{% endwith %}
					</div>
					<a class="btn-dwnld" target="_blank" href="{{ document.get_absolute_url }}">Scarica</a>
				</li>
				{# <!-- doc figli -->#}
				<h3 class="title">{% trans "Versioni" %}</h3>
                {% for document_child in document.child.all|dictsortreversed:"id" %}
                    <li>
                        <h4 class="title-document"><strong>{% trans "Titolo" %}:</strong> {{ document_child }}</h4>
                        
                        <p>
                        	{% if document_child.description %}<p><strong>{% trans "Descrizione" %}:</strong> {{ document_child.description }}</p>{% endif %}
                        	<strong>{% trans "Caricato da" %}:</strong> {{ document_child.user }} <br/> 
					    	<strong>{% trans "in data" %}:</strong> {{ document_child.insert_date|date:"F j, Y" }} 
					    </p>
                    	{% with document_child as object %}
	                        {% include "documents/document_detail_comment.html" %}
    	                {% endwith %}   
        	            <a class="btn-dwnld" target="_blank" href="{{ document_child.get_absolute_url }}">Scarica</a>
					</li>
                {% endfor %}
			</ul>
		</div>
		
		
 <div class="comments-background">		
{% get_comment_list for document as comment_list %}
  {% if comment_list %}
  
  <div id="comments">
    <a name="comments"></a>
    <h3 class="comments_title">{% trans "Commenti" %}</h3>
    {% for comment in comment_list %}
      {% if comment.is_public %}
      <div class="comment">
        <h5 class="name">
          	<a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" 
          		title="{% trans "Permalink to" %} {% blocktrans with comment.user_name as user_name %}{{ user_name }}'s{% endblocktrans %} {% trans "comment" %}" 
          		class="count">{{ forloop.counter }}
			</a>
          	{% if comment.user_url %}
          		<a href="{{ comment.user_url }}" title="{% trans "View" %} 
          			{% blocktrans with comment.user_name as user_name %}{{ user_name }}'s{% endblocktrans %} {% trans "website" %}">
          			{{ comment.user_name }}
          		</a>
          	{% else %}
          		{{ comment.user_name }}
          	{% endif %}
        </h5>
        <p class="title-comment"><span>{{ comment.title }}</span><br/>
        {{ comment.comment|urlizetrunc:"60" }}</p>
        <p class="date">{{ comment.submit_date|date:"F j, Y - H:i" }}</p>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <h2 class="title" style="background:none">Aggiungi un commento</h2>
  {% endif %}
	{% get_comment_form for document as comment_form %}
    <form action="{% comment_form_target %}" method="post">
	    {% csrf_token %}
	    <div class="comment-form">
		    <label for="id_title">Titolo</label>
    		    {{ comment_form.title }}
    		    <label for="id_title">Commento</label>
    		    {{ comment_form.comment }}
    	   
    	    
    	    {{ comment_form.content_type }}
    	    {{ comment_form.object_pk }}
    	    {{ comment_form.timestamp }}
    	    {{ comment_form.security_hash }}
            <input type="submit" name="submit" value="Scrivi">
            <input type="hidden" name="next" value="{{ document.get_detail_url }}" />
         </div>
	</form>
	  	
</div>      
		


		    </div>  	
</div>
 <!-- COLONNA BANNERS   --> {% if private_page %}
							
			<h2 class="title">{% trans 'Documenti Privati' %} </h2>	
			
		{% else %}	
			{% if type %}
				<h2 class="title">{{ type }}</h2>
			{% else %}
		    	<h2 class="title">{% trans 'Punto Informativo' %} </h2>
			{% endif %}
			{% ifequal type.id 3 %}
		    	<p style="text-align:center"><img align="center" src="{{ MEDIA_URL }}images/pi.jpg" alt="Punto Informativo" /></p>
		    	 <hr/>
			{% endifequal %}
		   
		{% endif %}
<div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
<div style="clear:both"></div> 	
{% if not private_page %}
<div style="display:none" >
	<a href="{% url documents_list_private %}" >{% trans "Accedi ai documenti privati" %}</a>		
</div>
{% endif %}
	
{% endblock %}