{% extends "base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load uni_form %}


{% block title %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}



{% block content %}
<div id="two-cols">
	<div class="content left doc-upload" style="width:100%">
		
		
		<h2 class="title">Carica documento</h2>


        <form class="forms" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|as_uni_form }}
			 <input class="btn" type="submit" value="Salva" name="save" />
            
        </form>	
	  	
    </div>  	
</div>	
{% endblock %}