{% load comments tagging_tags i18n  %}


  <p class="date">{{ object.publish|date:"j F Y" }}</p>

  

  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <p class="inline_tag_list"><strong>{% trans "Tags Correlati" %}:</strong>
    {{ tag_list|join:", " }}
  </p>
  {% endif %}

  
  