{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}

{% block meta_description %}
 	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}
{% block meta_keywords %}
	{% if private_page %}Documenti Privati{% else %}{% if type %}{{ type }}{% else %}Punto Informativo{% endif %}{% endif %} - {{ block.super }}
{% endblock %}



{% block content %}
<div id="two-cols">
	<div class="content left" style="width:100%">
	  	{% if private_page %}
							
			<h2 class="title">{% trans 'Documenti Privati' %} </h2>	
			
		{% else %}	
			{% if type %}
				<h2 class="title">{{ type }}</h2>
			{% else %}
		    	<h2 class="title">{% trans 'Punto Informativo' %} </h2>
			{% endif %}
			{% ifequal type.id 3 %}
		    	<p style="text-align:center"><img align="center" src="{{ MEDIA_URL }}images/pi.jpg" alt="Punto Informativo" /></p>
		    	 <hr/>
			{% endifequal %}
		   
		{% endif %}
	  	
		
		{% autopaginate documents 12 %}


		{% regroup documents|dictsortreversed:"insert_date.year" by insert_date.year as documents_list %}			
		
			
			    {% for document_group in documents_list %}
				<div class="left" style="width:100%">				
					<h2 class="title_flat clear">{{ document_group.grouper }}</h2>

					<ul class="pdf_PI {% ifnotequal type.id 3 %}pvt{% endifnotequal %}">
						{% for document in document_group.list %}
							<li><h2><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></h2></li>
						{% endfor %}  
					</ul>
				</div>
					
				{% endfor %}
		{% paginate %}
    </div>  	
</div>
 <!-- COLONNA BANNERS   --> 
<div id="right-col">       
      {% block banners %}
        {% include "includes/banners.html" %}
    {% endblock %}
</div>
<div style="clear:both"></div> 	
{% if not private_page %}
<div style="display:none" >
	<a href="{% url documents_list_private %}" >{% trans "Accedi ai documenti privati" %}</a>		
</div>
{% endif %}
	
{% endblock %}