{% extends "events/base_events.html" %}
{% load i18n %}

{% block content_title %}
  <h2 class="title_flat">{% trans "Modulistica per iscrizione aziende/dipendenti" %}</h2>
{% endblock %}


{% block content %}
	<div class="content">
	  	{% if private_page %}
			<h2 class="title_flat">				
				{% trans 'Modulistica per iscrizione aziende/dipendenti: ' %} 
			</h2>
		{% endif %}
	  		
		<div class="">
			<ul class="enti">
			    {% for document in documents %}
					<li style="padding-left:30px;background:none;"><a target="_blank" href="{{ document.get_absolute_url }}">{{ document }}</a></li>  
				{% endfor %}
			</ul>
		</div>
	</div>
	
	
	
	
	
	
	{% if not private_page %}
	<div id="" >
		<a href="{% url documents_list_private %}" >{% trans "Accedi ai documenti privati" %}</a>		
	</div>
	{% endif %}
		
{% endblock %}