{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}{% trans 'Registrazione' %}{% endblock %}

{% block content %}
	<h2>{% trans 'Registrazione' %}</h2>

	<form action="." method="post">{% csrf_token %}

		{% if form.hidden_fields %}
			{% for item in form.hidden_fields %}
				{{ item }}
			{% endfor %}
		{% endif %}

		{% if form.non_field_errors %}
			<p class="form-error">
				{% for error in form.non_field_errors %}
				<span class="form-error-msg">{{ error }}</span>
				{% endfor %}
			</p>
		{% endif %}

  <form action="." method="post">{% csrf_token %}
    {{ form.as_p }}
    <p class="submit"><button type="submit">{% trans "Invia" %}</button></p>
  </form>
{% endblock %}